		<div id="footer" class="footer section" role="contentinfo">
			<div class="section-canvas">
				<div class="footer-image">
					<img src="/images/footer-image_v_cf75df.png" alt="Your Adventure in Awesomeness"></div>
				<div class="social-links">
					<ul>
						<li class="facebook">
							<a href="#">
								<span class="icon"></span>
								<span class="caption">Like us on Facebook</span>
							</a>
						</li>
						<li class="twitter">
							<a href="#">
								<span class="icon"></span>
								<span class="caption">Follow us on Twitter</span>
							</a>
						</li>
						<li class="youtube">
							<a href="#">
								<span class="icon"></span>
								<span class="caption">Subscribe on Youtube</span>
							</a>
						</li>
						<li class="linkedin">
							<a href="#">
								<span class="icon"></span>
								<span class="caption">Follow us on LinkedIn</span>
							</a>
						</li>
						<li class="glassdoor">
							<a href="#">
								<span class="icon"></span>
								<span class="caption">Follow us on GlassDoor</span>

							</a>
						</li>
					</ul>
				</div>
				<div class="bottom-footer">
					<ul>
						<li>
							<a href="#">Press centre</a>
						</li>
						<li>
							<a href="#">Privacy &amp; cookies</a>
						</li>
						<li>
							<a href="#">Display Advertising</a>
						</li>
						<li>
							<a href="#">Accessibility statement</a>
						</li>
						<li>
							<a href="#">Terms of use</a>
						</li>
						<li>
							<a href="#">Meet our Editorial Team</a>
						</li>
					</ul>
				</div>
				<div class="copyright">
					<p class="info">All rights reserved &copy; Auto Trader Limited 2015</p>
					<a class="app" href="#">Get Auto Trader on all your mobile devices</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- global scripts used throughout the site -->

<script src="scripts/01-jquery-1.11.1.min.js"></script>
<script src="scripts/02-jquery.waypoints.min.js"></script>
<script src="scripts/03-sticky.min.js"></script>
<script src="scripts/04-navigation.js"></script>
<script src="scripts/05-common.js"></script>
<script src="scripts/10-toggle-long-content.js"></script>
<script src="scripts/99-init.js"></script>