<!-- navigation -->
<div id="container" class="container">
	<div class="container-canvas">
		<div class="mobile-top-bar">
			<div id="navigation-toggle" class="navigation-toggle">
				<span class="icon-bar"></span>
			</div>
			<div id="mobile-search-toggle" class="mobile-search-toggle">
				<div class="icon"></div>
			</div>
			<div class="mobile-logo">
				<a href="01-Home.html">
					<img src="/images/logo_v_034f22.png" alt="AutoTrader. What drives us is you.">					
				</a>
			</div>
		</div>

		<div id="header" class="header section" role="banner">
			<div class="top">
				<div class="top-canvas">
					<a href="01-Home.html">
						<div class="logo">
							<img class="dark" src="/images/logo_v_034f22.png" alt="AutoTrader. What drives us is you.">
							<img class="light" src="/images/logo-white_v_669e02.png" alt="AutoTrader. What drives us is you. White">
						</div>
					</a>
					<div class="header-job-search">
						<a class="back-to-site" href="http://www.autotrader.co.uk" target="_blank">Back to main site</a>
						<form action="#">
							<label>Search</label>
							<input class="input" type="text">
							<div class="auto-complete">
								<ul>
									<li>
										<a href="#">
											<span class="job-role">Development Lead</span>
											<span class="department">Technology</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="job-role">Relationship Developer</span>
											<span class="department">Customer Partnership</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="job-role">Back End Developer</span>
											<span class="department">Technology</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="job-role">Front End Developer</span>
											<span class="department">Technology</span>
										</a>
									</li>
									<li class="view-roles">
										<a href="#">
											<span>View All available roles</span>
										</a>
									</li>
								</ul>
							</div>
							<button class="button submit" type="submit" value="">
							</button>
						</form>
					</div>
				</div>
			</div>
			<div class="bottom" id="bottom">
				<div id="navigation-primary" class="navigation primary">
					<div class="navigation-canvas">

						<a href="01-Home.html" class="logo-fixed">
							<div class="icon"></div>
						</a>
						<ul class="first-level">
							<li class="current has-child">
								<a class="current-level" href="02i-working-for-us.html">Working for Us</a>
								<div class="next-level">
									<div class="icon"></div>
								</div>
								<div class="child-level">
									<h3 class="title">Working for Us</h3>
									<ul>
										<li>
											<a href="08-Jobs-Landing.html">Culture</a>
										</li>
										<li>
											<a href="12-awesome-locations.html">Location</a>
										</li>
										<li>
											<a href="08-Jobs-Landing.html">Benefits</a>
										</li>
										<li>
											<a href="08-Jobs-Landing.html">Tribes</a>
										</li>
									</ul>
								</div>
							</li>

							<li class="has-child">
								<a class="current-level" href="03-our-jobs-and-people.html">Our Jobs &amp; People</a>
								<div class="next-level">
									<div class="icon"></div>
								</div>
								<div class="child-level">
									<h3 class="title">Our Jobs &amp; People</h3>
									<ul>
										<li>
											<a href="08-Jobs-Landing.html">Technology Jobs</a>
										</li>
										<li>
											<a href="08-Jobs-Landing.html">Customer Partnership Jobs</a>
										</li>
										<li>
											<a href="08-Jobs-Landing.html">Finance &amp; Business Support Jobs</a>
										</li>
										<li>
											<a href="08-Jobs-Landing.html">Advertising Sales &amp; Marketing</a>
										</li>
									</ul>
								</div>
							</li>

							<li>
								<a href="05ii-Vacancies-with-Results.html">Search &amp; Apply</a>
							</li>
							<li>
								<a href="06-Blogs-Events.html">Blogs &amp; Events</a>
							</li>
							<li>
								<a href="08-Jobs-Landing.html">Graduates</a>
							</li>
							<li>
								<a href="#">About Us</a>
							</li>
							<li>
								<a href="11-contact-us.html">Contact</a>
							</li>
						</ul>
						<div id="desktop-search-toggle" class="desktop-search-toggle">
							<div class="icon"></div>
						</div>
						<div class="search-form-container">
							<form class="search-form" id="mobile-job-search" action="#">
								<div class="text-field">
									<div class="input-container">
										<input class="input" type="text" placeholder="Job Criteria">
										<div class="auto-complete">
											<ul>
												<li>
													<a href="#">
														<span class="job-role">Development Lead</span>
														<span class="department">Technology</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="job-role">Relationship Developer</span>
														<span class="department">Customer Partnership</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="job-role">Back End Developer</span>
														<span class="department">Technology</span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="job-role">Front End Developer</span>
														<span class="department">Technology</span>
													</a>
												</li>
												<li class="view-roles">
													<a href="#">
														<span>View All available roles</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<input class="submit" type="submit" value="Search">
								</div>
							</form>
						</div>
					</div>
				</div>
<!-- 				<div class="breadcrumbs">
					<div class="breadcrumbs-canvas">
						<a href="#">Home</a>
						<a href="#">Working For Us</a>
						<a href="#">Awesome Locations</a>			
					</div>
				</div> -->
			</div>
		</div>