<div class="module m-share-links">
	<div class="module-canvas">
		<div class="module-header-single">
			<h2>Share</h2>
		</div>
		<div class="share-links-list">
			<ul>
				<li><a href="#" class="share-link share-link-fb">Facebook</a></li>
				<li><a href="#" class="share-link share-link-twitter">Twitter</a></li>
				<li><a href="#" class="share-link share-link-linkedin">LinkedIn</a></li>
				<li><a href="mailto:contact@domain.tld" class="share-link share-link-envelope">Email</a></li>
			</ul>
		</div>
	</div>
</div>
