.button-list {
	@extend .clearfix;
	text-align: center;
	.button, button {
		display: inline-block;
		margin-bottom: convert-px(5);
		border-radius: 5px;
	}
}
.button, button {
	@include transition(all ,.2s);
	@include gradient-no-ie($grey-lightest, $grey-lighter, vertical);
	background-color: $grey-lightest;
	box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 0.3) inset;
	border: 1px solid $grey;

	.lt-ie9 & {
		box-shadow: 1px 1px 0px 0px $white inset;
	}
	&:hover {
		opacity: 0.8;
	}
	&.go {
		@include gradient-no-ie($green, $green-dark, vertical);
		background-color: $green;
		border-color: $green-dark;
		color: $white;
	}
	&.error {
		@include gradient-no-ie($red, $red-dark, vertical);
		background-color: $red;
		border-color: $red-dark;
		color: $white;
	}
	&.alternate {
		@include gradient-no-ie($blue-light, $blue, vertical);
		background-color: $blue;
		border-color: $blue;
		color: $white;
	}
	&.neutral {
		@include gradient-no-ie($white, $grey-lighter, vertical);
		background-color: $white;
		border-color: $white;
		box-shadow: 1px 1px 0px 0px rgba($grey-lighter, .6) inset;
	}
	&.grey {
		@include gradient-no-ie($white, $grey, vertical);
		background-color: $white;
		border-color: $white;
		box-shadow: 1px 1px 0px 0px rgba($grey-lighter, .6) inset;
	}
}

@include breakpoint(2) {
	.button-list {
		.button, button {
			float: left;
			margin: 0;
			border-radius: 0;
		}
		:first-child {
			border-radius: 5px 0px 0px 5px;
		}	
		:last-child {
			border-radius: 0px 5px 5px 0px;
		}	
	}
}