/*
Responsive debug bar - For aiding responsive development. This should not be enabled in production.
The debug bar can be enabled/disabled in the variables.scss file by updating it to "true" or "false".
You can update the breakpoints by updating their variable values in the variable.scss file. These are set as pixel values and converted to ems.
*/

//Default configuration (Do not change debug status here. Change in _variables.scss)
$debug: false !default;

@if $debug == true {
	body {
		&:before {
			position: relative;
			display: block;
			z-index: 999;
			text-align: center;
			display: block;
			background-color: yellow;
			font-size: 0.8em;
			color: #000;
			content: "Mobile First (No breakpoint Set)";
		}
	}

	/* 1st breakpoint, target portrait tablets */
	@include breakpoint(1) {
		body {
			&:before {
				background-color: green;
				content: "1st breakpoint (Portrait tablets)";
			}
		}
	}
	
	/* 2nd breakpoint, target landscape tablets and small desktops */
	@include breakpoint(2) {
		body {
			&:before {
				background-color: orange;
				content: "2nd breakpoint (Landscape tablets and small desktops)";
			}
		}
	}
	
	/* 3rd breakpoint, target desktop monitors, etc */
	@include breakpoint(3) {
		body {
			&:before {
				background-color: cyan;
				content: "3rd breakpoint (Desktops)";
			}
		}
	}

	/* 4th breakpoint, target large monitors, etc */
	@include breakpoint(4) {
	  	body {
			&:before {
				background-color: blue;
				color: #fff;
				content: "4th breakpoint (Large desktops)";
			}
		}
	}
}