input {
	vertical-align: middle;

	&[type=submit] {
		@extend .button;
	}
	&[type=checkbox], &[type=radio] {
		border: none;
		background-color: transparent;
	}
}
input, select {
	border: 1px solid $grey;
	background: $white;
	padding: $margin/3;
}
input[type="text"], .dropdown, select {
	// box-shadow: inset 0 0 10px rgba(black, .15);

	&:hover {
		border-color: $grey-dark;
	}
	&.focus, &:focus {
		border-color: $blue-lightest;
		box-shadow: inset 0 0 10px rgba($blue-lightest, 0.3);
	}
}
textarea {
	@include box-sizing;
}

form {
	.dropdown {
		width: 100%;
		color: $black;

		&:last-child {
			margin-bottom: 0;
		}
		li {
			padding: $margin/4;
		}
		&.open {
			.selected:after {
				@include transform(rotate3d(0, 0, 1, 180deg) translate3d(0, 6px, 0));

				.lt-ie10 & {
					border-color: transparent transparent $blue transparent;
					top: 0;
					bottom: 6px;
				}
			}
		}
	}
	.selected {
		padding: $margin/3;

		&:before, &:after {
			content: '';
			position: absolute;
		}
		&:before {
			@include gradient-no-ie($grey-lighter, $grey-light, vertical);
			box-shadow: inset 0 0 10px rgba(black, .10);
			right: 0;
			top: 0;
			height: 100%;
			width: convert-px(35);
			border-radius: 0px 5px 5px 0;
		}
		&:after {
			@include transition (all, .2s);
			width: 0;
			height: 0;
			right: 12px;
			top: 6px;
			bottom: 0;
			margin: auto;
			border: 6px solid $blue;
			border-color: $blue transparent transparent transparent;
		}
	}
	input, .dropdown, select {
		border-radius: 5px;
		@include transition (all, .2s);
	}
}