body {	
	background: $body-background;
	font-family: $base-font-family;
	color: $text-color;
	font-size: $font-size-default;
	line-height: $line-height-default;
}

h1, h2, h3, h4, h5, h6, ol, ul, p {
	margin-top: 0;
}

h1 {
	font-size: convert-px(36);
	line-height: $heading-line-height-large;
}

h2 {
	font-size: convert-px(30);
	line-height: $heading-line-height-default;
}

h3 {
	font-size: convert-px(20);
	line-height: $heading-line-height-small;
}

h4 {
	font-size: convert-px(16);
}

h5 {
	font-size: convert-px(14);
	text-transform: uppercase;
}

@include breakpoint(2) {
	h1 {
		font-size: convert-px(48);
	}

	h2 {
		font-size: convert-px(36);
	}
}

p, li {
	line-height: $line-height-default;
}

a {
	color: $link-color;
	&:hover {
		color: $link-color-hover;
	}
}
