//Default configuration (Do not change here. Change in _variables.scss)
$grid-width: 960px !default;
$grid-columns: 12 !default;
$grid-gutter-width: 2% !default;

$grid-gutter-width: ($grid-gutter-width * $grid-width) / 100%;
$total-width: $grid-width + $grid-gutter-width;
$grid-column-width: ($total-width / $grid-columns);

$grid-gutter-width: percentage($grid-gutter-width/$total-width);
$grid-column-width: percentage($grid-column-width/$total-width);

// Use the "create-grid" mixin to create the grid in the chosen breakpoint of your styles.scss.
// A parameter 'false' will NOT round grid unit percentage values whereas a parameter of 'true' will round values to avoid sub-pixel rendering issues. ie. in Chrome
// Default value is 'true' (rounded).
// e.g. @include grid-create;
// e.g. @include grid-create(false);


@mixin grid-create($rounding: true) {
	.row {
		clear: both;
		position: relative;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		@if $rounding == false {
			margin-left: -$grid-gutter-width; 
		} @else {
			margin-left: round(-$grid-gutter-width);
		}
		zoom: 1;
		&:before, &:after {
			content: " ";
			display: table;
		}
		&:after {
			clear: both;
		}
	}

	%col {
		position: relative;
		display: block;
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	/* Grid units are made up of a single gutter width (in %) divided by the total number of actual grid units (number) which is then added to each of the grid units as a left margin to create a gutter. Grid unit widths (in %) are calculated automatically, determined by the grid width and amount of columns specified in the configuration. */
	
	$grid-gutter-width: ($grid-gutter-width * $grid-width) / 100%;
	$total-width: $grid-width + $grid-gutter-width;
	$grid-column-width: ($total-width / $grid-columns); 

	$grid-gutter-width: percentage($grid-gutter-width/$total-width);
	$grid-column-width: percentage($grid-column-width/$total-width);

	@for $i from 1 through $grid-columns {

		@if $rounding == false {
			.gu#{$i} {
				@extend %col;
				width: ($grid-column-width * $i) - $grid-gutter-width;
				margin-left: $grid-gutter-width;
				//Helper Class
				&.no-gutter {
					width: $grid-column-width * $i;
					margin-left: 0;
				}
			}
		} @else {
			.gu#{$i} {
				@extend %col;
				width: round(($grid-column-width * $i) - $grid-gutter-width);
				margin-left: round($grid-gutter-width);
				//Helper Class
				&.no-gutter {
					width: round($grid-column-width * $i);
					margin-left: 0;
				}
			}
		}

	}

	@for $i from 1 through $grid-columns {

		@if $rounding == false {
			.offset-gu#{$i} {
				margin-left: ($grid-column-width * $i) + $grid-gutter-width;
			}
		} @else {
			.offset-gu#{$i} {
				margin-left: round(($grid-column-width * $i) + $grid-gutter-width);
			}
		}
	}

	//Helper Class
	.pull-right {
		float: right;
	}
}
