.lightbox {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: table;
	@include transition(all, .2s);
	.lightbox-canvas {
		padding: 5%;
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		position: relative;
		z-index: 10;

		.close-button {
			@include transition(all, .2s);
			cursor: pointer;
			position: absolute;
			top: convert-px(5);
			right: convert-px(5);
			@include icon-circle-close-black;
			opacity: 1;
			z-index: 10;
			&:hover {
				opacity: 0.7;
			}
		}
	}
	.lightbox-content {
		z-index: 8;
		position: relative;
		background: rgba($white, .2);
		max-width: $grid-width;
		padding: $margin*1.5;
		margin: auto;
		.no-rgba & {
			background: url('../images/bg-overlay-white_v_0313b0.png');
		}
	}
	&.open {
		visibility: visible;
		opacity: 1;
	}
	.lightbox-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 7;
	}
}
.lightbox-trigger {
	cursor: pointer;
}



