.m-awesome-locations {
	text-align: center;
	> .module-canvas {
		padding-bottom: 0;
	}
	.module-header-single {
		max-width: 80%;
		padding: 0;
		padding-top: $margin;
		margin-bottom: $margin;

		h2 {
			margin: 0;
			font-size: convert-px(20);
		}
	}
	.text {
		font-size: convert-px(18);
		color: $blue;

		p:last-child {
			margin: $margin 0;
		}
		a {
			text-decoration: underline;
			font-weight: bold;
		}
		h2 {
			font-size: convert-px(18);
			margin-bottom: 0;
			margin-top: $margin;
		}
	}
	.map-legend {
		ul {
			@extend .clearfix;
			width: 111%;
			margin-left: -5.5%;
		}
		li {
			@include transition(all, .3s);
			cursor: pointer;
			background: $white;
			border: 1px solid $blue;
			border-bottom-width: 0;

			&:last-child {
				border-bottom-width: 1px;
			}
			&.open {
				.icon {
					@include transform(rotate3d(0, 0, 1, 135deg));
				}
			}
			&.de-active {
				opacity: 0.4;
			}
		}
		img {
			max-width: convert-px(80);
		}
		figure {
			@extend .clearfix;
			padding: convert-px(20);
		}
		figcaption, img {
			width: 50%;
			vertical-align: middle;
			display: inline-block;
		}
		figcaption {
			max-width: 120px;
			margin-left: convert-px(10);
			font-weight: normal;
			color: $blue;
		}
		.description-trigger {
			background: $blue;
			padding: convert-px(3) 0;

			.icon {
				@include transition(all, .3s);
				margin: auto;
				@include icon-plus-white;
			}
		}
		.info {
			display: none;
			padding: convert-px(20);
		}
	}
	.tab-content {
		position: relative;
	}
	button {
		outline: 0;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	.infobox {
		@include transition(all, .3s);
		position: relative;
		display: none;
		background: $white;
		width: convert-px(300);
		position: absolute;
		bottom: convert-px(250);
		left: 0;
		right: 0;
		margin: auto;
		z-index: 10;
		opacity: 0;
		visibility: hidden;
		text-align: left;
		.content {
			padding: convert-px(15);
		}
		h3 {
			margin-bottom: convert-px(10);
			font-size: convert-px(18);
			color: $blue;
		}
		p {
			font-size: convert-px(14);
			margin-bottom: 0;
		}
		.label {
			text-transform: uppercase;
			padding: convert-px(15);
			color: $white;
			background: $blue;
			cursor: pointer;
		}
		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border: 20px solid $white;
			border-color: $white transparent transparent transparent ;
			left: 0;
			right: 0;
			margin: auto;
			bottom: -40px;
		}
		.close {
			@include icon-cross-white;
			position: absolute;
			right: convert-px(15);
			top: convert-px(10);
		}
		&.open {
			opacity: 1;
			visibility: visible;
		}
	}
}

@include breakpoint(2) {
	.m-awesome-locations {
		.infobox {
			display: block;
		}
		.map {
			@include aspect-ratio(10, 6);
			.canvas > div {
				height: 100%;
				width: 100%;
			}
		}
		.tab {
			padding-top: 0;
		}
		.map-legend {
			ul {
				width: 100%;
				margin: 0;
			}
			li {
				background: none;
				border: none;
				float: left;
				width: 25%;
				margin-bottom: 0;
				height: convert-px(200);
			}
			figcaption, img {
				width: auto;
				display: block;
				margin: auto;
			}
			img {
				margin-bottom: $margin/2;
				width: 100%;
				max-width: convert-px(120);
			}
			.description-trigger, .info {
				display: none !important;
			}
		}
	}
}
@media screen and (min-width: convert-px(900)) {
	.m-awesome-locations {
		.map-legend {
			li {
				height: auto;
				width: 12.5%;
			}
		}
	}
}
@media screen and (min-width:convert-px(1024)) {
	.m-awesome-locations {
		.text {
			max-width: 70%;
			margin: auto;
		}
	}
}