.m-blog-list {
	min-height: convert-px(700);
	background-color: $white;
	.module-canvas {
		margin-top: 0;
	}
	.post-filter {
		ul {
			@extend .button-list;
		}
		@extend .clearfix;
		margin: $margin/2 0;
		li {
			@extend .button;
			@extend .alternate;
			color: $white;
			padding: convert-px(8) convert-px(15);
			cursor: pointer;
			&.active {
				opacity: .8;
			}
			.lt-ie9 & {
				border-right: 1px solid $white;
				&:hover, &.active {
					background: $blue-dark;
				}
				&:last-child {
					border: none;
				}
			}
		}
		.no-js & {
			display: none;
		}
	}

	.post-list {
		position: relative;
		margin-left: -$margin/2;
		@extend .clearfix;
		.no-js & {
			display: block;
		}
	}
	.post-item {
		padding-left: $margin/2;
		padding-bottom: $margin/2;
		float: left;
		p {
			margin-bottom: 0;
		}
		.no-js & {
			float: left;
		}
	}
	.post-item-canvas {
		padding: $margin/2;
		background: $grey-lightest;
		border: 1px solid $blue-lightest;
	}
	.graphics {
		img {
			width: 100%;
		}
	}
	.meta-data {
		padding-bottom: $margin/2;
	}
	.meta-data {
		color: $blue;
		@extend .clearfix;
	}
	.category, .date {
		font-weight: normal;
		margin: 0;
	}
	.category {
		float: left;
		font-size: convert-px(16);
		line-height: convert-px(32);
		text-transform: uppercase;
		margin: 0;
	}
	.category-icon {
		float: right;
	}
	.date {
		clear: both;
		font-size: convert-px(12);
		color: $grey-darker;
	}
	.text {
		padding-top: $margin/2;
		a {
			display: block;
			@include transition(all, .2s);
			&:hover {
				color: $blue;
				opacity: .7;
			}
		}
		.title {
			color: $blue;
			font-size: convert-px(18);
			line-height: 1.3;
			margin-bottom: $margin/3;
			font-weight: normal;
		}
		.summary {
			font-size: convert-px(14);
			a {
				margin-top: $margin/2;
				display: block;
			}
		}
		.interact {
			@extend .clearfix;
			padding-top: $margin/2;
			text-align: center;
			a {
				// float: left;
				// width: 33.33%;
				// display: block;
				display: inline-block;
				margin-right: convert-px(30);
				&:last-child {
					margin: 0;
				}
				div {
					margin: auto;
				}
				.caption {
					font-size: convert-px(14);
				}
			}
			.icon {
				min-height: 32px;
			}
		}
		.like {
			.icon {
				@include icon-like;
			}
		}
		.share {
			.icon {
				@include icon-share;
			}
		}
		.follow {
			.icon {
				@include icon-plus;
			}
		}
		.retweet {
			.icon {
				@include icon-retweet;
			}
		}
		.favorite {
			.icon {
				@include icon-star;
			}
		}
		.read-more {
			span {
				vertical-align: middle;
				display: inline-block;
			}
			.icon {
				@include icon-arrow-right-circle;
			}
		}
	}
	.category-news {
		.category-icon {
			@include icon-newspaper;
		}
	}
	.category-event {
		.category-icon {
			@include icon-calendar;
		}
		.host, .location {
			font-size: convert-px(14);
			color: $grey-darker;
			font-weight: lighter;
			margin-bottom: 5px;
		}
		.host {
			margin-bottom: $margin/2;
			strong {
				font-weight: normal;
			}
		}
		.text {
			padding-top: 0;
		}
	}
	.category-blog {
		.category-icon {
			@include icon-blog;
		}
	}		
	.category-twitter {
		.text {
			padding-top: 0;
		}
		.category-icon {
			@include icon-twitter-no-circle;
		}
	}		
	.category-linkedin {
		.interact {
			a {
				width: 30%;
				float: none;
				display: inline-block;
			}
		}
		.category-icon {
			@include icon-linkedin-no-circle;
		}
	}
}
@include breakpoint(1) {
	.m-blog-list {
		> .module-canvas {
			padding: 1em 2em 0;
		}
	}
}
@include breakpoint(2) {
	.m-blog-list {
		.post-item {
			width: 33.33%;
		}
	}
}