.m-content {
	padding: 0 $side-padding 0;

	.module-canvas {
		background: $white;
	}

	h3,
	h4,
	h5,
	h6 {
		color: $blue;
		margin: 1.2em 0 0.2em 0;
		&.section-start {
			margin-top: 2.8em;
		}	
	}

	img {
		margin: 1em 0;
	}

	ul {
		list-style-position: outside;
		list-style-type: disc;
		padding: 0 0 0 2em;
	}

	li {
		margin: 0.4em 0;
	}

	.action {
		margin: 2em 0 1.5em;
	}

	.btn-apply {
		padding: 0.4em 2.5em;
		border-radius: 5px;
	}

	.m-image-list {
		img {
			margin: 0;
		}
	}
}


@include breakpoint(1) {
	.m-content {
		.action {
			margin: 2em 0 1em;
		}

	}
}


@include breakpoint(2) {
	.m-content {
		.action {
			margin: 2.5em 0 0.5em;
		}
	}
}
@include breakpoint(3) {
	.m-content {
		> .module-canvas {
			padding: $margin*2 $margin*7;
		}
	}
}