.m-contact {
	.module-header-single {
		max-width: 80%;
		padding: 0;
		margin-bottom: $margin;
		&:before {
			display: none;
		}
		h2 {
			margin: 0;
		}
	}
	.map {
		@include aspect-ratio(10, 10);
		iframe {
			width: 100%;
			height: 100%;
		}
		.no-js & {
			display: none;
		}
	}
	address {
		font-style: normal;
		text-transform: none;
		text-align: center;
		font-size: convert-px(18);
		line-height: 1.4;
		color: $blue;
		margin-bottom: $margin;
	}
	.job-search-link {
		display: block;
		text-align: center;
		font-size: convert-px(18);
		text-decoration: underline;
		margin-bottom: $margin;
	}
	.contact-info {
		@extend .clearfix;
		display: table;
		margin: auto;
		margin-bottom: $margin;
	}
	.phone, .email {
		@extend .clearfix;
		max-width: convert-px(380);
		margin-bottom: $margin/2;
		width: 100%;
		text-align: left;
		text-transform: none;
		display: block;
		height: convert-px(72);
		.lt-ie9 & {
			height: auto;
		}
		background: $blue;
		padding: convert-px(10);
		@include transition(all, .3s);
		&:hover {
			background: lighten($blue, 7%);
			.value {
				&:before {
					@include transform(scale3d(1,.5,1));
				}
			}
		}
		.value {
			height: 100%;
			color: $white;
			padding-left: convert-px(30);
			margin-left: convert-px(50);
			position: relative;
			&:before {
				@include transition(all, .2s);
				content: '';
				position: absolute;
				width: 1px;
				margin: auto;
				height: convert-px(32);
				left: convert-px(15);
				bottom: convert-px(10);
				background: $white;
			}
		}
		.icon {
			float: left;
		}
		&.last-child {
			margin: 0;
		}
	}
	.phone {
		.value {
			line-height: 52px;
		}
		.icon {
			@include icon-phone;
		}
	}
	.email {
		.icon {
			@include icon-email;
		}
	}
}
@include breakpoint(2) {
	.m-contact {
		.map {
			@include aspect-ratio(10, 6);
		}
		.contact-info {
			max-width: convert-px(700);
			display: block;
		}
		.phone, .email {
			margin-bottom: 0;
			width: 49%;
			float: left;
			margin-left: 2%;
			display: table;
			&:first-child {
				margin: 0;
			}
			.icon, .value {
				float: none;
				@include transition(all, .3s);
				display: table-cell;
				vertical-align: middle;
			}
			.value {
				&:before {
					bottom: convert-px(10);
				}
			}
		}
	}
}