.carousel-container {
	position: relative;
	background: $white;
	.prev, .next, .back-to-first {
		@include transition(all, .2s);
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		z-index: 9;
		cursor: pointer;
		@include opacity(.4);

		&:hover {
			@include opacity(.3);
		}
		display: none;
	}
	.prev {
		left: -10px;
		@include icon-transparent-arrow-left-small;
	}
	.next {
		right: -10px;
		@include icon-transparent-arrow-right-small;
		.hidden {
			visibility: hidden;
			opacity: 0;
		}
	}
	.back-to-first {
		right: -10px;
		@include icon-transparent-arrow-right-small;
	}
	.skip-carousel {
		@include transition(all, .4s);
		position: absolute;
		bottom: convert-px(20);
		left: convert-px(20);
		z-index: 9;
		padding: convert-px(5) convert-px(10);
		background: rgba($white, .3);
		border-radius: 5px;
		.text {
			color: #111;
			line-height: 1;
			font-size: convert-px(12);
			font-weight: 700;
		}
		&:hover {
			background: rgba($white, .4);
		}
		.no-js & {
			visibility: hidden;
		}
	}
}
.m-carousel {
	padding: 0;
	.title {
		span {
			@extend .visuallyhidden;
		}
	}
	.slide-bg {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		background-position: center center;
	}
	.rays {
		position: absolute;
		width: 250%;
		height: 250%;
		top: -75%;
		left: -75%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.slide {

		height: 83vh;
		.lt-i9 & {
			height: 500px;
		}
		text-align: center;
		width: 100%;
		position: relative;
		overflow: hidden;
		.no-js & {
			min-height: auto;
		}
		&:before, &:after {
			@include transition(all, 0.4s);
			content: '';
			left: 0;
			top: 0;
		}
		&:before {
			line-height: 1em;
			text-align: center;
			position: absolute;
			background: $white;
			width: 100%;
			height: 100%;
			z-index: 9;
			.no-js & {
				display: none;
			}
		}
		&:after {
			position: absolute;
			width: 64px;
			height: 64px;
			bottom: 0;
			right: 0;
			margin: auto;
			background: url('../images/spinner_v_893ae6.gif');
			z-index: 10;
		}
		&.loaded {
			&:before {
				.csstransforms3d & {
					@include transform(translate3d(-100%,0,0));
				}				
			}
			&:after {
				.csstransforms3d & {
					opacity: 0;
					visibility: hidden;
				}
			}
			&:before, &:after {
				.no-csstransforms3d & {
					visibility: hidden;
				}
			}
		}
	}
	.slide-canvas {
		margin: auto;
		display: table;
		width: 90%;
		height: 100%;
		text-align: center;
		position: relative;
		overflow: hidden;
		background-size: cover;
		background-position: 50% 50%;
		max-width: $grid-width;

		img {
			width: 100%;
			height: auto;
			display: block;
			@include user-select-none();
		}
		@include orientation(landscape) {
			width: 30%;
		}
	}
	.slide-0 {
		.star {
			// display: table;
			margin: auto;
			width: 15%;
			max-width: convert-px(170);
			margin-bottom: convert-px(10);
		}
		.heading-text {
			display: table-cell;
			vertical-align: middle;
			position: relative;
			left: 0%;
		}
		.your-adventure {
			width: 54%;
			margin: auto;
			max-width: convert-px(707);
			margin-bottom: convert-px(11);
		}
		.letters {
			@extend .clearfix;
			margin: auto;
			width: 100%;
			max-width: 1100px;
			opacity: 1;
			position: relative;
			margin-bottom: convert-px(44);
		}
		.letter {
			position: absolute;

			img {
				width: 100% !important;
				vertical-align: bottom;
				width: auto;
			}
		}
		.letter-a {
			width: 18.18%;
			position: relative;
		}
		.letter-w {
			width: 9.818%;
			left: 16%;
			top: 20%;
		}
		.letter-e {
			width: 8.5%;
			left: 26%;
			top: 20%;
		}
		.letter-s {
			width: 8%;
			left: 33.6%;
			top: 17.7%;
		}
		.letter-o {
			left: 42%;
			top: 21%;
			width: 7.5%;
		}
		.letter-m {
			width: 17.5%;
			left: 44.1%;
			top: 10%;
		}
		.letter-e2 {
			left: 59.5%;
			top: 27%;
			width: 9.5%;
		}
		.letter-n {
			left: 69%;
			top: 20%;
			width: 8%;
		}
		.letter-e3 {
			left: 77%;
			top: 22%;
			width: 6.2%;
		}
		.letter-s2 {
			left: 83.3%;
			top: 19%;
			width: 8.6%;
		}
		.letter-s3 {
			left: 92%;
			top: 19%;
			width: 8.1%;
		}
		.start-here {
			@extend .clearfix;
			position: relative;
			margin: auto;
			width: 30%;

			.cta {
				cursor: pointer;
				position: relative;
				width: 100%;
			}
		}
		.arrow-left, .arrow-right {
			width: 52%;
			position: absolute;
		}
		.arrow-left {
			left: -65%;
			bottom: 25%;
		}
		.arrow-right {
			right: -65%;
			bottom: 25%;
		}
		.slide-canvas {
			@media all and (orientation:landscape) {
				width: 75%;
			}
		}
	}
	.slide-1 {
		background: $blue;
		@include radial-gradient(lighten($blue, 20%), $blue, 0, 100%);

		.building-plate, .forever-evolving {
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;

			> div {
				width: 100%;
			}
		}
		.forever-evolving {
			width: 70%;
			top: 10%;

			.normal {
				opacity: 1;
			}
			.hover {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		.building-plate {
			width: 40%;
			bottom: 0;
			@media all and (max-height: 800px) and (min-width: 1100px ) {
				.graphic {
					display: none;
				}
				
			}
		}
		.see-our-values {
			max-width: convert-px(200);
			width: 120% !important;
			position: absolute;
			top: -20%;
			left: -6% !important;
			right: 0;
			margin: auto;
			@media all and (max-height: 800px) and (min-width: 1100px ) {
				position: relative;
				top: -100px;
			}
			.arrow-left, .arrow-right {
				width: 50%;
				position: absolute;
				bottom: 20%;
			}
			.arrow-left {
				left: -60%;
			}
			.arrow-right {
				right: -60%;
			}
		}
		.slide-canvas {
			@include transition(all, .2s);
		}
		.lightbox-open & {
			.slide-canvas {
				visibility: hidden;
				opacity: 0;
			}
		}
		.lightbox {
			.close-button {
				@include icon-circle-close-white;
			}
		}
		.lightbox {
			background: rgba($blue, 0.4);

			.lt-ie9 & {
				background: $blue;
			}
		}
		.lightbox-content {
			padding: 1%;
		}		
		.simple-tab {
			.content-item {
				padding-bottom: $margin * 1.5;
			}
			.graphic {
				width: 80%;
				margin: auto;
				max-width: convert-px(450);
				margin-bottom: $margin/2 ;
				@include orientation(landscape) {
					max-width: convert-px(100);
				}
			}
			p {
				color: $white;
				max-width: 80%;
				margin: 0 auto $margin/2;
				font-size: convert-px(14);
				min-height: convert-px(110);
			}
			.tab-nav {
				max-width: convert-px(640);
				position: absolute;
				bottom: $margin/2;
				margin: auto;
				left: 0;
				right: 0;

				@include orientation(landscape) {
					width: 50%;
				}
			}
		}
	}
	.slide-2 {
		.skateboard-container, .take-the-tour {
			margin: auto;
		}
		.lightbox-content {
			padding: $margin*1.5 $margin;			
			background: rgba(255, 255, 255, 0.85);
		}

		.skateboard-container {
			max-width: convert-px(475);
			width: 60%;
			height: 100%;
			display: table;

			@include orientation(landscape) {
				width: 72%;
			}
			.lt-ie10 & {
				margin-top: 30%;
			}
		}
		.slide-bg {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			background-position: center center;

			@include orientation(portrait) {
				@include transform(rotate(90deg) scale(2));
				width: 50vh;
				height: 50vw;
				background-position: center -10%;
			}
		}
		.skateboard {
			width: 100%;
			display: table-cell;
			vertical-align: middle;
			position: relative;

			@include orientation(landscape) {
				top: -4%;
			}
		}
		.graphic {
			margin-bottom: $margin;
		}
		.take-the-tour {
			left: 0;
			right: 0;
			margin: auto;
			width: 80%;
			max-width: convert-px(200);
			bottom: -20%;
			position: relative;
		}
		.arrow-left, .arrow-right {
			position: absolute;
			width: 50%;
			bottom: 20%;
		}
		.arrow-left {
			left: -60%;
		}
		.arrow-right {
			right: -60%;
		}
		.lightbox-canvas {
			padding: 0;
			background: transparent;
		}
		.lslide {
			img {
				width: 100%;
			}
		}
		.lSGallery {
			display: none;
			@include transform(none !important);
			left: 0 !important;
			width: auto !important;
			margin-top: convert-px(10) !important;
			margin-left: convert-px(-10) !important;
			position: relative;
			z-index: 2;

			li {
				@include transition(all, .2s);
				width: 25% !important;
				padding-left: convert-px(10);
				margin: 0 !important;

				img {
					width: 100%;
				}
				&.active, &:hover {
					opacity: 0.5;
					border-radius: 0;
				}
			}
		}
	}
	.slide-3 {
		.slide-canvas {
			@include orientation(landscape) {
				width: 45%;
			}
		}
		.floating {
			visibility: hidden;
			position: absolute;
		}
		.simple-tab {
			max-width: convert-px(250);
			width: 55%;
			margin: auto;
			display: table;
			height: 100%;

			.lt-ie10 & {
				margin-top: 5%;
			}
			@include orientation(landscape) {
				max-width: convert-px(150);
			}
		}
		.simple-tab-canvas {
			vertical-align: middle;
			display: table-cell;
		}
		.tab-content {
			padding-bottom: $margin;
		}
		.tab-nav {
			position: relative;
			&:after {
				background: none;
			}
		}
		.normal, .hover {
			@include transition(all, .4s);
			text-align: center;
			margin: auto;
			display: table;
			.lt-ie10 & {
				display: block;
			}
			img {
				width: 100%;
				max-width: convert-px(60);
			}
		}
		.normal {
			position: absolute;
			height: 0;
			left: 0;
			right: 0;
			top: 15%;
			margin: auto;
			width: 60%;
			img {
				max-width: convert-px(44);
			}
		}
		.hover {
			max-width: 100%;
			position: relative;
			visibility: hidden;
			opacity: 0;
		}
		.arrow-left, .arrow-right {
			display: none;
		}
		.nav-item {
			&:before {
				// display: none;
				position: absolute;
				top: -25px;
				left: 0;
				right: 0;
				border-radius: 0;
			}
			&.active:before {
				background: #FF49C2 none repeat scroll 0% 0%;
				border: 1px solid #FF49C2;
			}
			top: 30px;
			width: 33.33%;
			position: relative;
			opacity: 1;
			padding: 0;
			> div {
				max-width: 90%;
			}
			&.item-3 {
				img {
					position: relative;
					top: -2px;
				}
			}
			&.active {
				.hover {
					opacity: 1;
					visibility: visible;
				}
				.normal {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
	
		.arrow-left, .arrow-right {
			position: absolute;
			width: 40%;
			// bottom: 20%;
		}
		.arrow-left {
			left: -50%
		}
		.arrow-right {
			right: -50%
		}
	}
	.slide-4 {
		@include radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3), 40%, 100%);
		background-color: #efc33f;
		
		.slide-canvas {
			overflow: visible;
			display: table;
			@include transition(all, .3s);

			.lightbox-open & {
				opacity: 0;
				visibility: hidden;
			}
			.kesh {
				@extend %display-table;
				position: absolute;
				max-width: convert-px(200);
				width: 20%;
				bottom: 25%;
				right: -70%;

				.lt-ie10 & {
					visibility: hidden;
				}
			}
		}
		.digital-journey {
			width: 75%;
			margin: 0 auto $margin;
		}
		.kesh-story {
			left: 0;
			right: 0;
			margin: 0 auto $margin;
			width: 60%;
			max-width: convert-px(155);
			bottom: -20%;
			position: relative;
		}
		.arrow-left, .arrow-right {
			position: absolute;
			width: 50%;
			bottom: 20%;
		}
		.arrow-left {
			left: -60%;
		}
		.arrow-right {
			right: -60%;
		}
		.van {
			position: relative;
			width: 100%;

			.body {
				position: relative;
				z-index: 5;
			}
			.wheel, .passenger {
				display: table;
				position: absolute;
			}
			.passenger {
				top: 6%;
			}
			.passenger-1 {
				right: 18%;
				width: 15%;
				.lt-ie10 & {
					right: auto;
					left: 67%;
				}
			}
			.passenger-2 {
				right: 46.4%;
				width: 12%;
				top: 7%;
				.lt-ie10 & {
					right: auto;
					left: 41%;
				}
			}
			.passenger-3 {
				right: 33.4%;
				width: 12%;
				top: 8%;
				.lt-ie10 & {
					right: auto;
					left: 54%;
				}
			}
			.passenger-4 {
				right: 58.4%;
				width: 12%;
				.lt-ie10 & {
					right: auto;
					left: 29.5%;
				}
			}
			.wheel {
				width: 14%;

				&.right {
					right: 17.2%;
					bottom: 6%;
					z-index: 6;

					.lt-ie10 & {
						right: auto;
						left: 68.5%;
					}
					.lt-ie9 & {
						right: 18%;
					}

				}
				&.left {
					@include transform(rotate(-110deg));
					left: 17.4%;
					bottom: 6%;
				}
			}
		}
		%display-table {
			display: table;
		}
		.van-and-cyclist-container {
			display: table-cell;
			vertical-align: middle;
		}
		.van-and-cyclist-container-canvas {
			position: relative;
		}
		.clouds {
			width: 60%;
			position: relative;
			right: -25%;
			margin: 0 auto 35%;

			.cloud {
				@extend %display-table;
				margin: auto;
			}
			.rain-drop {
				position: absolute;
				bottom: -10%;

				&.large {
					width: 11%;
				}
				&.small {
					width: 6%;
				}
				&.medium {
					width: 8%;
				}
				&.drop-1 {
					right: 27%;
					bottom: -25%;
				}
				&.drop-2 {
					right: 7%;
					bottom: -8%;
				}
				&.drop-3 {
					right: 15%;
					bottom: -28%;
				}
				&.drop-4 {
					right: 28%;
					bottom: -50%;
				}
				&.drop-5 {
					right: 52%;
					bottom: -35%;
				}
				&.drop-6 {
					right: 65%;
					bottom: -15%;
				}
				&.drop-7 {
					right: 81%;
					bottom: -45%;
				}
				&.drop-8 {
					right: 80%;
					bottom: -25%;
				}
				&.drop-9 {
					right: 90%;
					bottom: -15%;
				}
			}
		}
		.cyclist {
			width: 65%;
			margin: auto;

			.body {
				@extend %display-table;
				position: relative;

				.frame {
					width: 100%;
					position: relative;
				}
			}
			.wheel {
				position: absolute;
				width: 62%;

				&.right {
					right: -27%;
					bottom: -8%;
				}
				&.left {
					left: -25%;
					bottom: -7%;
				}
			}
			.shadow {
				width: 175%;
				position: absolute;
				left: -35%;
				bottom: -11%;
			}
		}
		.lightbox-canvas {
			padding: $margin;
		}
		.lightbox-content {
			padding: $margin*2 6% 4%;
		}

		.lightbox {
			background: #efc33f;

			.title {
				max-width: convert-px(380);
				margin: 0 auto $margin/2;				
				img {
					max-width: 100%;
					margin: auto
				}
			}
			.desc {
				max-width: convert-px(700);
				margin: 0 auto $margin;
				font-weight: bold;
				font-size: convert-px(12);
				.lt-ie9 & {
					margin: 0 auto $margin;
				}
			}
			.kesh {
				display: none;
				position: relative;
				margin: auto;
				left: 0;
				bottom: 5%;
				width: 45%;
				max-width: convert-px(200);

				img {
					width: 100%;
				}
				.lt-ie9 & {
					display: none;
				}
			}
			.kesh-single {
				display: block;
				margin: auto;
				text-align: center;
			}
		}
	}
	.slide-5.slide {
		.awesome-container {
			display: table-cell;
			vertical-align: middle;
		}
		.awesome-logo {
			margin: 0 auto $margin;
			width: 80%;
			max-width: convert-px(600);
		}
		.slide-canvas {
			width: 90%;

			@include orientation (landscape) {
				width: 90%;
			}
		}
		.work-for-us {
			left: 0;
			right: 0;
			margin: auto;
			width: 40%;
			max-width: convert-px(200);
			bottom: -20%;
			position: relative;
		}
		.arrow-left, .arrow-right {
			position: absolute;
			width: 50%;
			bottom: 20%;
		}
		.arrow-left {
			left: -70%;
		}
		.arrow-right {
			right: -70%;
		}
		.desc {
			margin: 0 auto $margin;
			width: 90%;
			font-size: convert-px(12);
			color: $blue;

			@include orientation(landscape) {
				max-width: 70%;
			}
		}
	}

	.owl-nav {
		.owl-prev {
			float: left;
		}
		.owl-next {
			float: right;
		}
	}
	.owl-dots {
		text-align: center;

		.owl-dot {
			display: inline-block;
			background: #000;
			width: 10px;
			height: 10px;
			margin-right: 1px;

			&.active {
				background: #ccc;
			}
		}
	}
	.no-js & {
		.slide {
			display: none;

			&:after {
				display: none;
			}
		}
		.slide-0 {
			padding: $margin 0;
			display: block;

			.cta {
				display: none;
				width: 100%;
			}
		}
	}
}
@include breakpoint(2) {
	.m-carousel {
		.slide-1 {
			.lightbox-content {
				padding: $margin * 1.5;
			}
		}
		.slide-2 {
			.lightbox-content {
				padding: $margin * 1.5;
			}

			.lSGallery {
				display: block;
			}
		}
		.slide-3 {
			.lightbox-content {
				padding: $margin * 1.5;
			}
			.astronaut {
				right: 0%;
				top: 15%;
			}
			.shuttle {
				left: 7%;
				top: 9%;
			}
			.blaster {
				@include transform(translateX(-300%));
				bottom: 5%;
				left: 0;
				right: 0;
				width: convert-px(47);
				margin: auto;
			}
			.bullet {
				position: absolute;
				background: yellow;
				width: 3px;
				height: 10px;
				margin: auto;
				left: 0;
				right: 0;
				top: 0;
				z-index: 10;
			}
			.floating {
				visibility: visible;
			}
		}
		.slide-4 {
			.lightbox {
				.desc {
					font-size: convert-px(16);
				}
				.kesh {
					display: table;
				}
			}
		}

	}
	.carousel-container {
		position: relative;
		.prev {
			@include icon-transparent-arrow-left-large;
		}
		.next {
			@include icon-transparent-arrow-right-large;
		}
		.back-to-first {
			@include icon-transparent-arrow-right-large;
		}

	}
}
@include breakpoint-and-orientation(1, landscape) {
	.m-carousel {
		.slide .slide-canvas {
			width: 25%;
		}
		.slide-0 .slide-canvas {
			width: 40%;
		}
		.slide-2 {
			.lightbox-content {
				width: 70%;
			}
		}
		.slide-3 .slide-canvas {
			width: 35%;
		}
		.slide-4 {
			.lightbox-content {
				.title {
					width: 45%;					
				}
			}
		}
		.slide-5 .slide-canvas {
			width: 35%;
			.awesome-logo {
				width: 40%;
				margin: 0 auto $margin/4;
			}
			.desc {
				font-size: convert-px(12);
				margin-bottom: $margin; 
			}
			.work-for-us {
				width: 20%;
			}
		}
	}
}
@include breakpoint-and-orientation(2, landscape) {
	.m-carousel {
		.slide .slide-canvas {
			width: 50%;
		}
		.slide-0 .slide-canvas {
			width: 70%;
		}
		.slide-1 {
			.simple-tab {
				.graphic {
					max-width: convert-px(450);
				}
				p {
					font-size: convert-px(16);
				}
			}
		}
		.slide-4 {
			.lightbox-content {
				.kesh {
					width: 45%;					
				}
			}
		}
		.slide-3 {
			.slide-canvas {
				width: 75%;
			}
			.simple-tab {
				max-width: convert-px(280);
			}
		}
		.slide-5 .slide-canvas {
			width: 35%;
			.awesome-logo {
				width: 80%;
				margin: 0 auto $margin/2;
			}
			.desc {
				font-size: convert-px(16);
				margin-bottom: $margin; 
			}
			.work-for-us {
				width: 20%;
			}
		}
	}
}
@include breakpoint-and-orientation(3, landscape) {
	.m-carousel {
		.slide .slide-canvas {
			width: 30%;
		}
		.slide-0 .slide-canvas {
			width: 60%;
		}
		.slide-1 {
			.simple-tab {
				.graphic {
					max-width: convert-px(280);
				}
			}
			.lightbox-canvas {
				padding: 1%;
			}
			.lightbox-content {
				width: 60%;
				margin: auto;
			}
		}
		.slide-2 {
			.lightbox-canvas {
				padding: 1%;
			}
			.lightbox-content {				
				width: 50%;
				margin: auto;
			}
		}
		.slide-3 {
			.slide-canvas {
				width: 75%;
			}
			.simple-tab {
				max-width: convert-px(180);
				position: relative;
				top: -5%;
			}
			.blaster {
				width: convert-px(30);
			}
		}
		.slide-4 {
			.slide-canvas {
				width: 40%;
			}
			.lightbox-content {
				.desc {
					width: 90%;
					max-width: none;
					font-size: convert-px(14);
				}
				.title {
					width: 30%;
				}
				.desc {
					margin-bottom: $margin;
				}
				.kesh {
					width: 11%;
				}
			}
		}
	}
}
@include breakpoint-and-orientation(4, landscape) {
	.m-carousel {
		.slide .slide-canvas {
			width: 35%;
		}
		.slide-1 {
			.simple-tab {
				.graphic {
					max-width: convert-px(450);
				}
			}
		}
		.slide-0 .slide-canvas {
			width: 60%;
			max-width: none;
		}
		.slide-2 {
			.image-gallery, .lSGallery {
				width: 100%;
				margin: auto;
			}
		}
		.slide-3 {
			.slide-canvas {
				width: 75%;
			}
			.simple-tab {
				max-width: convert-px(280);
				position: relative;
				top: -5%;
			}
			.blaster {
				width: convert-px(35);
			}
		}
		.slide-4 {
			.slide-canvas {
				width: 48%;
			}
			.lightbox-content {
				.kesh {
					width: 50%;
				}				
			}
		}
		.slide-5.slide {
			.awesome-logo {
				max-width: convert-px(900);
			}
		}
	}
}