.m-hot-jobs {
	
	padding: 0 5%;
	.column-location, .column-salary {
		display: none;
	}
	@include breakpoint(1) {
		.column-location, .column-salary {
			display: table-cell;
		}
	}
	@include breakpoint(3) {
		padding: 0;
	}
}