.m-divisions {
	background: $grey-lighter;
	.division-list {
		ul {
			@extend .clearfix;
		}

		li {
			list-style-type: none;
			width: 100%;
			margin: auto;
			display: block;
			text-align: center;
			position: relative;
			margin-bottom: $margin/2;
			&:last-child {
				margin: 0 auto;
			}
			&:hover {
				.front {
					opacity: 0;
				}
				.back {
					.lt-ie9 &, .no-touch & {
						visibility: visible;
					}
					.csstransforms.no-touch & {
						@include transform(scale(1));
						opacity: 1;
					}
					.csstransforms3d.no-touch & {
						@include transform(scale3d(1,1,1));
						opacity: 1;
					}
					.no-js & {
						visibility: visible;
						opacity: 1;
					}
				}
			}

		}
		a {
			display: block;
			position: relative;			
			background: $blue;
			height: convert-px(270);
			overflow: hidden;
		}
		.front {
			@include transition (all, .35s);		
			background: $blue;
			position: relative;
			height: 100%;
			.front-canvas {
				width: 100%;
				display: table;
				height: 100%;
			}
			.front-inner-canvas {
				display: table-cell;
				vertical-align: middle;
			}
			img {
				margin-bottom: $margin/2;
			}
			.icon {
				margin: auto;
				@include icon-plus-white;
				opacity: 0.5;
			}
		}
		.back {
			@include transition (all, .35s);
			opacity: 0;
			position: absolute;			
			top: convert-px(10);
			right: convert-px(10);
			bottom: convert-px(10);
			left: convert-px(10);
			background: $blue-dark;
			overflow: hidden;
			.lt-ie9 &{
				visibility: hidden;
			}
			.csstransforms.no-touch & {
				@include transform(scale(0));
			}
			.csstransforms3d.no-touch & {
				@include transform(scale3d(0,0,0));
			}
			.no-js.no-touch & {
				visibility: hidden;
				@include transform(scale(0));
			}
			.touch & {
				visibility: visible;
				opacity: 1;
			}
		}
		.back-canvas {
			display: table;
			height: 100%;
			padding: convert-px(10);
			overflow: auto;	
			@extend .clearfix;
			color: $white;
			.img-container, p {
				margin: 0;
				width: 50%;
				display: table-cell;
				vertical-align: middle;
			}
			p {
				padding-left: convert-px(10);
			}
		}
		
		a {
			display: block;
			img {
				max-width: convert-px(200);
			}

		}
	}
}
@include orientation(portrait) {
	.m-divisions {
		.division-list {
			a {
				height: convert-px(300);
			}
			.back-canvas {
				padding-top: convert-px(20);
				display: block;
				.img-container, p {
					display: block;
					width: 100%;
				}
				.img-container {
					width: 70%;
					margin: 0 auto $margin/2;
					img {
						width: 100%;
					}
				}
			}
		}
	}
}
@include breakpoint-and-orientation(1, portrait) {
	.m-divisions {
		.division-list {
			a {
				height: convert-px(270);
			}
			.back-canvas {
				display: table;
				padding-top: convert-px(10);
				.img-container, p {
					width: 50%;
					display: table-cell;
				}
				.img-container {
					margin: 0;
				}
			}
		}
	}
}

@media screen and (min-width: convert-px(800)) and(orientation: landscape) {
	.m-divisions {
		.division-list {
			ul {
				position: relative;
				margin-left:-2%;
			}
			a {
				height: convert-px(300);
			}
			li {
				padding-left: 2%;
				padding-bottom: 2%;
				float: left;
				width: 50%;
				margin-bottom: 0;
				&.last-row {
					padding-bottom: 0;
				}
			}
			.back-canvas {
				display: block;
				padding-top: convert-px(20);
				.img-container, p {
					display: block;
					width: 100%;
				}
				.img-container {
					width: 70%;
					margin: 0 auto $margin/2;
					img {
						width: 100%;
					}
				}
			}
		}
	}
}
@include breakpoint(3) {
	.m-divisions {
		.division-list {
			a {
				height: convert-px(270);
			}
			li {
			}
			.back-canvas {
				padding-top: convert-px(10);
				display: table;
				.img-container, p {
					display: table-cell;
					width: 50%;
				}
				.img-container {
					margin: 0;
				}
			}
		}
	}
}