.module-header-single {
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
	color: $blue;
	margin: auto;
	max-width: 80%;
	position: relative;
	margin-bottom: $margin*2;

	&.vert-tight {
		margin-bottom: 0.5em;
	}

	&:before {
		content: '';
		display: block;
		margin: 0 auto $margin/4;
	}
}
.module-header-double {
	margin-bottom: $margin;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	color: $blue;

	&.vert-tight {
		margin-bottom: 0.5em;
	}

	&:after, &:before {
		content: '';
		margin: auto;
		display: block;
		position: relative;
	}
	&:before {
		top: convert-px(-4);
	}
	h1, h2 {
		margin: 0;
	}
	h1 {
		position: relative;
	}
	h2 {
		position: relative;

		&:after, &:before {
			content: '';
			margin: auto;
			display: block;
			position: relative;
		}
		&:before {
			top: convert-px(-4);
		}
	}
}

//Double deck headers
//-------------------

.arrows {
	&:before {
		@include icon-header-arrows-top-small;
	}
	&:after {
		@include icon-header-arrows-bottom-small;
	}
}
.mountain {
	&:before {
		@include icon-header-mountain-top-small;
	}
	&:after {
		@include icon-header-mountain-bottom-small;
	}
}
.rays {
	&:before {
		@include icon-header-rays-top-small;
	}
	&:after {
		@include icon-header-rays-bottom-small;
	}
}
.tech-double {
	&:before {
		@include icon-header-tech-top-small;
	}
	&:after {
		@include icon-header-tech-bottom-small;
	}
}

//Single headers
//--------------

.stars {
	&:before {
		@include icon-header-stars-single-small;
	}
}
.culture {
	&:before {
		@include icon-header-culture-single-small;
	}
}
.fire {
	&:before {
		@include icon-header-fire-single-small;
	}
}
.eye {
	&:before {
		@include icon-header-eye-single-small;
	}
}
.globe {
	&:before {
		@include icon-header-globe-single-small;
	}
}
.heart {
	&:before {
		@include icon-header-heart-single-small;
	}
}
.link {
	&:before {
		@include icon-header-link-single-small;
	}
}
.location {
	&:before {
		@include icon-header-location-single-small;
	}
}
.record {
	&:before {
		@include icon-header-record-single-small;
	}
}
.wheel {
	&:before {
		@include icon-header-wheel-single-small;
	}
}
.tech-single {
	&:before {
		@include icon-header-tech-single-small;
	}
}
.share-links-icon {
	&:before {
		@include icon-share-links;
	}
}
@include breakpoint(2) {
	.module-header-double {
		margin-bottom: $margin * 1.5;

		&:before {
			bottom: 110%;
		}
		&:after {
			top: 100%;
		}
	}

	//Double deck headers
	//-------------------

	.arrows {
		&:before {
			@include icon-header-arrows-top-large;
		}
		&:after {
			@include icon-header-arrows-bottom-large;
		}
	}
	.mountain {
		&:before {
			@include icon-header-mountain-top-large;
		}
		&:after {
			@include icon-header-mountain-bottom-large;
		}
	}
	.rays {
		&:before {
			@include icon-header-rays-top-large;
		}
		&:after {
			@include icon-header-rays-bottom-large;
		}
	}
	.tech-double {
		&:before {
			@include icon-header-tech-top-large;
		}
		&:after {
			@include icon-header-tech-bottom-large;
		}
	}

	//Single headers
	//--------------
	
	.stars {
		&:before {
			@include icon-header-stars-single-large;
		}
	}
	.culture {
		&:before {
			@include icon-header-culture-single-large;
		}
	}
	.fire {
		&:before {
			@include icon-header-fire-single-large;
		}
	}
	.eye {
		&:before {
			@include icon-header-eye-single-large;
		}
	}
	.globe {
		&:before {
			@include icon-header-globe-single-large;
		}
	}
	.heart {
		&:before {
			@include icon-header-heart-single-large;
		}
	}
	.link {
		&:before {
			@include icon-header-link-single-large;
		}
	}
	.location {
		&:before {
			@include icon-header-location-single-large;
		}
	}
	.record {
		&:before {
			@include icon-header-record-single-large;
		}
	}
	.wheel {
		&:before {
			@include icon-header-wheel-single-large;
		}
	}
	.tech-single {
		&:before {
			@include icon-header-tech-single-large;
		}
	}
}