.m-home-profile {
	background: $grey-lighter;
	.module-header {
		position: relative;
		width: 70%;
		margin: 0 auto;
		display: table;
		margin-bottom: $margin*3/2;
		text-align: center;
		text-transform: uppercase;
		line-height: 1;
		color: $blue;
		h2 {
			margin: $margin/2;
			position: relative;
			font-size: convert-px(24);
			&:after, &:before {
				content: '';
				position: absolute;
				top: -40%;
			}
			&:after {
				right: convert-px(-58)/4;
				@include icon-bolt-left-small;
			}
			&:before {
				left: convert-px(-58)/4;
				@include icon-bolt-right-small;
			}
			span {
				display: block;
				&:after, &:before {
					content: '';
					position: absolute;
					bottom: -40%;
				}
				&:after {
					right: convert-px(-58)/4;
					@include icon-bolt-right-small;
				}
				&:before {
					left: convert-px(-58)/4;
					@include icon-bolt-left-small;
				}
			}
		}
		&:after, &:before {
			content: '';
			margin: auto;
			display: block;
		}
		&:before {
			bottom: 120%;
			@include icon-people-small;
		}
		&:after {
			top: 100%;
			@include icon-cross-arrows-small ;
		}
	}
	.module-canvas {
		background: $white;
	}
	.profile-list {
		ul {
			@extend .clearfix;
			margin: auto;
		}
		li {
			margin-bottom: $margin;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			position: relative;
			display: block;
			&:hover {
				color: $blue;
				.photo {
					border-width: 14px;
					.lt-ie9 & {
						border-width: 7px;
					}
				}
			}
		}
		.photo {
			@include transition(all, .2s);
			display: block;
			border-radius: 100%;
			border: 7px solid $grey;
			overflow: hidden;
			margin: 0 auto $margin*2;
			width: 80%;
			max-width: convert-px(250);
			.lt-ie9 & {
				max-width: 100%;
				width: 100%;
			}
		}
		.description {
			position: relative;
			margin: 0 0 $margin/2;
			font-size: convert-px(20);
			&:before {
				content: '';
				position: absolute;
				top: convert-px(-40);
				left: 0;
				@include icon-doublequotes-small;
			}
		}
		.name {
			color: $red;
			font-size: convert-px(30);
			font-weight: bold;
			margin-bottom: 0;
		}
		.job-title {
			font-weight: bold;
			font-size: convert-px(20);
			margin-bottom: 0;
		}
	}
}
@include breakpoint(2) {
	.m-home-profile {
		.module-header {
			&:before {
				bottom: 120%;
				@include icon-people-large;
			}
			&:after {
				top: 100%;
				@include icon-cross-arrows-large;
			}
			h2 {
				font-size: convert-px(40);
				&:after {
					@include icon-bolt-left-large;
				}
				&:before {
					@include icon-bolt-right-large;
				}
				span {
					&:after, &:before {

					}
					&:after {
						@include icon-bolt-right-large;
					}
					&:before {
						@include icon-bolt-left-large;
					}
				}
			}
		}
		.profile-list {
			ul {
				position: relative;
				margin-left: -5%;
			}
			li {
				float: left;
				width: 33.33%;
				padding-left: 5%;
				margin-bottom: 0;
			}
			.lt-ie9 & {
				padding: $margin;
			}
		}
		.module-canvas {
			position: relative;
			.lt-ie9 & {
				padding: $margin 0;
			}
		}
		.description {
			&:before {
				@include icon-doublequotes-large;
			}
		}
	}
}