.m-home-testimonial {
	.module-canvas {
		overflow: hidden;
	}
	.testimonial-list {
		position: relative;
		text-align: center;
		border: 6px solid $blue-dark;
		&:after {
			content: '';
			width: 70%;
			height: 6px;
			background: $white;
			position: absolute;
			left: 0;
			right: 0;
			top: -6px;
			margin: auto;
		}
		 .owl-stage-outer {
		 	overflow: visible;
		 }
		.slide {
			padding: $margin;
		}
		.rating {
			position: absolute;
			top: convert-px(-20);
			left: -1.2%;
			right: 0;
			margin: 0;
			z-index: 2;
			.star {
				display: inline-block;
				margin-right: convert-px(-12);
				@include icon-rating-star-small;
			}
		}
		.rating-no p {
			color: $red-lighter;
			font-weight: bold;
			font-size: convert-px(20);
			margin: 0;
		}
		blockquote {
			color: $black;
			font-weight: bold;
			font-size: convert-px(20);
			display: block;
			margin: $margin/4 auto $margin/2 ;
			line-height: 1.2;
			&:after {
				content: '”';
			}
			&:before {
				content: '“';
			}
		}
		.glassdoor-link {
			span {
				display: inline-block;
				vertical-align: middle;
			}
			.icon {				
				@include icon-glassdoor-full-logo;				
			}
		}
		.owl-next, .owl-prev {
			@include transition(all, .2s);
			position: absolute;
			text-align: center;
			bottom: 0;
			width: convert-px(44);
			height: convert-px(44);
			background: #8BAFCC;
			.icon {
				margin-top: convert-px(6);
				display: inline-block;
			}
			&:hover {
				opacity: 0.8;
			}
		}
		.owl-next {
			right: 0;
			.icon {
				margin-right: convert-px(-2);
				@include icon-arrow-right-white;
			}
		}
		.owl-prev {
			left: 0;
			.icon {
				margin-right: convert-px(2);
				@include icon-arrow-left-white;		
			}
		}
	}
}
@include breakpoint(2) {
	.m-home-testimonial {
		.testimonial-list {
			.glassdoor-link {
				@include transform(scale(1.4));
				margin-left: convert-px(30);
			}
			&:after {
				width: 45%;
			}
			.rating-no p, blockquote {
				font-size: convert-px(40);
			}
			.rating {
				top: -9%;
				.star {
					@include icon-rating-star-large;
				}
			}
		}
	}
}