.m-heading-block {
	padding: 0 $side-padding 0;
	text-align: center;

	.module-canvas {
		background: $white;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 16px;
	}

	h3,
	h5,
	h6,
	p {
		color: $black;
		text-transform: none;
	}

	h4 {
		color: $blue;
		text-transform: none;
		font-weight: normal;
	}

	h5 {
		text-transform: none;
		font-weight: normal;
		font-size: 1.1em;
	}

	h6 {
		font-size: 0.9em;
	}
}
