.m-hero {
	background: $banner-bg-contact;
	padding: 0;
	position: relative;
	overflow: hidden;
	.module-canvas {
		background: none;
		margin: auto;
		padding: 0;
		max-width: $grid-width;
		position: relative;
		@extend .clearfix;
	}
	.module-canvas {
		padding: $margin 0 0;
	}
	.graphic {
		text-align: center;
	}
	.title {
		color: $white;
		text-align: right;
		margin-bottom: $margin;
		padding: 0 10%;
		z-index: 10;
		.title-canvas {
			display: table;
			height: 100%;
			width: 100%;
		}
		.title-inner-canvas {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
		img {
			width: 100%;
		}
		.heading-text {
			@extend .visuallyhidden;		
		}
		.sub-title {
			font-size: convert-px(24);
			color: white;
			margin-top: $margin/2;
			display: block;
		}
	}

	&.full-height {
		.module-canvas {
			padding: $margin*2 $margin/2 0;
		}
		.title {
			padding: 0;
			margin: 0 auto $margin;
			@include breakpoint(1) {
				width: 80%;
			}
		}
		h2, h3 {
			max-width: convert-px(400);
			margin: auto;
		}
		.description {
			margin: $margin auto;
			max-width: convert-px(600);
		}
		.digital-motors {
			max-width: 80%;
			max-height: 100%;
		}
		.button {
			border-radius: 10px;
			display: inline-block;
			padding: convert-px(10) convert-px(20);
			font-size: convert-px(14);
			font-weight: bold;
			border: none;
			box-shadow: 0 0px 2px 0px rgba($black, .3);
			@include gradient-no-ie($grey-lightest, $grey, vertical);
			&:hover {
				opacity: 1;
				color: $blue-dark;
				box-shadow: 0 0px 12px 3px rgba($black, .2);
			}
		}
	}
	&.nav {
		.module-canvas {
			@extend .clearfix;
			padding: $margin 0;
		}
		.graphic {
			width: 90%;
			margin: 0 auto $margin;
			img {
				display: block;
				margin: auto;
				max-width: convert-px(500);
				width: 100%;
				position: relative;
			}
		}
		.graphic-canvas {
			display: table;
			height: 100%;
			width: 100%;
			text-align: center;
		}
		.graphic-inner-canvas {
			display: table-cell;
			vertical-align: middle;
		}
		.anchor-list {
			text-align: center;
		}
		.anchor-list-canvas {
			display: table;
			width: 100%;
			margin: auto;
			height: 100%;
			@include breakpoint(1){
				width: 80%;
			}
		}
		ul {
			list-style: none;
			display: table-cell;
			vertical-align: middle;
			@extend .clearfix;
		}
		.anchor {
			display: block;
			width: 50%;
			padding: 0 2%;
			margin-bottom: $margin;
			float: left;
			&.last-row {
				margin: 0;
			}
			// &.nth-child(2n){
			// 	padding-right: 0;
			// }
		}
		.icon, .button {
			display: block;
			margin: auto;
			max-width: convert-px(200);
		}
		.icon {
			margin: 0 auto $margin;
		}
		.button {
			font-size: convert-px(12);
		}
	}

	&:before, &:after {
		content: '';
		position: absolute;
	}
	> div {
		// z-index: 9;
	}
	&:before {
		//Vignette
		// z-index: 4;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include radial-gradient(rgba($black, 0), rgba(black, 0.6), 15%, 100%);
	}
	&:after {
		//Gradient Lighting
		// z-index: 5;
		width: 100%;
		height: 0;
		padding-bottom: 50%;
		top: -50%;
		left: 0;
		right: 0;
		margin: auto;
		@include radial-gradient(rgba($white, 0.2), rgba($white, 0), 0%, 70%);
	}
	.lt-ie10 & {
		&:after, &:before {
			display: none;
		}
	}
}

@media screen and (min-width: convert-px(800)) {
	.m-hero {
		.module-canvas {
			padding: $margin*2 0 0;
		}
		.graphic {
			width: 55%;
			margin-right: 45%;
			img {
				max-height: convert-px(470);
				margin: auto;
			}
		}
		.title {
			width: 40%;
			position: absolute;
			right: $margin;
			top: 0;
			margin: 0;
			padding-right: 0;
			height: 100%;
			h1, h2, h3 {
				font-size: convert-px(30);
			}
		}
		.description {
			margin: 0;
		}
		&.full-height {
			.module-canvas {
				padding: $margin*4 $margin 0;
			}
			.title, .graphic {
				float: left;
			}
			.title {
				position: absolute;
				width: 35%;
				right: $margin;
				bottom: 0;
				height: 100%;
				margin: 0;
			}
			.graphic {
				margin-right: 40%;
				width: 60%;
			}
		}
		&.nav {
			.module-canvas {
				padding: $margin*2 $margin ;
			}
			.graphic {
				margin: auto;
				width: 50%;
				margin-right: 50%;
			}
			.anchor-list {
				position: absolute;
				width: 48%;
				right: $margin;
				bottom: 0;
				height: 100%;
			}
			.anchor-list-canvas {
				margin-right: 0;
			}
		}
	}
}

@include breakpoint(3) {
	.m-hero {
		.graphic {
			img {
				max-height: convert-px(400);
			}
		}
		&.full-height {
			height: 550px;
			.module-canvas {
				padding-top: 10.5em;
				padding-right: 0;
				padding-left: 0;
			}
		}
		&.nav {
			.module-canvas {
				padding-top: 4.4em;
			}
		}
		&.full-height, &.nav {
			.module-canvas {
				padding-right: 0;
				padding-left: 0;
			}
			.graphic {
				img {
					display: block;
				}
			}
			.title, .anchor-list {
				right: 0;
			}
			.button {
				font-size: convert-px(16);
			}
		}
	}
}