.m-image-list {
	@extend .clearfix;
	ul {
		padding: 0;
		list-style-type: none;
	}
	li {
		margin: 1em 0px;
	}
}


@include breakpoint(2) {

	.m-image-list {

		ul {
			position: relative;
			margin-left: -4%;
			list-style-type: none;
			display: block;
		}

		li {
			@include box-sizing;
			display: block;
			float: left;
			width: 50%;
			padding: 0 0 1em 4%;
			margin: 0.5em 0;
		}
	}
}
