.jobs-landing {
	.m-hot-jobs { 
		.column-division, .column-location, .column-salary {
			display: none;
		}
		.read-more {
			span {
				vertical-align: middle;
				display: inline-block;
			}
			.icon {
				@include icon-arrow-right-circle;
			}
		}
	}
}

@include breakpoint(1) {
	.m-hot-jobs {
		.column-location, {
			display: table-cell;
		}
	}
}

@include breakpoint(2) {
	.m-hot-jobs {
		.column-salary {
			display: table-cell;
		}
	}
}
@include breakpoint(3) {
	.m-hot-jobs {
		padding: 0 $side-padding $margin;
		.module-canvas {
			padding: 0 $margin*2 $margin*2;
		}
	}
}