.m-job-search {
	padding: 0 $side-padding 0;

	.module-canvas {
		background: $white;
		padding: $side-padding;
		margin-bottom: 0;
	}

	.module-header-single {
		margin: auto auto 2em;
	}

	.jobs-intro {
		text-align: center;
		margin: 0 auto 3em;
		max-width: 32em;
		h3,
		h4,
		h5,
		h6 {
			color: $blue;
		}
	}

	.job-search-form {		
		color: $blue;
		padding: $side-padding;
		background: $grey-lightest;
		border: 1px solid $blue-lightest;
		input, select {
			display: block;
			width: 100%;
		}
		.text-input, .filter {
			margin-bottom: $margin/2;
		}
		.bottom {
			@extend .clearfix;
		}
		.filter {
			select {
				width: 100%;
				&:first-child {
					margin-bottom: $margin/2;
				}
			}
			.location {
				margin-bottom: $margin/2;
			}
		}
		.action {
			input {
				@extend .button;
			}
			.submit  {
				font-weight: bold;
				margin-bottom: $margin/2;
				input {
					font-size: convert-px(19);
					@extend .go;
					color: $white;
					height: 50px;
					padding: convert-px(11);
				}
			}
			.reset {
				input {
					font-size: convert-px(19);
					font-weight: bold;
					border: 1px solid $grey-light;
					color: $blue;
					height: 50px;
					padding: convert-px(12);
				}
			}
			.submit, .reset {
				margin: 0;
				float: left;
				width: 50%;
				padding-left: $margin/2;
			}
		}
		.action-canvas {
			position: relative;
			margin-left: -$margin/2;
		}
	}
}

@include breakpoint(3) {
	.m-job-search {
		.job-search-form {
			input, select {
				
			}
		}
	}
}

@include breakpoint(3) {
	.m-job-search {
		%half-width {
			margin: 0;
			float: left;
			width: 50%;
			padding-left: $margin/2;
		}
		.module-canvas {
			padding: $margin * 2;
		}
		.job-search-form {
			input, select, .filter .selected {
				padding: $margin/2;
			}
			padding: $margin;
			.text-input {
				margin-bottom: $margin;
				input {
					clear: both;
					width: 100%;
				}
			}
			.bottom, .filter-canvas {
				position: relative;
				margin-left: -$margin/2;
			}
			.action, .filter {
				@extend %half-width;
			}
			.filter {
				.division, .location {
					@extend %half-width;
				}
				.location {
					margin-bottom: 0;
				}
			}
		}
	}
}