.m-job-search-result {
	margin-bottom: 2em;
	padding: 0 $side-padding 0;

	.module-canvas {
		margin-top: 0;
		margin-bottom: 0;
		background: $white;
		padding: $side-padding $side-padding 1em;
	}
	.column-division, .column-location, .column-salary {
		display: none;
	}
	.read-more {
		span {
			vertical-align: middle;
			display: inline-block;
		}
		.icon {
			@include icon-arrow-right-circle;
		}
	}
}

@include breakpoint(1) {
	.m-job-search-result {
		.column-division {
			display: table-cell;
		}
	}
}

@include breakpoint(2) {
	.m-job-search-result {
		.column-location, .column-salary {
			display: table-cell;
		}
	}
}
@include breakpoint(3) {
	.m-job-search-result {
		padding: 0 $side-padding $margin;
		.module-canvas {
			padding: 0 $margin*2 $margin*2;
		}
	}
}