.profile-page {
	.title-inner-canvas {
		color: $white;
	}

	.module-header-single,
	.module-header-double {
		margin-bottom: 2em;
	}

	.m-heading-block {
		h3 {
			color: $blue;
			margin-bottom: 0.2em;
		}
	}

	.m-content {
		h3 {
			margin-top: 1.7em;
			margin-bottom: 0.7em;
		}
	}
}