.m-share-links {
	margin: 0;
	padding: 0;
	text-align: center;
		
	.module-canvas {
		background: $white;
		padding: $margin auto;
	}
	.module-header-single {
		margin: 0 auto;
		max-width: none;
		font-size: 0.85em;

		h2 {
			margin: 0;
		}
	}
	@include  breakpoint(3) {
		padding: 0;
	}
}
.share-links-list {

	ul {
		margin: auto;
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		text-align: center;
		@extend .clearfix;
	}
	
	li {
		display: inline-block;
		vertical-align: bottom;
		margin: 0 0.3em;
		position: relative;
	}
	.share-link-fb {
		@include icon-fb-f;
	}
	.share-link-twitter {
		@include icon-twitter-bird;
	}
	.share-link-linkedin {
		@include icon-linkedin-letters;
	}
	.share-link-envelope {
		@include icon-envelope;
	}
	.share-link {
		@extend .accessible-hidden;
		display: block;
		position: relative;

		&:hover {
			@include opacity(0.8);
		}
	}
}
@include breakpoint(1) {
	.share-links-list {
		li {
			margin: 0 0.8em;
		}
	}
}