.single-post {
	padding: 0;
	.back-button {
		color: white;
		position: absolute;
		left: 2em;
		text-align: center;
		padding-top: 2.5em;
		z-index: 10;
		img {
			max-width: 4em;
			display: inline-block;
		}
		p {
			font-weight: bold;
			font-size: 0.875em;
			padding-top: 0.5em;
		}
	}
	.m-hero {
		overflow: hidden;
		.module-canvas {
			padding: 0;
		}
		.title {
			position: static;
			width: 80%;
			margin: 8em auto 2em;
			padding: 0;
			img {
				max-width: 24em;
			}
		}
	}
	.title-canvas {
		.title-inner-canvas {
			color: $white;
			margin: 0 auto;
			.blog-top {
				margin-bottom: 1em;
			}
			h1 {
				line-height: 1.25em;
				font-size: convert-px(24);
			}
			.blog-bottom {
				max-width: 15em;
			}
			.post-author, .post-date {
				font-weight: bold;
			}
			.post-author {
				font-size: 1.25em;
				margin-bottom: 0;
				margin-top: 1.25em;
			}
		}
	}
	.m-content {
		.module-canvas {
			h3 {
				margin-top: 0.25em;
				padding-bottom: 0.25em;
			}
			img {
				display: block;
				margin: 1em auto;
			}
		}
	}
	.m-leave-reply {
		margin: 0 auto;
		color: $blue;
		padding-bottom: 0;
		textarea, input:not([type=submit]) {
			width: 100%;
			margin-bottom: 1em;
			border-radius: 0;
			border: 2px $grey solid;
		}
		.bad {
			textarea, input:not([type=submit]) {
				border: 2px #e74c3c solid;
			}
		}
		.item {
			position: relative;
		}
		.alert {
			color: #e74c3c;
			padding: 0.33em;
		}
		textarea {
			height: 7em;
		}
		input[type=submit] {
			margin-bottom: 1em;
			color: $blue;
			font-weight: bold;
			width: 50%;
		}
		label {
			font-weight: bold;
		}

		.error-text {
			&.valid {
				display: none;
			}
		}
	}
	.m-replies {
		margin: 0 auto;
		padding-bottom: 0;
		.module-canvas {
			margin-top: 0;
			h3 {
				color: $blue;
				margin-bottom: 0;
			}
			.reply {
				border-top: 1px $blue solid;
				padding-top: 1.1em;
				&:first-child {
					border: none;
				}
				.name {
					font-weight: bold;
					color: $blue;
					margin-bottom: 0.125em;
				}
				.comment {
					margin-bottom: 0.5em;
				}
				.date {
					font-weight: bold;
					text-align: right;
				}
			}
		}
	}
}

@include breakpoint(2) {
	.single-post {
		.back-button {
			left: convert-px(130);
		}
		.m-hero {
			.title {
				margin: 3em auto 2em;
			}			
		}
		.title-canvas {
			.title-inner-canvas {
				h1 {
					font-size: convert-px(36);
				}
			}
		}
		.m-leave-reply {
			input[type=submit] {
				width: 25%;
			}
		}
		.m-leave-reply {
			textarea {
				height: 12em;
			}
		}
	}
}
@include breakpoint(3) {
	.single-post {
		.m-leave-reply {
			.alert {
				position: absolute;
				top: convert-px(28);
				right: convert-px(10);
			}
		}
		.m-content, .m-leave-reply, .m-replies {
			h3 {
				font-size: 1.5em;
			}
		}
	}
}
