// Break points
$breakpoint-1: convert-px(568) !default;
$breakpoint-2: convert-px(768) !default;
$breakpoint-3: convert-px(1025) !default;
$breakpoint-4: convert-px(1200) !default;

$mobile-min: convert-px(320) !default;
$mobile-max: convert-px(568) !default;
$tablet-min: convert-px(768) !default;
$tablet-max: convert-px(1024) !default;


@mixin breakpoint($breakpoint) {
	@if $breakpoint == 1 {
		@media only screen and (min-width: $breakpoint-1) { @content; }
	}
	@else if $breakpoint == 2 {
		@media only screen and (min-width: $breakpoint-2) { @content; }
	}
	@else if $breakpoint == 3 {
		@media only screen and (min-width: $breakpoint-3) { @content; }
	}
	@else if $breakpoint == 4 {
		@media only screen and (min-width: $breakpoint-4) { @content; }
	}
}

@mixin breakpoint-and-orientation($breakpoint, $orientation) {
	@if $breakpoint == 1 {
		@media only screen and (min-width: $breakpoint-1) and (orientation: $orientation) { @content; }
	}
	@else if $breakpoint == 2 {
		@media only screen and (min-width: $breakpoint-2) and (orientation: $orientation) { @content; }
	}
	@else if $breakpoint == 3 {
		@media only screen and (min-width: $breakpoint-3) and (orientation: $orientation) { @content; }
	}
	@else if $breakpoint == 4 {
		@media only screen and (min-width: $breakpoint-4) and (orientation: $orientation) { @content; }
	}
}


@mixin respond-to($device) {
	@if $device == tablet {
		@media only screen and (min-device-width: $tablet-min) and (max-device-width: $tablet-max) { @content; }
	}
	@else if $device == tablet-portrait {
		@media only screen and (min-device-width: $tablet-min) and (max-device-width: $tablet-max) and (orientation: portrait) { @content; }
	}
	@else if $device == tablet-landscape {
		@media only screen and (min-device-width: $tablet-min) and (max-device-width: $tablet-max) and (orientation: landscape) { @content; }
	}
	@else if $device == mobile {
		@media only screen and (min-device-width: $mobile-min) and (max-device-width: $mobile-max) { @content; }
	}
	@else if $device == mobile-portrait {
		@media only screen and (min-device-width: $mobile-min) and (max-device-width: $mobile-max) and (orientation: portrait) { @content; }
	}
	@else if $device == mobile-landscape {
		@media only screen and (min-device-width: $mobile-min) and (max-device-width: $mobile-max) and (orientation: landscape) { @content; }
	}
}



//Roundness
@mixin rounded($radius: $border-radius, $vert : "", $horz : "" ) {
	@if $vert != "" {
		$vert : - $vert;
	} else {
		$vert : $vert;
	}
	@if $horz != "" {
		$horz : - $horz;
	} else {
		$horz : $horz;
	}

	@if $radius == none {
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		border-radius:0px;
	} @else { 
	  -moz-border-radius#{$vert}#{$horz}: $radius;
	  -webkit-border#{$vert}#{$horz}-radius: $radius;
	  border#{$vert}#{$horz}-radius: $radius;
	}
}

// Rounded for all corners
@mixin roundedAllFour($topleft : $border-radius, $topright : $border-radius, $bottomright : $border-radius, $bottomleft : $border-radius) {
	-webkit-border-top-left-radius: $topleft;
	-webkit-border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius: $bottomleft;

	-moz-border-radius-topleft: $topleft;
	-moz-border-radius-topright: $topright;
	-moz-border-radius-bottomright: $bottomright;
	-moz-border-radius-bottomleft: $bottomleft;

	border-top-left-radius: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
}

//Gradient
@mixin gradient($from, $to, $direction: vertical) {
	@if $direction == vertical {
		background: $to;
		background: -moz-linear-gradient(top, $from 0%, $to 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, $from 0%,$to 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, $from 0%,$to 100%); /* Opera 11.10+ */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}', GradientType=0); /* IE8- */
		background: -ms-linear-gradient(top, $from 0%,$to 100%); /* IE10+ */
		background: linear-gradient(to bottom, $from 0%,$to 100%); /* W3C */
	}
	@else if $direction == horizontal {
		background: $to;
		background: -moz-linear-gradient(left, $from 0%, $to 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, $from 0%,$to 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, $from 0%,$to 100%); /* Opera 11.10+ */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}', GradientType=1); /* IE8- */
		background: -ms-linear-gradient(left, $from 0%,$to 100%); /* IE10+ */
		background: linear-gradient(to right, $from 0%,$to 100%); /* W3C */
	}
	@else if $direction == radial {
		background: $to;
		background: -moz-radial-gradient(center, ellipse cover, $from 0%, $to 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover, $from 0%, $to 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover, $from 0%,$to 100%); /* Opera 11.10+ */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}, GradientType=1'); /* IE8- fallback to horitontal gradient */
		background: -ms-radial-gradient(center, ellipse cover, $from 0%,$to 100%); /* IE10+ */
		background: radial-gradient(ellipse at center, $from 0%,$to 100%); /* W3C */
	}
	@else if $direction == diagonaldown {
		background: $to;
		background: -moz-linear-gradient(-45deg, $from 0%, $to 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(-45deg, $from 0%,$to 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(-45deg, $from 0%,$to 100%); /* Opera 11.10+ */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}', GradientType=1); /* IE8- fallback to horitontal gradient */
		background: -ms-linear-gradient(-45deg, $from 0%,$to 100%); /* IE10+ */
		background: linear-gradient(135deg, $from 0%,$to 100%); /* W3C */
	}
	@else if $direction == diagonalup {
		background: $to;
		background: -moz-linear-gradient(45deg, $from 0%, $to 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(45deg, $from 0%,$to 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(45deg, $from 0%,$to 100%); /* Opera 11.10+ */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}', GradientType=1); /* IE8- fallback to horitontal gradient */
		background: -ms-linear-gradient(45deg, $from 0%,$to 100%); /* IE10+ */
		background: linear-gradient(45deg, $from 0%,$to 100%); /* W3C */
	}
}
@mixin gradient-no-ie($from, $to, $direction: vertical){
	@if $direction == vertical {
		background: $to;
		background: -moz-linear-gradient(top, $from 0%, $to 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, $from 0%,$to 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, $from 0%,$to 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, $from 0%,$to 100%); /* IE10+ */
		background: linear-gradient(to bottom, $from 0%,$to 100%); /* W3C */
	}
	@else if $direction == horizontal {
		background: $to;
		background: -moz-linear-gradient(left, $from 0%, $to 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, $from 0%,$to 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, $from 0%,$to 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, $from 0%,$to 100%); /* IE10+ */
		background: linear-gradient(to right, $from 0%,$to 100%); /* W3C */
	}
	@else if $direction == radial {
		background: $to;
		background: -moz-radial-gradient(center, ellipse cover, $from 0%, $to 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover, $from 0%, $to 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover, $from 0%,$to 100%); /* Opera 11.10+ */
		background: -ms-radial-gradient(center, ellipse cover, $from 0%,$to 100%); /* IE10+ */
		background: radial-gradient(ellipse at center, $from 0%,$to 100%); /* W3C */
	}
	@else if $direction == diagonaldown {
		background: $to;
		background: -moz-linear-gradient(-45deg, $from 0%, $to 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(-45deg, $from 0%,$to 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(-45deg, $from 0%,$to 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(-45deg, $from 0%,$to 100%); /* IE10+ */
		background: linear-gradient(135deg, $from 0%,$to 100%); /* W3C */
	}
	@else if $direction == diagonalup {
		background: $to;
		background: -moz-linear-gradient(45deg, $from 0%, $to 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(45deg, $from 0%,$to 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(45deg, $from 0%,$to 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(45deg, $from 0%,$to 100%); /* IE10+ */
		background: linear-gradient(45deg, $from 0%,$to 100%); /* W3C */
	}
}
//Box Shadow
// Usage:
// @include box-shadow(-5px,0px,5px,rgba(0,0,0,0.3)); for transparent shadow.
// @include box-shadow(4px,4px,2px,#000,true); for inset shadow.
// @include box-shadow(none); to remove.
@mixin box-shadow($top: 2px, $left: 2px, $blur: 2px, $color: #333, $inset: false) {
	@if $top == none {
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
	@else if $inset {
		-webkit-box-shadow:inset $top $left $blur $color;
		-moz-box-shadow:inset $top $left $blur $color;
		box-shadow:inset $top $left $blur $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $color;
		-moz-box-shadow: $top $left $blur $color;
		box-shadow: $top $left $blur $color;
	}
}

//Box Sizing
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing: $type;
	box-sizing: $type;   
}

//Columns
@mixin columns($number : 2, $gap : 2%) {
	@if $number == nobreak {
		break-inside: avoid-column;
		page-break-inside: avoid;
		-webkit-column-break-inside:avoid;
		-moz-column-break-inside:avoid;
		column-break-inside:avoid;
	}
	@else {
		position: relative;
		-webkit-column-count: $number;  
		-moz-column-count: $number;     
		column-count: $number; 
		-webkit-column-gap: $gap;
		-moz-column-gap: $gap;
		column-gap: $gap;
	}
}

//Opacity
@mixin opacity ($amount :0.8) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$amount * 100})"; // For IE 8 & 9 (more valid) but not required as filter works too
  filter: alpha(opacity=#{$amount * 100}); // This works in IE 8 & 9 too but also 5, 6, 7 */
  -moz-opacity: $amount;
  -khtml-opacity: $amount; /* Safari 1.x */
  opacity: $amount;
}

//Alpha Background supplying a hex value 
// Usage: @include background-opacity(#f1f1f1, 0.8);
@mixin background-opacity($color, $opacity: 0.8) {
	background-color: $color;
	background-color: rgba($color, $opacity);
}

//Alpha Background supplying an rgb value 
// Usage: @include background-rgba(255, 255, 255, 0.8);
@mixin background-rgba($red: 0, $green: 0, $blue: 0, $alpha: 0.5) {
	background-color: lighten(rgb($red, $green, $blue), 80%);
	background-color: rgba($red, $green, $blue, $alpha);
}

//Flexible Width
@mixin flexible-width ($context, $target) {
  width: (($target / $context) * 100%);
}

@mixin convert-ems ($pixels) {
	font-size: 1 / $base-font * $pixels;
}

//CSS3 Transition
@mixin transition($property: all, $duration: 0.2s, $type: ease-in-out, $delay :0s) {
	@if $property == none {
		-moz-transition: none;
		-webkit-transition: none;
		-o-transition: color 0 ease-in;
		transition: none;
	} @else if $property == transform {
		-webkit-transition: -webkit-transform $duration $type $delay;
		-moz-transition: -moz-transform $duration $type $delay;
		-o-transition: -o-transform $duration $type $delay;
		transition: transform $duration $type $delay;
	}
	@else {
		-webkit-transition: $property $duration $type $delay;
		-moz-transition: $property $duration $type $delay;
		-o-transition: $property $duration $type $delay;
		transition: $property $duration $type $delay;
	}
}

//Skew
@mixin skewX($degrees : 25) {
	//does not support IE8 and below
	-webkit-transform: skewX($degrees#{deg});
	-moz-transform: skewX($degrees#{deg}); 
	-o-transform: skewX($degrees#{deg}); 
	-ms-transform:skewX($degrees#{deg});
	transform:skewX($degrees#{deg});
}

@mixin skewY($degrees : 25) {
	//does not support IE8 and below
	-webkit-transform: skewY($degrees#{deg});
	-moz-transform: skewY($degrees#{deg}); 
	-o-transform: skewY($degrees#{deg}); 
	-ms-transform:skewY($degrees#{deg});
	transform:skewY($degrees#{deg});
}

//Rotate
@mixin rotate($degrees : 180) {
	//does not support IE8 and below
	-webkit-transform: rotate($degrees#{deg});
	-moz-transform: rotate($degrees#{deg}); 
	-o-transform: rotate($degrees#{deg}); 
	-ms-transform:rotate($degrees#{deg});
	transform:rotate($degrees#{deg});
}

@mixin rotate-x($degrees : 40) {
	//does not support IE8 and below
	-webkit-transform: rotateX($degrees#{deg});
	-moz-transform: rotateX($degrees#{deg}); 
	-o-transform: rotateX($degrees#{deg}); 
	-ms-transform:rotateX($degrees#{deg});
	transform:rotateX($degrees#{deg});
}

@mixin rotate-y($degrees : 40) {
	//does not support IE8 and below
	-webkit-transform: rotateY($degrees#{deg});
	-moz-transform: rotateY($degrees#{deg}); 
	-o-transform: rotateY($degrees#{deg}); 
	-ms-transform:rotateY($degrees#{deg});
	transform:rotateY($degrees#{deg});
}

@mixin perspective($amount : 600px) {
	//does not support IE8 and below
	@if $amount == none {
		-webkit-perspective: none;
		perspective: none;
	} @else {
		-webkit-perspective: $amount;
		perspective: $amount;
	}
}

// 3D Translate (Must have perspective set)
@mixin translate-3d($x : 0px, $y : 0px, $z : 0px, $browser : all) {
	//does not support IE8 and below
	@if $x == none {
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0); 
		-o-transform: translate3d(0,0,0); 
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	} @else if $browser == webkit {
		-webkit-transform: translate3d($x,$y,$z);
		transform: translate3d($x,$y,$z);
	} @else {
		-webkit-transform: translate3d($x,$y,$z);
		-moz-transform: translate3d($x,$y,$z); 
		-o-transform: translate3d($x,$y,$z); 
		-ms-transform: translate3d($x,$y,$z);
		transform: translate3d($x,$y,$z);
	}
}

// Rotate 3D (Must have perspective set)
// Usage:
// @include rotate-3d(0,1,0,180deg); for 180 degree flip around Y axis.
// @include rotate-3d(1,0,0,360deg); for 360 degree spin around X axis.
@mixin rotate-3d($x : 0, $y : 0, $z : 0, $degrees : 0, $browser : all) {
	//does not support IE8 and below
	@if $x == none {
		-webkit-transform: rotate3d(0,0,0,0#{deg});
		-moz-transform: rotate3d(0,0,0,0#{deg}); 
		-o-transform: rotate3d(0,0,0,0#{deg}); 
		-ms-transform: rotate3d(0,0,0,0#{deg});
		transform: rotate3d(0,0,0,0#{deg});
	} @else if $browser == webkit {
		-webkit-transform: rotate3d($x,$y,$z,$degrees#{deg});
		transform: rotate3d($x,$y,$z,$degrees#{deg});
	} @else {
		-webkit-transform: rotate3d($x,$y,$z,$degrees#{deg});
		-moz-transform: rotate3d($x,$y,$z,$degrees#{deg}); 
		-o-transform: rotate3d($x,$y,$z,$degrees#{deg}); 
		-ms-transform: rotate3d($x,$y,$z,$degrees#{deg});
		transform: rotate3d($x,$y,$z,$degrees#{deg});
	}
}

// Transform style - Preserves 3D perspective through child elements. (Must have perspective set at parent element)
@mixin transform-style($value : preserve-3d) {
	-webkit-transform-style: $value;
	transform-style: $value;
}

// Backface Visibility - Determines whether or not the back face of the element is visible when facing the user. By default it is transparent.
@mixin backface-visibility ($value : hidden) {
	-webkit-backface-visibility: $value;
	backface-visibility: $value;
}

//Scale
@mixin scale($amount : 0.8) {
	-webkit-transform: scale($amount);
	-moz-transform: scale($amount);
	-o-transform: scale($amount);
	-ms-transform: scale($amount);
	transform: scale($amount);  	
}

// Animation
@mixin keyframes($animation) {
	@-webkit-keyframes $animation {
		@content;
	}
	@-moz-keyframes $animation {
		@content;
	}  
	@-ms-keyframes $animation {
		@content;
	}
	@-o-keyframes $animation {
		@content;
	}  
	@keyframes $animation {
		@content;
	}
}

@mixin orientation($orientation) {
	@media all and (orientation: $orientation) {
		@content;
	}
}

@mixin animation-duration($duration : 1s) {
	-webkit-animation-duration: $duration;
	-moz-animation-duration: $duration;
	-o-animation-duration: $duration;
	animation-duration: $duration;
}

@mixin animation-delay($delay : 1s) {
	-webkit-animation-delay: $delay;
	-moz-animation-delay: $delay;
	-o-animation-delay: $delay;
	animation-delay: $delay;
}

@mixin animation-iteration($iteration : infinite) {
	-webkit-animation-iteration-count: $iteration;
	-moz-animation-iteration-count: $iteration;
	-o-animation-iteration-count: $iteration;
	animation-iteration-count: $iteration;
}

@mixin animation-play-state($state : running) {
	@if $state == paused {
		-webkit-animation-play-state: paused;
		-moz-animation-play-state: paused;
		-o-animation-play-state: paused;
		animation-play-state: paused;
	}
	@else if $state == running {
		-webkit-animation-play-state: running;
		-moz-animation-play-state: running;
		-o-animation-play-state: running;
		animation-play-state: running;
	}
}

// Height Res / Retina display
// Use a pixel ratio of 1.5 = iPhone 4, 1.3 = Nexus 7 and 2 = other hi-res screens. Defaults to 1.25
@mixin hi-res($pixelratio: 1.25) {

	@if $pixelratio == 1.25 {
		@media only screen and (-webkit-min-device-pixel-ratio: $pixelratio),
		only screen and (min--moz-min-device-pixel-ratio: $pixelratio),
		only screen and (-moz-min-device-pixel-ratio: $pixelratio),
		only screen and (-o-min-device-pixel-ratio: $pixelratio),
		only screen and (min-device-pixel-ratio: $pixelratio),(min-resolution: 120dpi) { @content; }
	}

	@else if $pixelratio == 1.3 {
		@media only screen and (-webkit-min-device-pixel-ratio: $pixelratio),
		only screen and (min--moz-min-device-pixel-ratio: $pixelratio),
		only screen and (-moz-min-device-pixel-ratio: $pixelratio),
		only screen and (-o-min-device-pixel-ratio: $pixelratio),
		only screen and (min-device-pixel-ratio: $pixelratio),(min-resolution: 124.8dpi) { @content; }
	}
	
	@else if $pixelratio == 1.5 {
		@media only screen and (-webkit-min-device-pixel-ratio: $pixelratio),
		only screen and (min--moz-min-device-pixel-ratio: $pixelratio),
		only screen and (-moz-min-device-pixel-ratio: $pixelratio),
		only screen and (-o-min-device-pixel-ratio: $pixelratio),
		only screen and (min-device-pixel-ratio: $pixelratio),(min-resolution: 144dpi) { @content; }
	}
	
	@else {
		@media only screen and (-webkit-min-device-pixel-ratio: $pixelratio),
		only screen and (min--moz-min-device-pixel-ratio: $pixelratio),
		only screen and (-moz-min-device-pixel-ratio: $pixelratio),
		only screen and (-o-min-device-pixel-ratio: $pixelratio),
		only screen and (min-device-pixel-ratio: $pixelratio) { @content; }
	}
}

// Flexbox use - .wrapper {@include flexbox();}
@mixin flexbox($item-type : "", $direction : "") {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @if $item-type == "stretch" {
	-webkit-align-items: stretch;
	align-items: stretch;
  }
  @if $direction == "row" {
	-webkit-flex-direction: row;
   flex-direction: row;
  }
  @if $direction == "column" {
	-webkit-flex-direction: column;
   flex-direction: column;
  }
}

// Flexbox use - .item {@include flex(1 200px);}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

//Flexbox use -  .item {@include order(2);}
@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

// Allow word wrapping and hyphenation ie. for links to be split onto several lines so they don’t overflow out of their container.
// Usage: @include text-wrap or @include text-wrap(word) Options are none, word, character and normal. Default is character.
@mixin text-wrap($type : character) {
	@if $type == none {
		white-space: none;
	} @else if $type == word {
		word-break: break-word;
		word-wrap: break-word;
	} @else if $type == character {
		word-break: break-word;
		word-wrap: break-word;
		-ms-word-break: break-all;
		word-break: break-all;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	} @else if $type == normal {
		word-break: normal;
		word-wrap: normal;
		white-space: normal;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		hyphens: none;
	}
}

// Mixin for webfont
@mixin web-font($font-name: "FONT NAME", $file-path: "/PATHTOFONT/", $file-name: "FONTNAME") {
	$full-path: $file-path + $file-name;
	@font-face {
		font-family: '#{$font-name}';
		src: url('#{$full-path}.eot');
		src: url('#{$full-path}.eot?#iefix') format('embedded-opentype'),
			url('#{$full-path}.woff') format('woff'),
			url('#{$full-path}.ttf') format('truetype'),
			url('#{$full-path}.svg##{$file-name}') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@mixin transform($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}
@mixin transform-origin($transform-origin) {
	-webkit-transform-origin: $transform-origin;
	-moz-transform-origin: $transform-origin;
	-ms-transform-origin: $transform-origin;
	-o-transform-origin: $transform-origin;
	transform-origin: $transform-origin;
}

@mixin transition-delay($transition-delay) {
	-webkit-transition-delay: $transition-delay;
	-moz-transition-delay: $transition-delay;
	-ms-transition-delay: $transition-delay;
	-o-transition-delay: $transition-delay;
	transition-delay: $transition-delay;
}

@mixin radial-gradient ($from, $to, $star-point, $end-point) {
	background: $from;
	background: -moz-radial-gradient(center, ellipse cover,  $from $star-point,  $to $end-point);
	background: -webkit-gradient(radial, center center, 0px, center center, $end-point, color-stop($star-point, $from), color-stop($end-point, $to));
	background: -webkit-radial-gradient(center, ellipse cover,  $from $star-point, $to $end-point);
	background: -o-radial-gradient(center, ellipse cover,  $from $star-point, $to $end-point);
	background: -ms-radial-gradient(center, ellipse cover,  $from $star-point, $to $end-point);
	background: radial-gradient(ellipse at center,  $from $star-point, $to $end-point);
}

@mixin user-select-none() {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
}

@mixin animation ($animation) {
	-webkit-animation: $animation;
	-moz-animation: $animation;
	-o-animation: $animation;
	animation: $animation;
}