$nav-height: convert-px(50);
$spacing: convert-px(5);
%transition {
	@include transition(all, .2s);
}
.header {
	background: $blue;
	position: absolute;
	height: 100%;
	height: 100vh;
	width: convert-px(300);
	right: convert-px(-300);
	top: 0;
	box-shadow: inset 3px 0px 2px rgba(0, 0, 0, 0.2);	
	z-index: 15;
	.top {
		padding: convert-px(14) 10%;
		&:after {
			@extend %transition;
			content: '';
			position: absolute;
			top: convert-px(12);
			left: convert-px(20);
			@include icon-arrow-left-white;
			opacity: 0;
			visibility: hidden;
			cursor: pointer;
		}
		&:before {
			@extend %transition;
			content: '';
			box-shadow: inset 3px 0px 2px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $blue;
			visibility: hidden;
			opacity: 0;
			cursor: pointer;
		}
		.second-level & {
			&:after,
			&:before {
				opacity: 1;
				visibility: visible;
			}
		}
		.top-canvas {
			@extend .clearfix;
		}
	}
	.logo {
		.dark {
			display: none;
		}
		.light {
			display: block;
		}
	}
	.top,
	.bottom {
		width: convert-px(250);
	}
	.has-child {
		@extend .clearfix;
	}
	.current-level, .next-level {
		float: left;
	}
	.current-level {
		width: 70%;
		padding-right: 0;
	}
	.next-level {
		width: 23%;
		position: relative;
		top: 10px;
		margin-left: 5px;
		padding-left: 10px;
		cursor: pointer;
		.icon {
			display: inline-block;
			@include icon-arrow-right-white;
			margin: auto;			
		}
		.second-level & {
			visibility: hidden;
		}
	}
	form {
		.auto-complete {
			display: none;
			position: absolute;
			background: $white;
			width: convert-px(198);
			z-index: 15;
			top: convert-px(40);
			left: convert-px(61);
			border-radius: 5px;
			overflow: hidden;
			border: 1px solid #C1C1C1;
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			li {
				display: block;
			}
			a {
				font-size: convert-px(14);
				padding: convert-px(5);		
				display: block;
				background: $white;
				border-bottom: 1px solid #C1C1C1;
				&:hover {
					background: $grey-lighter;
				}
			}
			span {
				display: block;
				
			}
			.job-role {
				color: $black;
			}
			.department {
				display: block;
			}
			.view-roles {
				a {
					padding: convert-px(10);
					background: $blue;
					color: $white;
					border-bottom: none;
					&:hover {
						background: $blue-dark;
					}
				}
			}
		}
	}
	.breadcrumbs {
		display: none;
	}
}


.header-job-search,
.search-form-container {
	form {
		position: relative;
	}
	label {
		color: $blue;
		margin-right: $spacing;
	}
	.back-to-site {
		font-size: convert-px(12);
		text-align: right;
		display: block;
		margin-bottom: convert-px(10);
	}
	.input,
	.submit {
		padding: 0 convert-px(8);
		outline: 0;
		height: $nav-height - convert-px(20);
		border-radius: 5px;
		margin-right: convert-px(5);
		display: inline-block;
		vertical-align: middle;
		&:last-child {
			margin: 0;
		}
	}
	.submit {
		@extend .go;
		width: convert-px(40);
		position: relative;
		padding: 0;
		.icon {
			@include icon-search-white;
			margin-top: convert-px(3);
			margin: auto;
			.lt-ie9 &{
				margin-top: convert-px(-5);
			}
		}
	}
	.menu-open & {
		display: none;
	}
	.input {
		border: 1px solid $grey;

	}
}
.header-job-search {
	display: none;

	.submit {
		position: relative;
		&:after {
			content: '';
			@include icon-search-white;
			position: relative;
			display: block;
			left: 3px;
		}
	}
	.input, .submit {
		height: $nav-height - convert-px(10)
	}
}
.mobile-top-bar {
	@extend %transition;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	
	z-index: 16;
	height: $nav-height;
	border-bottom: 1px solid $grey;
	background: $white;

	.mobile-logo {
		margin-left: convert-px(10);
		height: 100%;
		padding: convert-px(11) 0 convert-px(9);

		img {
			max-height: 100%;
		}
	}
	.navigation-toggle {
		$padding: $nav-height/4;
		$bar-width: $nav-height - $padding*2;
		$bar-spacing: 8px;
		$bar-height: 3px;
		border-left: 1px solid $grey;
		float: right;
		display: block;
		width: $nav-height;
		height: 100%;
		position: relative;
		cursor: pointer;
		padding: $padding;
		@extend %transition;

		.icon-bar {
			margin: auto;
			position: relative;
			display: inline-block;
			top: -2px;

			&,
			&:after,
			&:before {
				@extend %transition;
				background-color: $blue;
				width: $bar-width;
				height: $bar-height;
			}
			&:after,
			&:before {
				content: '';
				position: absolute;
				left: 0;
			}
			&:before {
				top: -$bar-spacing;
			}
			&:after {
				top: $bar-spacing
			}
		}
		.menu-open & {
			.icon-bar {
				@include transform(scale(1));
				background: transparent;

				&:before,
				&:after {
					top: 0;
					width: 100%;
				}
				&:before {
					@include transform(rotate(135deg));
				}
				&:after {
					@include transform(rotate(-135deg));
				}
			}
		}
	}
	.menu-open & {
		position: absolute;
	}
}

.mobile-search-toggle {
	width: $nav-height;
	height: 100%;
	position: relative;
	cursor: pointer;
	border-left: 1px solid $grey;
	float: right;
	height: 100%;
	z-index: 7;
	.input-container {
		position: relative;
	}
	.icon {
		@include icon-search-blue;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	&:before, &:after {
		@extend %transition;
		content: '';
		position: absolute;
		left: 0;
		opacity: 0;
		visibility: hidden;
	}
	&:before {
		@include gradient-no-ie($blue-light, $blue, vertical);
		width: 100%;
		height: 100%;
		top: 0;
	}
	&:after {
		width: 0;
		height: 0;
		margin: auto;
		right: 0;
		bottom: -2px;
		border: 10px solid transparent;
		border-bottom-color: $white;
	}
	.search-active & {
		.icon {
			@include icon-search-white;
		}
		&:before, &:after{
			opacity: 1;
			visibility: visible;
		}
	}
}

.search-form-container{
	@include transition(all ,.1s);
	position: fixed;
	width: 100%;
	right: 0;
	top: convert-px(-4);
	height: $nav-height;
	form {
		.auto-complete {
			left: convert-px(10);
			width: convert-px(300);
			a {
				color: $blue;
			}
			.view-roles {
				border-bottom: none;
			}
		}
	}
	.search-form {
		$spacing: convert-px(20);
		@extend .clearfix;
		.text-field {
			.input-container {
				padding-right: convert-px(75) + $spacing/2;
				.lt-ie9 & {
					input {
						padding-top: convert-px(5);
					}
				}
			}
			background: $white;
			border-bottom: 1px solid $grey;
			box-shadow: 0 2px 2px 0 rgba(90, 90, 90, 0.3);
			position: relative;
			width: 100%;
			padding: $spacing/2;
			position: relative;

			.input {
				border: none;
				background: $white;
				border: 1px solid $grey;
				-webkit-appearance: none;
				margin: 0;
				display: block;
				width: 100%;

			}
			.submit {
				position: absolute;
				right: $spacing/2;
				top: $spacing/2;
				width: convert-px(75);
				color: $white;
			}
		}
	}
	.search-active & {
		@include transform(translate3d(0,100%,0));
		.lt-ie10 & {
			top: $nav-height;
		}
	}
}
.container, body, html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.container-canvas {
	position: relative;
	@extend %transition;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	.menu-open & {
		@include transform(translate3d(-250px, 0, 0));
		overflow: visible;
		.no-csstransforms3d & {
			@include transform(translateX(-280px));
		}
		.no-csstransforms & {
			right: 250px;
		}
	}
	.second-level & {
		@include transform(translate3d(-300px, 0, 0));

		.no-csstransforms3d & {
			@include transform(translateX(-300px));
		}
		.no-csstransforms & {
			right: 280px;
		}
	}
}
.main-content {
	padding-top: $nav-height;
	@extend %transition;
	.menu-open & {
		opacity: 0.1;
	}
}
.navigation {
	height: 100%;

	ul {
		list-style: none;
		padding: 0;
		li {
			border-bottom: 1px solid rgba($white, .2);
		}
		a {
			display: block;
			color: $white;
			padding: convert-px(13)	1.9em;
			text-decoration: none;			
		}
	}
	.desktop-search-toggle {
		display: none;
		position: relative;
		height: 100%;
		border-left: 1px solid $blue-border;
		border-right: 1px solid $blue-border;
		padding: 0 convert-px(10);
		&:after {
			@extend %transition;
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			margin: auto;
			right: 0;
			left: 0;
			bottom: 0;
			border: 6px solid transparent;
			border-bottom-color: $white;
			opacity: 0;
			visibility: hidden;
			.search-active & {
				opacity: 1;
				visibility: visible;				
			}
		}
		.search-active & {
			background: rgba(white,.2);
		}
	}
	.first-level, .desktop-search-toggle {
		@extend %transition;
	}
	.has-child {
		.title {
			color: white;
			text-transform: uppercase;
			font-weight: lighter;
			padding: 0.85em 1.5em 0.71em;
			border-bottom: 1px solid rgba($white, .2);
			box-shadow: inset 3px 0px 2px rgba(0, 0, 0, 0.2);
			margin-bottom: 0;
			background: darken($blue, 10%);
			line-height: 0.8em;
		}
	}
	.child-level {
		@extend %transition;
		background: darken($blue, 5%);
		width: 100%;
		height: 100vh;
		top: 0;
		position: absolute;
		right: convert-px(-250);
		box-shadow: inset 3px 0px 2px rgba(0, 0, 0, 0.2);
		opacity: 0;
		visibility: hidden;
		ul, .title {
			max-width: 240px;
			line-height: 1.4;
		}
		&.active {
			opacity: 1;
			visibility: visible;
			@include transform(translate3d(-190px, 0, 0));

			.no-csstransforms3d & {
				@include transform(translateX(-190px));
			}
			.no-csstransforms & {
				right: -50px;
			}
		}
	}
}

/*
 ___                       _                              _         ___    
(  _`\                    ( )                   _        ( )_     /'_  )   
| (_) ) _ __   __     _ _ | |/')  _ _      _   (_)  ___  | ,_)   (_)_) |   
|  _ <'( '__)/'__`\ /'_` )| , <  ( '_`\  /'_`\ | |/' _ `\| |      _(_ <    
| (_) )| |  (  ___/( (_| || |\`\ | (_) )( (_) )| || ( ) || |_    ( )_) |   
(____/'(_)  `\____)`\__,_)(_) (_)| ,__/'`\___/'(_)(_) (_)`\__)   `\____)   
                                 | |                                       
                                 (_)                                       
*/


@include breakpoint(3) {
	.mobile-top-bar {
		display: none;
	}

	.header {
		position: relative;
		width: 100%;
		height: auto;
		background: none;
		right: 0;
		.current-level {
			display: block;
			float: none;
		}
		.next-level {
			display: none;
		}
		.top,
		.bottom {
			width: auto;
		}
		.top {
			display: block;
			padding: $margin/2;
			max-width: $grid-width;
			margin: auto;
			background: $white;
			position: relative;
			box-shadow: 4px 0px 0px white;
			&:after,
			&:before {
				display: none;
			}
		}
		.logo {
			float: left;
			width: auto;
			max-width: convert-px(200);
			margin-top: convert-px(10);
			padding: 0;

			.dark {
				display: block;
			}
			.light {
				display: none;
			}
			img {
				max-width: 100%;
			}
		}
		.header-job-search {
			float: right;
			display: block;
		}
		.breadcrumbs {
			display: block;
			color: $blue;
			padding: convert-px(10);
			a {
				margin-right: convert-px(20);
				&:hover {
					color: $blue-dark;
				}
				&:after {
					content: '/';
					position: relative;
					right: convert-px(-10);
				}
				&:last-child {
					&:after {
						content: '';
					}
				}
			}
			.breadcrumbs-canvas {
				max-width: $grid-width;
				margin: auto;
			}
		}
	}
	.container, body, html {
		height: auto;
		width: auto;
		overflow-x: visible;
	}
	.container-canvas {
		overflow-x: visible;
		overflow-y: visible;
		.menu-open &,
		.second-level & {
			@include transform(none);
			.no-csstransforms3d & {
				@include transform(none);
			}
			.no-csstransforms & {
				right: 0;
			}
		}
	}
	.navigation {
		position: relative;
		width: 100%;
		height: convert-px(40);
		@include gradient($blue-light, $blue, vertical);
		border-bottom: none;

		.navigation-toggle {
			display: none;
		}
		.navigation-canvas {
			position: relative;
			max-width: $grid-width;
			margin: auto;
			width: 100%;
			top: 0;
			height: 100%;
			right: auto;
			background: none;
			box-shadow: none;
		}
		.first-level {
			@include gradient($blue-light, $blue, vertical);
			position: relative;
			
			// z-index: 8;
			
			> li {
				display: inline-block;
				height: 100%;
				width: auto;
				margin-right: convert-px(-5);
				border-left: 1px solid $blue-border;
				border-bottom: 0;
				> a {
					border-bottom: none;
				}
			}
			a {
				padding: convert-px(9) convert-px(20);
				color: $white;
				width: auto;
			}
			.title {
				display: none;
			}
			li {
				position: relative;
				&:last-child {
					border-bottom: none;
					border-right: 0;
				}

				&.back-button {
					display: none;
				}
				&:hover,
				&.current {
					@include gradient(#1585B4, #1E68A4, vertical);
				}
				&:last-child {
					border-right: 1px solid $blue-border;
				}
			}
		}
		.logo-fixed, .desktop-search-toggle, .search-form-container {
			position: absolute;
			top: 0;
		}
		.logo-fixed {
			left: 0;
			padding: 0;
			border: none;
			.icon {
				margin-top: 6px;
				@include icon-logo-white;
			}
		}
		.desktop-search-toggle {
			
			// z-index: 10;
			display: block;
			right: 0;
			cursor: pointer;
			opacity: 0;
			visibility: hidden;
			.icon {
				@include icon-search-white;
				margin-top: 2px;
			}
		}
		.search-form-container {
			
			z-index: -1;
			.search-form {
				width: convert-px(401);
				float: right;
			}
			top: convert-px(-10);
			opacity: 0;
			visibility: hidden;
			.text-field {
				border: none;
				padding: convert-px(8);
				.input-container {
					padding-right: convert-px(83);
				}
				.input, .submit {
					height: convert-px(30);
				}
				.submit {
					top: convert-px(8);
					right: convert-px(8);
				}
			}
			.lt-ie10 & {
				display: none;
				position: fixed;
				max-width: $grid-width;
				top: 40px;
				left: 0;
				right: 0;
				margin: auto;
			}
			.search-active & {
				@include transform(translate3d(0,convert-px(50),0));
				opacity: 1;
				visibility: visible;
				.no-csstransforms3d &, .no-csstransforms & {
					top: convert-px(40);
				}
			}
		}
		.child-level {
			position: absolute;
			width: convert-px(200);
			height: auto;
			top: 100%;
			left: 0;
			opacity: 1;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
			@include gradient($blue-light, $blue, vertical);
			visibility: hidden;
			opacity: 0;
			z-index: 1;
			ul {
				margin: 0;
			}
			li {
				&:last-child {
					border-bottom: none;
					border-right: 0;
				}
				position: relative;
				width: 100%;

				&.back-button {
					display: none;
				}
				&:hover,
				&.current {
					@include gradient(#1585B4, #1E68A4, vertical);
				}
				&:last-child {
					border-right: 1px solid $blue-border;
				}
			}
			.menu-open &,
			.second-level & {
				@include transform(none);

				.no-csstransforms &{
					right: 0;
				}
			}
		}
		.has-child {
			&:hover {
				> .child-level {
					visibility: visible;
					opacity: 1;
				}
			}
		}

		&.stuck {
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			height: convert-px(40);
			.desktop-search-toggle {
				opacity: 1;
				visibility: visible;
				.lt-ie10 & {
					display: none;
				}
			}
			.first-level {
				@include transform(translate3d(convert-px(45), 0,0));
				@include transition-delay(.1s);
				.no-csstransforms &, .no-csstransforms3d & {
					@include transform(none);
					position: relative;
					left: convert-px(45)
				}
			}
		}
	}
}
@include breakpoint(4) {
	.header {
		.top {
			padding: $margin/2 0;
		}
	}
}