@import "vendor/normalize";
@import "vendor/boilerplate";

.clearfix {
	zoom:1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
a {
	text-decoration: none;
	outline: 0;
	&:focus {
		outline: 0;
	}
}

img {
	max-width: 100%;
}

