.simple-tab {
	.tab-content {
		position: relative;
	}
	.content-item {
		@include transition(all, .2s);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		&.active{
			opacity: 1;
			visibility: visible;
			display: block;
			position: relative;
		}
		.lightbox & {
			visibility: hidden;
		}
		.lightbox.open &  {
			.lt-ie9 & {
				visibility: hidden;
				&.active {
					visibility: visible;
				}
			}
			visibility: visible;
		}
	}
	.tab-nav {
		@extend .clearfix;
		margin: auto;
		position: relative;		
		width: 90%;
		&:after {
			background: none;
		}
	}
	.nav-item {
		cursor: pointer;
		@include transition(all, .2s);
		width: 20%;
		float: left;
		opacity: 0.3;
		padding-left: 2%;
		&:before {
			content: '';
			display: block;
			margin: 0 auto convert-px(10);
			border-radius: 50%;
			border: 1px solid $white;
			width: 7px;
			height: 7px;
		}
		&.active {
			opacity: 1;
			&:before {
				background: $white;
			}
		}
	}
}
.tab-content {
	position: relative;
}
.tab {
	padding-top: $margin;
	@include transition(all, .4s);
	background: $white;
	opacity: 0;
	visibility: hidden;
	&.selected {
		opacity: 1;
		visibility: visible;
	}
	.no-js & {
		opacity: 1;
		visibility: visible;
		margin-bottom: $margin*2;
		&:last-child {
			margin: 0;
		}
	}
}
.m-share-links {
	.module-canvas {
		margin-top: 0;
	}
}
.tab-2 {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	.no-js & {
		position: relative;
	}
}
.tab-nav {
	text-align: center;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		background: $grey;
		bottom: 1px;
		left: 0;
		z-index: 2;
	}
	ul {
		position: relative;
		z-index: 5;
		@extend .clearfix;
		padding: 0 4%;
		margin-left: -2%;
	}
	li {
		float: left;
		width: 50%;
		padding-left: 2%;
	}
	button {
		border-bottom-color: transparent;
		border-radius: 5px 5px 0 0;
		display: block;
		padding: convert-px(10) 0;
		width: 100%;
		@include breakpoint(3) {
			font-size: convert-px(24);
		}
		.lt-ie10 & {
			background: $grey;
		}
		&:hover {
			opacity: 1;
			color: $blue;
			background: $grey-lighter;
		}
	}
	.selected {
		button {
			color: $black;
			background: $white;
		}
	}
	.no-js & {
		display: none;
	}
}