@mixin bg-sprite {
	background: url(../images/bg-sprite-51637afd.svg) no-repeat;
	.no-svg &, .lt-ie9 & {
		background-image: url(../images/bg-sprite_v_65791c.png);
	}
}


@mixin icon-anchor-ads-large {
	@include bg-sprite;
	background-position: 0 89.43734335839599%;
	width: 140.79px;
	height: 110px;
}


@mixin icon-anchor-ads-small {
	@include bg-sprite;
	background-position: 89.69894688644686% 84.16391509433963%;
	width: 75.4px;
	height: 60px;
}


@mixin icon-anchor-awesome-locations-large {
	@include bg-sprite;
	background-position: 16.780691299165674% 89.43734335839599%;
	width: 110px;
	height: 110px;
}


@mixin icon-anchor-awesome-locations-small {
	@include bg-sprite;
	background-position: 29.24634420697413% 97.13561320754717%;
	width: 60px;
	height: 60px;
}


@mixin icon-anchor-benefits-large {
	@include bg-sprite;
	background-position: 56.11323003575686% 89.43734335839599%;
	width: 110px;
	height: 110px;
}


@mixin icon-anchor-benefits-small {
	@include bg-sprite;
	background-position: 8.998875140607424% 97.13561320754717%;
	width: 60px;
	height: 60px;
}


@mixin icon-anchor-business-large {
	@include bg-sprite;
	background-position: 0 44.863408521303256%;
	width: 190px;
	height: 110px;
}


@mixin icon-anchor-business-small {
	@include bg-sprite;
	background-position: 93.65702710427878% 69.68042452830188%;
	width: 144.33px;
	height: 60px;
}


@mixin icon-anchor-cool-teams-large {
	@include bg-sprite;
	background-position: 29.891537544696067% 89.43734335839599%;
	width: 110px;
	height: 110px;
}


@mixin icon-anchor-cool-teams-small {
	@include bg-sprite;
	background-position: 15.748031496062993% 97.13561320754717%;
	width: 60px;
	height: 60px;
}


@mixin icon-anchor-culture-large {
	@include bg-sprite;
	background-position: 69.22407628128725% 89.43734335839599%;
	width: 110px;
	height: 110px;
}


@mixin icon-anchor-culture-small {
	@include bg-sprite;
	background-position: 35.9955005624297% 97.13561320754717%;
	width: 60px;
	height: 60px;
}


@mixin icon-anchor-customer-large {
	@include bg-sprite;
	background-position: 43.00238379022646% 89.43734335839599%;
	width: 110px;
	height: 110px;
}


@mixin icon-anchor-customer-small {
	@include bg-sprite;
	background-position: 22.49718785151856% 97.13561320754717%;
	width: 60px;
	height: 60px;
}


@mixin icon-anchor-tech-large {
	@include bg-sprite;
	background-position: 74.73783570606567% 0;
	width: 175.63px;
	height: 110px;
}


@mixin icon-anchor-tech-small {
	@include bg-sprite;
	background-position: 80.68280034572169% 84.16391509433963%;
	width: 92.82px;
	height: 60px;
}


@mixin icon-arrow-left-white {
	@include bg-sprite;
	background-position: 98.0183387270766% 36.54434599926927%;
	width: 22px;
	height: 32.16px;
}


@mixin icon-arrow-right-circle {
	@include bg-sprite;
	background-position: 98.71048343291689% 61.0892552586697%;
	width: 28.5px;
	height: 28.5px;
}


@mixin icon-arrow-right-white {
	@include bg-sprite;
	background-position: 98.0183387270766% 40.216249543295575%;
	width: 22px;
	height: 32.16px;
}


@mixin icon-blog {
	@include bg-sprite;
	background-position: 99.08724100327154% 43.88013698630137%;
	width: 32px;
	height: 32px;
}


@mixin icon-bolt-left-large {
	@include bg-sprite;
	background-position: 93.73507462686567% 63.91269218076087%;
	width: 145px;
	height: 29.27px;
}


@mixin icon-bolt-left-small {
	@include bg-sprite;
	background-position: 84.58249158249158% 77.42467598047467%;
	width: 58px;
	height: 16.85px;
}


@mixin icon-bolt-right-large {
	@include bg-sprite;
	background-position: 93.73507462686567% 60.58174865999795%;
	width: 145px;
	height: 29.27px;
}


@mixin icon-bolt-right-small {
	@include bg-sprite;
	background-position: 91.09203142536475% 77.42467598047467%;
	width: 58px;
	height: 16.85px;
}


@mixin icon-calendar {
	@include bg-sprite;
	background-position: 99.1304822168885% 32.88470319634703%;
	width: 32.4px;
	height: 32px;
}


@mixin icon-circle-arrow-left-white {
	@include bg-sprite;
	background-position: 56.449834619625136% 95.11662817551964%;
	width: 42px;
	height: 42px;
}


@mixin icon-circle-arrow-right-white {
	@include bg-sprite;
	background-position: 61.080485115766265% 95.11662817551964%;
	width: 42px;
	height: 42px;
}


@mixin icon-circle-close-black {
	@include bg-sprite;
	background-position: 65.71113561190738% 95.11662817551964%;
	width: 42px;
	height: 42px;
}


@mixin icon-circle-close-white {
	@include bg-sprite;
	background-position: 70.34178610804851% 95.11662817551964%;
	width: 42px;
	height: 42px;
}


@mixin icon-cross-arrows-large {
	@include bg-sprite;
	background-position: 50.336322869955154% 73.23248892742484%;
	width: 57px;
	height: 54.54px;
}


@mixin icon-cross-arrows-small {
	@include bg-sprite;
	background-position: 47.01327433628319% 95.24530832649191%;
	width: 45px;
	height: 43.17px;
}


@mixin icon-cross-white {
	@include bg-sprite;
	background-position: 98.75232309180424% 54.645038732354315%;
	width: 28.89px;
	height: 28.89px;
}


@mixin icon-doublequotes-large {
	@include bg-sprite;
	background-position: 76.66925638179801% 89.1258020296967%;
	width: 48px;
	height: 39.89px;
}


@mixin icon-doublequotes-small {
	@include bg-sprite;
	background-position: 99.84945054945055% 4.570436133868074%;
	width: 39px;
	height: 32.81px;
}


@mixin icon-email {
	@include bg-sprite;
	background-position: 62.207357859531776% 73.02201140293485%;
	width: 52px;
	height: 52.08px;
}


@mixin icon-envelope {
	@include bg-sprite;
	background-position: 73.18156579677957% 71.9228998849252%;
	width: 48.5px;
	height: 39px;
}


@mixin icon-facebook {
	@include bg-sprite;
	background-position: 74.80748074807481% 94.89746543778801%;
	width: 40px;
	height: 40px;
}


@mixin icon-fb-f {
	@include bg-sprite;
	background-position: 59.39301642554118% 26.190697674418605%;
	width: 29.7px;
	height: 48px;
}


@mixin icon-glassdoor {
	@include bg-sprite;
	background-position: 92.40924092409242% 94.89746543778801%;
	width: 40px;
	height: 40px;
}


@mixin icon-glassdoor-full-logo {
	@include bg-sprite;
	background-position: 92.58353808353809% 74.9079316853105%;
	width: 135px;
	height: 39.08px;
}


@mixin icon-header-arrows-bottom-large {
	@include bg-sprite;
	background-position: 0 13.223121088659019%;
	width: 305px;
	height: 56.31px;
}


@mixin icon-header-arrows-bottom-small {
	@include bg-sprite;
	background-position: 25.032938076416336% 36.76458752515091%;
	width: 190px;
	height: 38.25px;
}


@mixin icon-header-arrows-top-large {
	@include bg-sprite;
	background-position: 45.11834319526627% 11.619216206913507%;
	width: 273px;
	height: 94.52px;
}


@mixin icon-header-arrows-top-small {
	@include bg-sprite;
	background-position: 74.21483783159138% 34.78240325095686%;
	width: 170.18px;
	height: 61.48px;
}


@mixin icon-header-culture-single-large {
	@include bg-sprite;
	background-position: 94.91561712846348% 21.660746762361615%;
	width: 155px;
	height: 88.73px;
}


@mixin icon-header-culture-single-small {
	@include bg-sprite;
	background-position: 16.45123384253819% 65.48187527933946%;
	width: 98px;
	height: 57.78px;
}


@mixin icon-header-eye-single-large {
	@include bg-sprite;
	background-position: 94.91561712846348% 0;
	width: 155px;
	height: 88.73px;
}


@mixin icon-header-eye-single-small {
	@include bg-sprite;
	background-position: 39.48296122209166% 65.48187527933946%;
	width: 98px;
	height: 57.78px;
}


@mixin icon-header-fire-single-large {
	@include bg-sprite;
	background-position: 0 76.28585377761505%;
	width: 155px;
	height: 88.7px;
}


@mixin icon-header-fire-single-small {
	@include bg-sprite;
	background-position: 18.213866039952997% 73.5132909903552%;
	width: 98px;
	height: 57.8px;
}


@mixin icon-header-globe-single-large {
	@include bg-sprite;
	background-position: 94.91561712846348% 54.1498840473575%;
	width: 155px;
	height: 88.7px;
}


@mixin icon-header-globe-single-small {
	@include bg-sprite;
	background-position: 29.72972972972973% 73.5132909903552%;
	width: 98px;
	height: 57.8px;
}


@mixin icon-header-heart-single-large {
	@include bg-sprite;
	background-position: 94.91561712846348% 43.32149352472323%;
	width: 155px;
	height: 88.73px;
}


@mixin icon-header-heart-single-small {
	@include bg-sprite;
	background-position: 50.99882491186839% 65.48187527933946%;
	width: 98px;
	height: 57.78px;
}


@mixin icon-header-link-single-large {
	@include bg-sprite;
	background-position: 94.91561712846348% 32.491120143542425%;
	width: 155px;
	height: 88.73px;
}


@mixin icon-header-link-single-small {
	@include bg-sprite;
	background-position: 27.967097532314924% 65.48187527933946%;
	width: 98px;
	height: 57.78px;
}


@mixin icon-header-location-single-large {
	@include bg-sprite;
	background-position: 17.632241813602015% 57.125245645513694%;
	width: 155px;
	height: 88.73px;
}


@mixin icon-header-location-single-small {
	@include bg-sprite;
	background-position: 35.4994124559342% 46.60676060313801%;
	width: 98px;
	height: 57.78px;
}


@mixin icon-header-mountain-bottom-large {
	@include bg-sprite;
	background-position: 0 0;
	width: 305px;
	height: 56.31px;
}


@mixin icon-header-mountain-bottom-small {
	@include bg-sprite;
	background-position: 50.06587615283267% 36.76458752515091%;
	width: 190px;
	height: 38.25px;
}


@mixin icon-header-mountain-top-large {
	@include bg-sprite;
	background-position: 45.11834319526627% 0;
	width: 273px;
	height: 94.52px;
}


@mixin icon-header-mountain-top-small {
	@include bg-sprite;
	background-position: 74.21483783159138% 27.519727826867644%;
	width: 170.18px;
	height: 61.48px;
}


@mixin icon-header-rays-bottom-large {
	@include bg-sprite;
	background-position: 0 6.611560544329509%;
	width: 305px;
	height: 56.31px;
}


@mixin icon-header-rays-bottom-small {
	@include bg-sprite;
	background-position: 25.032938076416336% 41.16240298936476%;
	width: 190px;
	height: 38.25px;
}


@mixin icon-header-rays-top-large {
	@include bg-sprite;
	background-position: 40.38461538461539% 27.688449623838324%;
	width: 273px;
	height: 94.52px;
}


@mixin icon-header-rays-top-small {
	@include bg-sprite;
	background-position: 74.21483783159138% 12.994376978689221%;
	width: 170.18px;
	height: 61.48px;
}


@mixin icon-header-record-single-large {
	@include bg-sprite;
	background-position: 37.1536523929471% 57.125245645513694%;
	width: 155px;
	height: 88.73px;
}


@mixin icon-header-record-single-small {
	@include bg-sprite;
	background-position: 47.01527614571093% 46.60676060313801%;
	width: 98px;
	height: 57.78px;
}


@mixin icon-header-stars-single-large {
	@include bg-sprite;
	background-position: 72.79596977329975% 43.44355340730162%;
	width: 155px;
	height: 88.73px;
}


@mixin icon-header-stars-single-small {
	@include bg-sprite;
	background-position: 74.03055229142186% 65.48187527933946%;
	width: 98px;
	height: 57.78px;
}


@mixin icon-header-tech-bottom-large {
	@include bg-sprite;
	background-position: 0 19.834681632988527%;
	width: 305px;
	height: 56.31px;
}


@mixin icon-header-tech-bottom-small {
	@include bg-sprite;
	background-position: 0 36.76458752515091%;
	width: 190px;
	height: 38.25px;
}


@mixin icon-header-tech-single-large {
	@include bg-sprite;
	background-position: 94.91561712846348% 10.830373381180808%;
	width: 155px;
	height: 88.73px;
}


@mixin icon-header-tech-single-small {
	@include bg-sprite;
	background-position: 41.24559341950646% 73.51156171343887%;
	width: 98px;
	height: 57.78px;
}


@mixin icon-header-tech-top-large {
	@include bg-sprite;
	background-position: 0 27.688449623838324%;
	width: 273px;
	height: 94.52px;
}


@mixin icon-header-tech-top-small {
	@include bg-sprite;
	background-position: 74.21483783159138% 20.257052402778434%;
	width: 170.18px;
	height: 61.48px;
}


@mixin icon-header-wheel-single-large {
	@include bg-sprite;
	background-position: 56.67506297229219% 57.125245645513694%;
	width: 155px;
	height: 88.73px;
}


@mixin icon-header-wheel-single-small {
	@include bg-sprite;
	background-position: 62.514688601645126% 65.48187527933946%;
	width: 98px;
	height: 57.78px;
}


@mixin icon-like {
	@include bg-sprite;
	background-position: 98.5092911815087% 64.29318181818182%;
	width: 26.62px;
	height: 28px;
}


@mixin icon-linkedin {
	@include bg-sprite;
	background-position: 88.008800880088% 94.89746543778801%;
	width: 40px;
	height: 40px;
}


@mixin icon-linkedin-letters {
	@include bg-sprite;
	background-position: 95.37137781725323% 82.86427493324045%;
	width: 48.3px;
	height: 46.7px;
}


@mixin icon-linkedin-no-circle {
	@include bg-sprite;
	background-position: 99.19758073320378% 29.23173515981735%;
	width: 33.02px;
	height: 32px;
}


@mixin icon-logo-white {
	@include bg-sprite;
	background-position: 99.63048245614036% 11.881872803537014%;
	width: 37px;
	height: 25.9px;
}


@mixin icon-menu-hierarchy-1 {
	@include bg-sprite;
	background-position: 42.744656917885266% 41.081161715262716%;
	width: 60px;
	height: 36.53px;
}


@mixin icon-newspaper {
	@include bg-sprite;
	background-position: 99.51045887635527% 17.889269406392692%;
	width: 35.9px;
	height: 32px;
}


@mixin icon-people-large {
	@include bg-sprite;
	background-position: 72.45508982035928% 56.50588590401449%;
	width: 114px;
	height: 79.75px;
}


@mixin icon-people-small {
	@include bg-sprite;
	background-position: 56.86073059360731% 46.30557990067192%;
	width: 73px;
	height: 52.25px;
}


@mixin icon-phone {
	@include bg-sprite;
	background-position: 56.41025641025641% 73.02201140293485%;
	width: 52px;
	height: 52.08px;
}


@mixin icon-plus {
	@include bg-sprite;
	background-position: 99.08724100327154% 51.18607305936073%;
	width: 32px;
	height: 32px;
}


@mixin icon-plus-white {
	@include bg-sprite;
	background-position: 83.6083608360836% 94.89746543778801%;
	width: 40px;
	height: 40px;
}


@mixin icon-rating-star-large {
	@include bg-sprite;
	background-position: 42.0353982300885% 95.44727694090382%;
	width: 45px;
	height: 45px;
}


@mixin icon-rating-star-small {
	@include bg-sprite;
	background-position: 99.08724100327154% 47.53310502283105%;
	width: 32px;
	height: 32px;
}


@mixin icon-retweet {
	@include bg-sprite;
	background-position: 99.59444499249174% 14.819727891156463%;
	width: 36.67px;
	height: 26px;
}


@mixin icon-right-circle-arrow {
	@include bg-sprite;
	background-position: 51.819184123484014% 95.11662817551964%;
	width: 42px;
	height: 42px;
}


@mixin icon-search-blue {
	@include bg-sprite;
	background-position: 99.19541484716157% 21.583630707292524%;
	width: 33px;
	height: 33.68px;
}


@mixin icon-search-white {
	@include bg-sprite;
	background-position: 99.19541484716157% 25.43576722481471%;
	width: 33px;
	height: 33.68px;
}


@mixin icon-share {
	@include bg-sprite;
	background-position: 98.64082939803507% 67.475%;
	width: 27.85px;
	height: 28px;
}


@mixin icon-share-links {
	@include bg-sprite;
	background-position: 22.702831879555504% 47.283010762952536%;
	width: 112.1px;
	height: 69.94px;
}


@mixin icon-star {
	@include bg-sprite;
	background-position: 98.74266463812214% 57.872727272727275%;
	width: 28.8px;
	height: 28px;
}


@mixin icon-transparent-arrow-left-large {
	@include bg-sprite;
	background-position: 7.963594994311718% 62.31824234354195%;
	width: 70px;
	height: 157px;
}


@mixin icon-transparent-arrow-left-small {
	@include bg-sprite;
	background-position: 4.400440044004401% 99.96480582524272%;
	width: 40px;
	height: 84px;
}


@mixin icon-transparent-arrow-right-large {
	@include bg-sprite;
	background-position: 0 62.31824234354195%;
	width: 70px;
	height: 157px;
}


@mixin icon-transparent-arrow-right-small {
	@include bg-sprite;
	background-position: 0 99.96480582524272%;
	width: 40px;
	height: 84px;
}


@mixin icon-twitter {
	@include bg-sprite;
	background-position: 99.95929592959295% 0;
	width: 40px;
	height: 40px;
}


@mixin icon-twitter-bird {
	@include bg-sprite;
	background-position: 67.77777777777777% 72.14706221863096%;
	width: 49px;
	height: 41.7px;
}


@mixin icon-twitter-no-circle {
	@include bg-sprite;
	background-position: 99.63922273883675% 8.311643835616438%;
	width: 37.08px;
	height: 32px;
}


@mixin icon-youtube {
	@include bg-sprite;
	background-position: 79.20792079207921% 94.89746543778801%;
	width: 40px;
	height: 40px;
}

