/*

	8b    d8  dP"Yb  88""Yb 88 88     888888     888888 88 88""Yb .dP"Y8 888888 
	88b  d88 dP   Yb 88__dP 88 88     88__       88__   88 88__dP `Ybo."   88   
	88YbdP88 Yb   dP 88""Yb 88 88  .o 88""       88""   88 88"Yb  o.`Y8b   88   
	88 YY 88  YbodP  88oodP 88 88ood8 888888     88     88 88  Yb 8bodP'   88   

	http://patorjk.com/software/taag/#p=display&h=0&v=1&f=4Max&t=Mobile%20first

	start breakpoint 0 - Mobile-first

*/

// make IE10/11 snap mode render as correct width
@-ms-viewport {
	width: device-width;
}
html {
	height: 100%;
}
html, body {
	width: 100%;
}
.container {
	width: 100%;
	overflow: hidden;
}
* {
	@include box-sizing();
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
	color: $blue;
}
.module {
	padding: 0 $side-padding;
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
}
.module-canvas {
	background: $white;
	max-width: $grid-width;
	margin: auto;
	padding: $side-padding;
	margin-top: $vert-margin-large;
	margin-bottom: $vert-margin-large;
}
.video-embed {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;

	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.main-content {
	background: $grey-lighter;
}
.home {
	.main-content {
		// padding-top: 0;
	}
	.home-testimonial {
		background: $grey-lighter;
	}
}
.jobs {
	.m-hero {
		background: $banner-bg-job-search;
	}
	.m-share-links {
		.module-canvas {
			padding: 2em 2em 0;
		}
	}
	.m-heading {
		color: $blue;
		text-align: center;
	}
}
.blog-landing-page {
	.m-hero {
		background: $banner-bg-news;
	}
}
.standard-page {
	.m-hero {
		background: $banner-bg-standard-content;
	}
}
.profile-page {
	.m-hero {
		background: $banner-bg-profile;
	}
}
.job-details {
	.m-hero {
		background: $banner-bg-customer-partnership;
	}
	.module-header-single {
		max-width: none;
	}
	.action {
		text-align: center;
	}
	.m-content {
		h3, h4, h5, h6 {
			color: $black;
		}
	}
}
.working-for-us {
	.nav {
		background: $banner-bg-nav;
	}
	.section-1 {
		background: $banner-bg-locations;
	}
	.section-2 {
		background: $banner-bg-benefits;
	}
	.section-3 {
		background: $banner-bg-cool-teams;
	}
	.section-4 {
		background: $banner-bg-culture;
		margin-bottom: $margin;
	}
	.icon {
		&.awesome-locations {
			@include icon-anchor-awesome-locations-small;
		}
		&.benefits {
			@include icon-anchor-benefits-small;
		}
		&.cool-teams {
			@include icon-anchor-cool-teams-small;
		}
		&.culture {
			@include icon-anchor-culture-small;
		}
	}
}

.our-jobs-and-people {
	.nav {
		background: $banner-bg-nav;
	}
	.section-1 {
		background: $banner-bg-tech;
	}
	.section-2 {
		background: $banner-bg-customer;
	}
	.section-3 {
		background: $banner-bg-business;
	}
	.section-4 {
		background: $banner-bg-ads;
		margin-bottom: $margin;
	}
	.icon {
		&.ads{
			@include icon-anchor-ads-small;
		}
		&.business {
			@include icon-anchor-business-small;
		}
		&.tech {
			@include icon-anchor-tech-small;
		}
		&.customer {
			@include icon-anchor-customer-small;
		}
	}
}
.contact-us {
	.m-hero {
		background: $banner-bg-contact;
	}
}
.awesome-locations {
	.m-hero {
		background: $banner-bg-locations;
	}
}
.m-quote {
	border-left: 2px solid $blue;
	font-style: italic;
	margin: 2em 0;

	blockquote {
		margin-right: 0;
		padding-right: 0.5em;

		p {
			margin-top: 0.3em;
		}
	}
	footer {
		font-style: normal;
		text-align: right;
		line-height: 1.3;
	}
	.name {
		font-style: normal;
		display: block;
		color: $blue;
		font-weight: bold;
	}
	&.reverse {
		border-left: none;
		color: $white;
		background-color: $blue;
		margin: 0;
		padding: 1em 1.5em;
		letter-spacing: 0.01em;

		blockquote {
			margin: 0;
			padding: 0;
		}
		.name {
			color: $white;
		}
	}
}
.footer {
	padding-top: $margin;

	ul {
		@extend .clearfix;
		text-align: center;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.footer-image, .social-links, .bottom-footer, .copyright {
		width: 90%;
		margin: auto;
		margin-bottom: $margin/2;
		padding-bottom: $margin/2;
		border-bottom: 1px solid $grey;
		max-width: $grid-width;
	}
	.bottom-footer {
		@extend .clearfix;
	}
	.footer-image {
		text-align: center;

		img {
			max-width: convert-px(270);
		}
	}
	a, p {
		@extend .clearfix;
		display: block;
		color: $black;
		line-height: convert-px(40);
		font-size: convert-px(12);
		text-align: center;
		
	}
	.caption {
		line-height: 40px;
	}
	p {
		margin: 0;
	}
	a {
		color: $blue;
		&:hover {
			opacity: .7;
		}
	}
	.social-links {
		ul {
			display: table;
			margin: auto;
		}
		span {
			float: left;
			margin-right: convert-px(5);

			&:last-child {
				margin: 0;
			}
		}
		.icon {
			width: 40px;
			height: 40px;
		}
		.facebook {
			.icon {
				@include icon-facebook;
			}
		}
		.twitter {
			.icon {
				@include icon-twitter;
			}
		}
		.youtube {
			.icon {
				@include icon-youtube;
			}
		}
		.linkedin {
			.icon {
				@include icon-linkedin;
			}
		}
		.glassdoor {
			.icon {
				@include icon-glassdoor;
			}
		}
	}
	.bottom-footer {
		li {
			float: left;
			width: 50%;

			a {
				font-size: convert-px(12);
			}
		}
	}
	.copyright {
		margin: auto;
		border: none;
		@extend .clearfix;
	}
}

/*

	  .d          88""Yb 88""Yb 888888    db    88  dP 88""Yb  dP"Yb  88 88b 88 888888 
	.d88 ________ 88__dP 88__dP 88__     dPYb   88odP  88__dP dP   Yb 88 88Yb88   88   
	  88 """""""" 88""Yb 88"Yb  88""    dP__Yb  88"Yb  88"""  Yb   dP 88 88 Y88   88   
	  88          88oodP 88  Yb 888888 dP""""Yb 88  Yb 88      YbodP  88 88  Y8   88   



	http://patorjk.com/software/taag/#p=display&h=0&v=1&f=4Max&t=2-breakpoint

	1st breakpoint, target portrait tablets

*/
@include breakpoint(1) {

	/* start 1st breakpoint */
	@include grid-create;

	.row {
		max-width: $grid-width;
		margin: 0 auto;
	}
	.footer {
		ul {
			li {
				&:last-child {
					margin: 0;
				}
			}
		}
		.footer-image {
			img {
				max-width: convert-px(320);
			}
		}
		.social-links {
			li {
				display: inline-block;
				margin-right: convert-px(25)
			}
		}
		.bottom-footer {
			li {
				width: 33.33%;
			}
		}
		.copyright {
			.info {
				float: left;
			}
			.app {
				float: right;
			}
		}
	}

	/* end 1st breakpoint */
}

//Ie8 spritesheet fix
html.lt-ie9 {
	.logo-fixed {
		.icon {
			background-position-x: 100%;
			background-position-y: 12.88%;
		}
	}
	.footer {
		.facebook {
			.icon {
				background-position-x: 75.8%;
				background-position-y: 95%;
			}
		}
		.twitter {
			.icon {
				background-position-x: 100.8%;
			}
		}
		.youtube {
			.icon {
				background-position-x: 79.9%;
				background-position-y: 95.8%;
			}
		}
		.linkedin {
			.icon {
				background-position-y: 95.8%;
			}
		}
		.glassdoor {
			.icon {
				background-position-y: 95.8%;
			}
		}
	}
	.division-list {
		.front {
			.icon {
				background-position-x: 84.3%;
				background-position-y: 95.8%;
			}
		}
	}
	.m-home-profile, .m-more-profiles {
		h2:after {
			background-position-y: 64.51%;
		}
		h2 span:before {
			background-position-y: 64%;
		}
	}
	.read-more {
		.icon {
			background-position-x: 99.7%;
		}
	}
	.summary {
		.read-more {
			.icon {
				background-position-x: 99.7%;
			}
		}		
	}
	.share-links-list {
		.share-link-linkedin {
			background-position-y: 83%;
		}
		.share-link-envelope {
			background-position-y: 72.92%;
		}
	}
	.category-event {
		.category-icon {
			background-position-y: 33.88%;
		}
	}
	.interact .share {
		.icon {
			background-position-x: 99.44%;
			background-position-y: 68.2%;
		}
	}
	.header-job-search {
		.submit:after {
			background-position-x: 99.5%;
			background-position-y: 25.9%;
		}
	}
}

.not-found {
	.m-content > .module-canvas {
		margin-top: 0;
	}
	.m-content {
		padding-top: 2rem;
	}
	h2 {
		margin: 0;
	}
}
/*

oP"Yb.          88""Yb 88""Yb 888888    db    88  dP 88""Yb  dP"Yb  88 88b 88 888888 
"' dP' ________ 88__dP 88__dP 88__     dPYb   88odP  88__dP dP   Yb 88 88Yb88   88   
  dP'  """""""" 88""Yb 88"Yb  88""    dP__Yb  88"Yb  88"""  Yb   dP 88 88 Y88   88   
.d8888          88oodP 88  Yb 888888 dP""""Yb 88  Yb 88      YbodP  88 88  Y8   88   

http://patorjk.com/software/taag/#p=display&h=0&v=1&f=4Max&t=3-breakpoint

2nd breakpoint, target landscape tablets and small desktops

*/
@include breakpoint(2) {

	/* start 2nd breakpoint */
	.module-canvas {
		padding: $margin*2;
	}

	.footer {
		.footer-image {
			img {
				max-width: convert-px(320);
			}
		}
		.social-links {
			ul {
				display: block;
			}
			a {
				display: table;
				margin: auto;
			}
			li {
				margin-right: convert-px(10);
			}
		}
	}
	.working-for-us {
		.icon {
			&.awesome-locations {
				@include icon-anchor-awesome-locations-large;
			}
			&.benefits {
				@include icon-anchor-benefits-large;
			}
			&.cool-teams {
				@include icon-anchor-cool-teams-large;
			}
			&.culture {
				@include icon-anchor-culture-large;
			}
		}
	}
	.our-jobs-and-people {
		.icon {
			&.ads {
				@include icon-anchor-ads-large;
			}
			&.business {
				@include icon-anchor-business-large;
			}
			&.customer {
				@include icon-anchor-customer-large;
			}
			&.tech {
				@include icon-anchor-tech-large;
			}
		}
	}
	/* end 2nd breakpoint */
}

/*

88888          88""Yb 88""Yb 888888    db    88  dP 88""Yb  dP"Yb  88 88b 88 888888 
  .dP ________ 88__dP 88__dP 88__     dPYb   88odP  88__dP dP   Yb 88 88Yb88   88   
o `Yb """""""" 88""Yb 88"Yb  88""    dP__Yb  88"Yb  88"""  Yb   dP 88 88 Y88   88   
YbodP          88oodP 88  Yb 888888 dP""""Yb 88  Yb 88      YbodP  88 88  Y8   88   

http://patorjk.com/software/taag/#p=display&h=0&v=1&f=4Max&t=4-breakpoint

3rd breakpoint, small monitors, etc

*/
@include breakpoint(3) {

	/* start 3rd breakpoint */
	.main-content {
		padding-top: 0;
		padding-bottom: 1px;
	}
	.our-jobs-and-people {
		.nav {
			.module-canvas {
				z-index: 8;
			}
		}
		.section {
			max-height: convert-px(600);
		}
	}
	.working-for-us {
		.nav {
			.module-canvas {
				z-index: 8;
			}
		}
	}
	.footer {
		.footer-image {
			img {
				max-width: convert-px(460);
			}
		}
		.bottom-footer {
			li {
				width: auto;
				margin-right: convert-px(40);
				float: none;
				display: inline-block;
			}
		}
	}
	/* end 3rd breakpoint */
}

/*

  dP88           88""Yb 88""Yb 888888    db    88  dP 88""Yb  dP"Yb  88 88b 88 888888 
 dP 88  ________ 88__dP 88__dP 88__     dPYb   88odP  88__dP dP   Yb 88 88Yb88   88   
d888888 """""""" 88""Yb 88"Yb  88""    dP__Yb  88"Yb  88"""  Yb   dP 88 88 Y88   88   
    88           88oodP 88  Yb 888888 dP""""Yb 88  Yb 88      YbodP  88 88  Y8   88   

http://patorjk.com/software/taag/#p=display&h=0&v=1&f=4Max&t=4-breakpoint

3rd breakpoint, small monitors, etc

*/
@include breakpoint(4) {
	.home {
		.home-profile {
			padding: 0;
		}
	}

	/* start 4th breakpoint */
	.footer {
		.footer-image {
			img {
				max-width: convert-px(460);
			}
		}
		.social-links {
			li {
				float: left;
				margin: 0;
				width: 20%;
			}
		}
		// .bottom-footer {
		// 	li {
				//float: left;
				//margin: 0;
				//width: 16.66%;
		// 	}
		// }
	}

	/* end 4th breakpoint */
}