table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	td {
		border: 1px solid $blue-lightest;	
		padding: $margin/4 $margin/2;
	}
	thead {
		font-weight: bold;
		td {
			background: $grey-lightest;
			@include gradient-no-ie($grey-lightest, $grey-lighter, vertical);
			&:hover {
				opacity: 1;
			}
		}
	}
	tr {
		&:nth-child(odd) {
			background: $white;
		}
		&:nth-child(even) {
			background: lighten($grey-lighter, 6%);
		}
	}
}
