// Grid
$grid-width: 1105px;
$grid-columns: 12;
$grid-gutter-width: 2%;


// Responsive breakpoints (Pixels converted to ems)
$breakpoint-1: convert-px(568);
$breakpoint-2: convert-px(768);
$breakpoint-3: convert-px(1080);
$breakpoint-4: convert-px(1367);

// Responsive debug bar (For development only: Change to "true" to enable)
$debug: false;

// Colours
$black: #3d3d3d;
$white: #fff;


$grey-lightest: #FDFDFD;
$grey-lighter: #eee;
$grey-light: #ddd;
$grey: #c1c1c1;
$grey-dark: #aaa;
$grey-darker: #666;
$grey-darkest: #222;

$blue-lightest: #D1E2F1;
$blue-light: #0099D8;
$blue: #267EC8;
$blue-dark: #2971ac; 
$blue-border: #41A8D8;
$blue-hover: #1975AB;

$green: #00A504;
$green-light: lighten($green, 10%);
$green-dark: #007303;

$red: #b84d44;
$red-light: lighten($red, 10%);
$red-dark: #C50023;
$red-lighter: #B84D44;


//Banner Colors
$banner-bg-contact: #439bb9;
$banner-bg-job-search: #cb5a92;
$banner-bg-locations: #a66174;
$banner-bg-profile: #9e665e;
$banner-bg-news: #b65384;
$banner-bg-blog: #007d85;
$banner-bg-roles-tech: #987f9d;
$banner-bg-standard-content: #936b83;
$banner-bg-customer-partnership: #9a606b;
$banner-bg-cool-teams: #E1BA49;
$banner-bg-benefits: #DB9663;
$banner-bg-nav: #7DA3CE;
$banner-bg-culture: #6297A5;
$banner-bg-tech: #927AA1;
$banner-bg-customer: #aa6775;
$banner-bg-business: #bb92a3;
$banner-bg-ads: #8588ad;
$banner-bg-contact: #62B6CC;

// Colours - Page Elements
$body-background: #fff;
$text-color: $black;
$link-color: $blue;
$link-color-hover: #4665ba;
// Fonts
$base-font-value: 16; //base font in pixels, excluding units i.e "px"


//@include web-font('my font name','/fonts/fontpath/','font-file-name');
$base-font-family: Helvetica, Arial, Georgia, sans-serif;
$alternate-font-family: Georgia, "Times New Roman", Times, serif;
$special-font-family: $alternate-font-family;


// Margin and Padding
$margin: convert-px(32);
$vert-margin-small: convert-px(16);
$vert-margin-large: convert-px(32);

$side-padding : 5%;
$bottom-padding: convert-px(32);


