	<!-- #include file = "includes/head.html" -->
	<body class="home">

		<!-- navigation -->
		<!-- #include file = "includes/skip-links.html" -->
		<!-- #include file = "includes/navigation.html" -->

		<div id="main-content" class="main-content">
			<div id="carousel" class="section" >
				<div class="section-canvas carousel-container">
					<div class="m-carousel module" id="home-carousel">
						<div id="slide-0" class="slide slide-0">
							<div class="slide-canvas">

								<div class="heading-text">
									<div id="star" class="star" data-image="images/slide-0-star_v_c6c204.png">
										<noscript>
											<img src="images/slide-0-star_v_c6c204.png" alt="">
										</noscript>
									</div>
									<div id="your-adventure" class="your-adventure" data-image="images/slide-0-your-adventure_v_bbb84e.png">
										<noscript>
											<img src="images/slide-0-your-adventure_v_bbb84e.png" alt="">
										</noscript>
									</div>									
									<div class="letters">
										<div class="letter letter-a" data-image="images/letter-a_v_bf25a2.png">
											<noscript>
												<img src="images/letter-a_v_bf25a2.png" alt="">
											</noscript>
										</div>
										<div class="letter letter-w" data-image="images/letter-w_v_ad3cb9.png">
											<noscript>
												<img src="images/letter-w_v_ad3cb9.png" alt="">
											</noscript>
										</div>
										<div class="letter letter-e" data-image="images/letter-e_v_db22d1.png">
											<noscript>
												<img src="images/letter-e_v_db22d1.png" alt="">
											</noscript>
										</div>
										<div class="letter letter-s" data-image="images/letter-s_v_5efc75.png">
											<noscript>
												<img src="images/letter-s_v_5efc75.png" alt="">
											</noscript>
										</div>
										<div class="letter letter-o" data-image="images/letter-o_v_d7aaa9.png">
											<noscript>
												<img src="images/letter-o_v_d7aaa9.png" alt="">
											</noscript>
										</div>
										<div class="letter letter-m" data-image="images/letter-m_v_a1b63d.png">
											<noscript>
												<img src="images/letter-m_v_a1b63d.png" alt="">
											</noscript>
										</div>
										<div class="letter letter-e2" data-image="images/letter-e2_v_62333f.png">
											<noscript>
												<img src="images/letter-e2_v_62333f.png" alt="">
											</noscript>
										</div>
										<div class="letter letter-n" data-image="images/letter-n_v_1c3bde.png">
											<noscript>
												<img src="images/letter-n_v_1c3bde.png" alt="">
											</noscript>
										</div>
										<div class="letter letter-e3" data-image="images/letter-e3_v_94bbc5.png">
											<noscript>
												<img src="images/letter-e3_v_94bbc5.png" alt="">
											</noscript>
										</div>
										<div class="letter letter-s2" data-image="images/letter-s2_v_f40d24.png">
											<noscript>
												<img src="images/letter-s2_v_f40d24.png" alt="">
											</noscript>
										</div>
										<div class="letter letter-s3" data-image="images/letter-s3_v_18fa4f.png">
											<noscript>
												<img src="images/letter-s3_v_18fa4f.png" alt="">
											</noscript>
										</div>
									</div>
									<div id="start-here" class="start-here">
										<div id="arrow-left" class="arrow-left" data-image="images/slide-0-arrow-left_v_84b00e.png"></div>
										<div class="cta" data-image="images/slide-0-starts-here_v_dd4068.png">
											<noscript>
												<img src="images/slide-0-starts-here_v_dd4068.png" alt="Your Adventure">
											</noscript>
										</div>
										<div id="arrow-right" class="arrow-right" data-image="images/slide-0-arrow-right_v_fdc928.png"></div>
									</div>
								</div>
							</div>
						</div>
						<div id="slide-1" class="slide slide-1">
							<div class="rays" data-background="images/slide-1-rays_v_dbab59.png"></div>
							<div class="slide-canvas">
								<div class="forever-evolving">
									<div class="normal" data-image="images/slide-1-forever-evolving_v_16b49d.png"></div>
									<div class="hover" data-image="images/slide-1-forever-evolving-hover_v_6d2a60.png"></div>					
								</div>
								<div class="building-plate">
									<div class="graphic" data-image="images/slide-1-building-plate_v_f736fc.png"></div>
									<div class="see-our-values">
										<div class="arrow-left" data-image="images/slide-0-arrow-left_v_84b00e.png"></div>
										<div class="arrow-right" data-image="images/slide-0-arrow-right_v_fdc928.png"></div>
										<div class="text lightbox-trigger" data-target="#values" data-image="images/slide-1-our-values_v_43cb40.png"></div>
									</div>
								</div>

							</div>
							<div id="values" class="lightbox">
								<div class="lightbox-canvas">
									<div class="lightbox-content">
										<div id="our-values" class="simple-tab">
											<div class="tab-content">
												<div class="content-item values-tab-01 active">
													<div class="graphic" data-image="images/slide-1-humble_v_efa13b.png"></div>
													<p>We&rsquo;re all about serving our customers, consumers and of course, each other.</p>
												</div>
												<div class="content-item values-tab-02">
													<div class="graphic" data-image="images/slide-1-inspirational_v_d87946.png"></div>
													<p>We&rsquo;ve determined to help our business reach its fullest potential - beyond!</p>
												</div>
												<div class="content-item values-tab-03">
													<div class="graphic" data-image="images/slide-1-reliable_v_4aafd8.png"></div>
													<p>Auto Trader has been serving its customers since 1977. They can rely on us to be there for quite a while, because we&rsquo;re not going anywhere!</p>
												</div>
												<div class="content-item values-tab-04">
													<div class="graphic" data-image="images/slide-1-curious_v_3a2e7e.png"></div>
													<p>We&rsquo;re courageous and inspirational to our people, customers, and the whole industry.</p>
												</div>
												<div class="content-item values-tab-05">
													<div class="graphic" data-image="images/slide-1-determined_v_0989e3.png"></div>
													<p>To be successful, we need to feel free to ask questions and try things out, even if we make mistakes.</p>
												</div>
											</div>
											<div class="tab-nav">
												<div class="nav-item active" data-image="images/slide-1-humble_v_efa13b.png" data-tab="values-tab-01"></div>
												<div class="nav-item" data-image="images/slide-1-inspirational_v_d87946.png" data-tab="values-tab-02"></div>
												<div class="nav-item" data-image="images/slide-1-reliable_v_4aafd8.png" data-tab="values-tab-03"></div>
												<div class="nav-item" data-image="images/slide-1-curious_v_3a2e7e.png" data-tab="values-tab-04"></div>
												<div class="nav-item" data-image="images/slide-1-determined_v_0989e3.png" data-tab="values-tab-05"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="slide-2" class="slide slide-2">
							<div class="slide-bg" data-background="images/slide-2-bg-landscape_v_79c80c.jpg"></div>
							<div class="slide-canvas">
								<div class="skateboard-container">
									<div class="skateboard">
										<div class="graphic" data-image="images/slide-2-skateboard_v_9c576f.png"></div>
										<div class="take-the-tour">
											<div class="arrow-left" data-image="images/slide-0-arrow-left_v_84b00e.png"></div>
											<div class="arrow-right" data-image="images/slide-0-arrow-right_v_fdc928.png"></div>
											<div class="text lightbox-trigger" data-target="#image-gallery-lightbox" data-image="images/slide-2-take-the-tour_v_23d7f2.png"></div>
										</div>
									</div>
								</div>
							</div>

							<div id="image-gallery-lightbox" class="lightbox">
								<div class="lightbox-canvas">
									<div class="lightbox-content">
										<ul id="image-gallery" class="image-gallery">
											<li data-thumb="/images/slide-2-office-1_v_88b621.jpg">
												<img alt="" src="/images/slide-2-office-1_v_88b621.jpg" />
											</li>
											<li data-thumb="/images/slide-2-office-2_v_b3f4c6.jpg">
												<img alt="" src="/images/slide-2-office-2_v_b3f4c6.jpg" />
											</li>
											<li data-thumb="/images/slide-2-office-3_v_0c9c29.jpg">
												<img alt="" src="/images/slide-2-office-3_v_0c9c29.jpg" />
											</li>
											<li data-thumb="/images/slide-2-office-4_v_4a82c3.jpg">
												<img alt="" src="/images/slide-2-office-4_v_4a82c3.jpg" />
											</li>
										</ul>
									</div>
								</div>
							</div>

						</div>

						<div id="slide-3" class="slide  slide-3">
							<div class="slide-bg" data-background="images/slide-3-bg_v_e18fbb.jpg"></div>
							<div class="slide-canvas">

								<div class="floating astronaut" data-image="images/slide-3-astronaut_v_2aaaac.png"></div>
								<div class="floating shuttle" data-image="images/slide-3-shuttle_v_ba6284.png"></div>
								<div class="floating blaster" data-image="images/slide-3-blaster_v_00ca23.png">
									<div class="bullet"></div>
								</div>
								
								<div id="digital-world" class="simple-tab">
									<div class="simple-tab-canvas">
										<div class="tab-content">
											<div class="content-item tab-01 active">
												<div class="graphic" data-image="images/slide-3-digital-world_v_042f6f.png"></div>
											</div>
											<div class="content-item tab-02">
												<div class="graphic" data-image="images/slide-3-big-data_v_8d1720.png"></div>
											</div>
											<div class="content-item tab-03">
												<div class="graphic" data-image="images/slide-3-searches-per-second_v_31f836.png"></div>
											</div>
										</div>
										<div class="tab-nav">
											<div class="nav-item active item-1" data-tab="tab-01">
												<div class="normal" data-image="images/slide-3-nav-item-1_v_188fa5.png"></div>
												<div class="hover" data-image="images/slide-3-nav-item-1-hover_v_90cfb0.png"></div>
											</div>
											<div class="nav-item item-2" data-tab="tab-02">
												<div class="normal" data-image="images/slide-3-nav-item-2_v_28e2d2.png"></div>
												<div class="hover" data-image="images/slide-3-nav-item-2-hover_v_1989f3.png"></div>
											</div>
											<div class="nav-item item-3" data-tab="tab-03">
												<div class="normal" data-image="images/slide-3-nav-item-3_v_bd0d0e.png"></div>
												<div class="hover" data-image="images/slide-3-nav-item-3-hover_v_f659bc.png"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div id="slide-4" class="slide slide-4">
							<div class="rays" data-background="images/slide-1-rays_v_dbab59.png"></div>
							<div class="slide-canvas">
								<div class="van-and-cyclist-container">
									<div class="van-and-cyclist-container-canvas">
										<div class="kesh">
											<div class="clouds">
												<div class="cloud" data-image="images/slide-4-cyclist-cloud_v_e25012.png"></div>
												<div class="rain-drop large drop-1" data-image="images/slide-4-cyclist-rain-drop_v_f64c07.png"></div>
												<div class="rain-drop small drop-2" data-image="images/slide-4-cyclist-rain-drop_v_f64c07.png"></div>
												<div class="rain-drop small drop-3" data-image="images/slide-4-cyclist-rain-drop_v_f64c07.png"></div>
												<div class="rain-drop medium drop-4" data-image="images/slide-4-cyclist-rain-drop_v_f64c07.png"></div>
												<div class="rain-drop medium drop-5" data-image="images/slide-4-cyclist-rain-drop_v_f64c07.png"></div>
												<div class="rain-drop small drop-6" data-image="images/slide-4-cyclist-rain-drop_v_f64c07.png"></div>
												<div class="rain-drop small drop-7" data-image="images/slide-4-cyclist-rain-drop_v_f64c07.png"></div>
												<div class="rain-drop small drop-8" data-image="images/slide-4-cyclist-rain-drop_v_f64c07.png"></div>
												<div class="rain-drop large drop-9" data-image="images/slide-4-cyclist-rain-drop_v_f64c07.png"></div>
											</div>
											<div class="cyclist">
												<div class="body">
													<div class="wheel right" data-image="images/slide-4-cyclist-wheel_v_77a706.png"></div>
													<div class="wheel left" data-image="images/slide-4-cyclist-wheel_v_77a706.png"></div>
													<div class="frame" data-image="images/slide-4-cyclist_v_367c2b.gif"></div>
													<div class="shadow" data-image="images/slide-4-cyclist-shadow_v_41f4d8.png"></div>
												</div>
											</div>
										</div>
										<div class="digital-journey" data-image="images/slide-4-digital-journey_v_317e2c.png"></div>
										<div class="kesh-story">
											<div class="arrow-left" data-image="images/slide-0-arrow-left_v_84b00e.png"></div>
											<div class="arrow-right" data-image="images/slide-0-arrow-right_v_fdc928.png"></div>
											<div class="text lightbox-trigger" data-target="#kesh-lightbox" data-image="images/slide-4-kesh-story_v_36f50b.png"></div>
										</div>
										<div class="van">
											<div class="wheel left" data-image="images/slide-4-van-wheel_v_7b2eb5.png"></div>
											<div class="passenger passenger-1" data-image="images/slide-4-passenger-1_v_9e88c0.png"></div>
											<div class="passenger passenger-2" data-image="images/slide-4-passenger-2_v_f3aaf6.png"></div>
											<div class="passenger passenger-3" data-image="images/slide-4-passenger-3_v_a56791.png"></div>
											<div class="passenger passenger-4" data-image="images/slide-4-passenger-4_v_d5c32e.png"></div>
											<div class="body" data-image="images/slide-4-van-body_v_9b6cf6.png"></div>
											<div class="wheel right" data-image="images/slide-4-van-wheel_v_7b2eb5.png"></div>
										</div>
									</div>					
								</div>
							</div>
							<div id="kesh-lightbox" class="lightbox">
								<div class="lightbox-canvas">
									<div class="lightbox-content">
										<h3 class="title" >
											<div class="title-graphic" data-image="images/slide-4-kesh-story-lightbox_v_f48ca8.png"></div>
											<span>Kesh's Story</span>
										</h3>
										<p class="desc">The mag used to come out on a Thursday; so you&rsquo;d have to buy the mag early, phone up the seller, and get hold of the car before anyone else does. So my job was to wake up at 5.30am, jump on my bike, and get it for Dad at the local newsagent. By then he&rsquo;d be up and ready to look at it. So Auto Trader has great nostalgic memories from my childhood for me</p>

										<!--[if IE 8]>
											<div class="kesh-single">
												<img src="images/slide-4-kesh_v_b9d185.png" alt="">
											</div>										
										<![endif]-->

										<div class="kesh">
											<div class="clouds">
												<div class="cloud" data-image="images/slide-4-cyclist-cloud_v_e25012.png"></div>
												<div class="rain-drop large drop-1" data-image="images/slide-4-cyclist-rain-drop_v_f64c07.png"></div>
												<div class="rain-drop small drop-2" data-image="images/slide-4-cyclist-rain-drop_v_f64c07.png"></div>
												<div class="rain-drop small drop-3" data-image="images/slide-4-cyclist-rain-drop_v_f64c07.png"></div>
												<div class="rain-drop medium drop-4" data-image="images/slide-4-cyclist-rain-drop_v_f64c07.png"></div>
												<div class="rain-drop medium drop-5" data-image="images/slide-4-cyclist-rain-drop_v_f64c07.png"></div>
												<div class="rain-drop small drop-6" data-image="images/slide-4-cyclist-rain-drop_v_f64c07.png"></div>
												<div class="rain-drop small drop-7" data-image="images/slide-4-cyclist-rain-drop_v_f64c07.png"></div>
												<div class="rain-drop small drop-8" data-image="images/slide-4-cyclist-rain-drop_v_f64c07.png"></div>
												<div class="rain-drop large drop-9" data-image="images/slide-4-cyclist-rain-drop_v_f64c07.png"></div>
											</div>
											<div class="cyclist">
												<div class="body">
													<div class="wheel right" data-image="images/slide-4-cyclist-wheel_v_77a706.png"></div>
													<div class="wheel left" data-image="images/slide-4-cyclist-wheel_v_77a706.png"></div>
													<div class="frame" data-image="images/slide-4-cyclist_v_367c2b.gif"></div>
													<div class="shadow" data-image="images/slide-4-cyclist-shadow_v_41f4d8.png"></div>
												</div>
											</div>
										</div>										
									</div>
								</div>
							</div>
						</div>
						<div id="slide-5" class="slide slide-5">
							<div class="slide-canvas">
								<div class="awesome-container">
									<div class="awesome-logo" data-image="images/slide-6-awesome-logo_v_a555ea.jpg"></div>
									<p class="desc">The UK&rsquo;s number one digital motoring marketplace also happens to be a darn great place to work. A place to learn, have fun, break things and fix them again, roll with the (constant) changes and love what you do. All in a land of classic cars, interactive televisions, write-on walls, customer engagement labs and cracking colleagues who are always ready to help. We want to help you learn and improve all the time, because What Drives Us Is You.</p>
									<div class="work-for-us">
										<div class="arrow-left" data-image="images/slide-0-arrow-left_v_84b00e.png"></div>
										<div class="arrow-right" data-image="images/slide-0-arrow-right_v_fdc928.png"></div>
										<a href="/working-for-us.html">
											<div class="text" data-image="images/slide-6-work-for-us_v_1a70f1.png"></div>					
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="carousel-next" class="next"></div>
					<div id="carousel-prev" class="prev"></div>
					<a class="skip-carousel" href="#divisions">
						<span class="text">Skip the show</span>
						<span class="icon"></span>
					</a>
				</div>
			</div>
			<div id="divisions" class="section" >
				<div class="section-canvas">
					<div class="module m-divisions" >
						<div class="module-canvas">
							<div class="module-header-double arrows">
								<h2>Jobs</h2>
							</div>
							<div class="division-list">
								<ul>
									<li>
										<a href="08-Jobs-Landing.html">
											<div class="front">
												<div class="front-canvas">
													<div class="front-inner-canvas">
														<img src="/images/division-tech_v_834914.png" alt="Technology">
														<div class="icon"></div>
													</div>
												</div>
											</div>
											<div class="back">
												<div class="back-canvas">
													<div class="img-container">
														<img src="/images/division-tech_v_834914.png" alt="Technology">
													</div>
													<p>
														You're obsessed with all things digital. You're a code maker and a code breaker. Creating beautiful digital experiences gets your gears going. You belong here.
													</p>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a href="08-Jobs-Landing.html">
											<div class="front">
												<div class="front-canvas">
													<div class="front-inner-canvas">
														<img src="/images/division-customer_v_f488ed.png" alt="Customer Partnerships">
														<div class="icon"></div>
													</div>
												</div>
											</div>
											<div class="back">
												<div class="back-canvas">
													<div class="img-container">
														<img src="/images/division-customer_v_f488ed.png" alt="Customer Partnerships">
													</div>
													<p>
														You're obsessed with all things digital. You're a code maker and a code breaker. Creating beautiful digital experiences gets your gears going. You belong here.
													</p>
												</div>
											</div>
										</a>
									</li>
									<li class="last-row">
										<a href="08-Jobs-Landing.html">
											<div class="front">
												<div class="front-canvas">
													<div class="front-inner-canvas">
														<img src="/images/division-business_v_f876c2.png" alt="Finance &amp; Business Support">				
														<div class="icon"></div>
													</div>
												</div>
											</div>
											<div class="back">
												<div class="back-canvas">
													<div class="img-container">				
														<img src="/images/division-business_v_f876c2.png" alt="Finance &amp; Business Support">
													</div>
													<p>
														You're obsessed with all things digital. You're a code maker and a code breaker. Creating beautiful digital experiences gets your gears going. You belong here.
													</p>
												</div>
											</div>
										</a>
									</li>
									<li class="last-row">
										<a href="08-Jobs-Landing.html">
											<div class="front">
												<div class="front-canvas">
													<div class="front-inner-canvas">
														<img src="/images/division-adverts_v_988808.png" alt="Finance &amp; Business Support">
														<div class="icon"></div>
													</div>
												</div>
											</div>
											<div class="back">
												<div class="back-canvas">
													<div class="img-container">
														<img src="/images/division-adverts_v_988808.png" alt="Finance &amp; Business Support">
													</div>
													<p>
														You're obsessed with all things digital. You're a code maker and a code breaker. Creating beautiful digital experiences gets your gears going. You belong here.
													</p>							
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="home-profile" class="section" >
				<div class="section-canvas home-profile">
					<div class="module m-home-profile">
						<div class="module-canvas">
							<div class="module-header">
								<h2><span>Auto Trader People</span></h2>
							</div>
							<div class="profile-list">
								<ul>
									<li>
										<a href="04-Profile.html">
											<img class="photo" src="/images/people-01_v_cbf700.jpg" alt="">
											<p class="description">
												You&rsquo;re obsessed with all things digital. You&rsquo;re a code maker and a code breaker. Creating beautiful digital experiences gets your gears going. You belong here.
											</p>
											<p class="name">Name</p>
											<p class="job-title">Job Title</p>
										</a>
									</li>
									<li>
										<a href="04-Profile.html">
											<img class="photo" src="/images/people-02_v_cc7fcd.jpg" alt="">
											<p class="description">

												You&rsquo;re obsessed with all things digital. You&rsquo;re a code maker and a code breaker. Creating beautiful digital experiences gets your gears going. You belong here.
											</p>
											<p class="name">Name</p>
											<p class="job-title">Job Title</p>
										</a>
									</li>
									<li>
										<a href="04-Profile.html">
											<img class="photo" src="/images/people-03_v_5c22b2.jpg" alt="">
											<p class="description">
												You&rsquo;re obsessed with all things digital. You&rsquo;re a code maker and a code breaker. Creating beautiful digital experiences gets your gears going. You belong here.
											</p>
											<p class="name">Name</p>
											<p class="job-title">Job Title</p>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>						
			<div id="testimonial" class="section" >
				<div class="section-canvas home-testimonial">
					<div class="module m-home-testimonial">
						<div class="module-canvas">
							<div class="module-header-single">
								<h2>Hear What People Think</h2>
							</div>
							<div class="module-content">
								<div class="testimonial-list">
									<ul id="glassdoor-rating">
										<li class="slide">
											<div class="slide-canvas">
												<div class="rating">
													<div class="star"></div>
													<div class="star"></div>
													<div class="star"></div>
													<div class="star"></div>
													<div class="star"></div>
												</div>
												<div class="rating-no">
													<p>5/5</p>
												</div>
												<blockquote>Best Company I've ever worked for!</blockquote>
												<div class="glassdoor-link">
													<a href="#">
														<span>
															read more reviews on
														</span>
														<span class="icon"></span>
													</a>
												</div>
											</div>
										</li>
										<li class="slide">
											<div class="slide-canvas">
												<div class="rating">
													<div class="star"></div>
													<div class="star"></div>
													<div class="star"></div>
												</div>
												<div class="rating-no">
													<p>3/5</p>
												</div>
												<blockquote>I am another re!</blockquote>
												<div class="glassdoor-link">
													<a href="#">
														<span>
															read more reviews on
														</span>
														<span class="icon"></span>
													</a>
												</div>
											</div>
										</li>
									</ul>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<!-- #include file = "includes/footer.html" -->

		<!-- page specific scripts -->
		<script src="scripts/home-owl.carousel.min.js"></script>
		<script src="scripts/home-TweenMax.min.js"></script>
		<script src="scripts/home-lightSlider.min.js"></script>
		<script src="scripts/home-jquery.imgpreload.min.js"></script>
		<script src="scripts/home-carousel.js"></script>
		<script src="scripts/home-carousel-animation.js"></script>
	</body>
</html>