<!-- #include file = "includes/head.html" -->
	<body class="working-for-us">
		<!-- navigation -->
		<!-- #include file = "includes/skip-links.html" -->
		<!-- #include file = "includes/navigation.html" -->
		<div id="main-content" class="main-content">
			<div class="module m-hero full-height nav">
				<div class="module-canvas">
					<div class="module-inner-canvas">
						<div class="anchor-container">
							<div class="graphic">
								<div class="graphic-canvas">
									<div class="graphic-inner-canvas">
									<img src="/images/hero-image-why-work-for-us_v_d8b57c.png" alt="">							
										
									</div>
								</div>
							</div>
							<div class="anchor-list">
								<div class="anchor-list-canvas">
									<ul>
										<li class="anchor">
											<a href="#section-1">
												<span class="icon awesome-locations"></span>
												<span class="button">Awesome Locations</span>
											</a>
										</li>
										<li class="anchor">
											<a href="#section-2">
												<span class="icon benefits"></span>
												<span class="button">Incredible Benefits</span>
											</a>
										</li>
										<li class="anchor last-row">
											<a href="#section-3">
												<span class="icon cool-teams"></span>
												<span class="button">Really cool teams</span>
											</a>
										</li>
										<li class="anchor last-row">
											<a href="#section-4">
												<span class="icon culture"></span>
												<span class="button">Exciting Culture</span>
											</a>
										</li>
									</ul>									
								</div>
							</div>							
						</div>
					</div>
				</div>
			</div>
			<div id="section-1" class="module m-hero full-height section-1">
				<div class="module-canvas">
					<div class="title">
						<div class="title-canvas">
							<div class="title-inner-canvas">
								<h2>
									<img class="digital-motors" src="/images/hero-title-awesome-locations_v_7e736b.png" alt="" />
									<span class="heading-text">Awesome Locations</span>
								</h2>

								<p class="description">We've got primo office space in Manchester and London. Both our Kings Cross and our Number One First Street digs are in the middle of the growing, buzzing local digital community.</p>
								<a href="08-Jobs-Landing.html" class="button">Checkout our locations</a>
							</div>
						</div>
					</div>			
					<div class="graphic">
						<img src="/images/hero-image-awesome-locations_v_083ceb.png" alt="">
					</div>
				</div>
			</div>
			<div id="section-2" class="module m-hero full-height section-2">
				<div class="module-canvas">
					<div class="title">
						<div class="title-canvas">
							<div class="title-inner-canvas">
								<h2>
									<img class="digital-motors" src="/images/hero-title-benefits_v_74d2e5.png" alt="" />
									<span class="heading-text">Incredible benefits</span>
								</h2>
								
								<p class="description">Free coffee isn&rsquo;t all you need to run a digital business, but it helps! We have great training and career progression, regular hacks, pension &amp; medical, and lots more flexible benefits.</p>
								<a href="08-Jobs-Landing.html" class="button">Read up on our benefits</a>
							</div>
						</div>
					</div>			
					<div class="graphic">
						<img src="/images/hero-image-benefits_v_5b281b.png" alt="">
					</div>
				</div>
			</div>
			<div id="section-3" class="module m-hero full-height section-3">
				<div class="module-canvas">
					<div class="title">
						<div class="title-canvas">
							<div class="title-inner-canvas">
								<h2>
									<img class="digital-motors" src="/images/hero-title-cool-teams_v_d815cc.png" alt="" />
									<span class="heading-text">Really Cool Teams</span>
								</h2>
								
								<p class="description">Our tribes structure allows us to mix in multidisciplinary teams. Our leaders believe in us and give us total freedom. We learn from each other, and from our mistakes, having hella fun on the way.</p>
								<a href="08-Jobs-Landing.html" class="button">Get to know our people</a>
							</div>
						</div>
					</div>			
					<div class="graphic">
						<img src="/images/hero-image-cool-team_v_720672.png" alt="">
					</div>
				</div>
			</div>
			<div id="section-4" class="module m-hero full-height section-4">
				<div class="module-canvas">

					<div class="title">
						<div class="title-canvas">
							<div class="title-inner-canvas">
								<h2>
									<img class="digital-motors" src="/images/hero-title-exciting-culture_v_869b80.png" alt="" />
									<span class="heading-text">Exciting Culture</span>
								</h2>								
								<p class="description">&lsquo;Humble&#039; is one of our values, so we really can&rsquo;t brag&#xa0;&mdash; but our people are pretty good to be around. We&rsquo;ve got our own little way of doing things and it makes work feel more fun.</p>

								<a href="08-Jobs-Landing.html" class="button">Find out what we stand for</a>						
							</div>
						</div>
					</div>			
					<div class="graphic">
						<img src="/images/hero-image-culture_v_da58bc.png" alt="">
					</div>
				</div>
			</div>
			<!-- #include file = "includes/share.html" -->
		</div>



		<!-- Footer -->
		<!-- #include file = "includes/footer.html" -->

		<!-- page specific scripts -->
		<script src="scripts/blog-masonry.min.js"></script>
		<script src="scripts/blog-imagesloaded.min.js"></script>
		<script src="scripts/blog-layout.js"></script>
	</body>
</html>