<!-- #include file = "includes/head.html" -->
  <body class="our-jobs-and-people">
	<!-- navigation -->
	<!-- #include file = "includes/skip-links.html" -->
	<!-- #include file = "includes/navigation.html" -->
	<div id="main-content" class="main-content">
	  <div class="section module m-hero full-height nav">
		<div class="module-canvas">
		  <div class="module-inner-canvas">
			<div class="anchor-container">
			  <div class="graphic">
				<div class="graphic-canvas">
				  <div class="graphic-inner-canvas">
				  <img src="/images/hero-image-role-finder_v_b4a41a.png" alt="">              
					
				  </div>
				</div>
			  </div>
			  <div class="anchor-list">
				<div class="anchor-list-canvas">
				  <ul>
					<li class="anchor">
					  <a href="#section-1">
						<span class="icon tech"></span>
						<span class="button">Technology<br>roles</span>
					  </a>
					</li>
					<li class="anchor">
					  <a href="#section-2">
						<span class="icon customer"></span>
						<span class="button">Customer Partnership roles</span>
					  </a>
					</li>
					<li class="anchor last-row">
					  <a href="#section-3">
						<span class="icon business"></span>
						<span class="button">Finacne &amp; Business Support roles</span>
					  </a>
					</li>
					<li class="anchor last-row">
					  <a href="#section-4">
						<span class="icon ads"></span>
						<span class="button">Advertising Sales &amp; Marketing roles</span>
					  </a>
					</li>
				  </ul>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <div id="section-1" class="section module m-hero full-height section-1">
		<div class="module-canvas">
		  <div class="title">
			<div class="title-canvas">
			  <div class="title-inner-canvas">
				<h2>
				  <img class="digital-motors" src="/images/hero-title-tech_v_23e22a.png" alt="" />
				  <span class="heading-text">Technology</span>
				</h2>

				<p class="description">Our tech people work in&#xa0;an&#xa0;agile digital environment to invent, create, build and maintain a brilliant experience for our customers. We believe that mistakes lead to innovation, and support leads to success.</p>
				<a href="08-Jobs-Landing.html" class="button">Hear from Polly, Java Developer</a>
			  </div>
			</div>
		  </div>      
		  <div class="graphic">
			<img src="/images/hero-image-tech_v_c7d063.png" alt="">
		  </div>
		</div>
	  </div>
	  <div id="section-2" class="section module m-hero full-height section-2">
		<div class="module-canvas">
		  <div class="title">
			<div class="title-canvas">
			  <div class="title-inner-canvas">
				<h2>
				  <img class="digital-motors" src="/images/hero-title-customer_v_136df8.png" alt="" />
				  <span class="heading-text">Custmer Partnership</span>
				</h2>
				
				<p class="description">Whether it&rsquo;s pricing, CRM or client management, we treat our customers like friends. We have 11,000 dealers trusting us to help them tame the wild west of the digital motoring marketplace &ndash; and you could be just the sheriff for them.</p>
				<a href="08-Jobs-Landing.html" class="button">Hear from Nadia, Sales Manager</a>
			  </div>
			</div>
		  </div>      
		  <div class="graphic">
			<img src="/images/hero-image-customer_v_9ea733.png" alt="">
		  </div>
		</div>
	  </div>
	  <div id="section-3" class="section module m-hero full-height section-3">
		<div class="module-canvas">
		  <div class="title">
			<div class="title-canvas">
			  <div class="title-inner-canvas">
				<h2>
				  <img class="digital-motors" src="/images/hero-title-business_v_553fab.png" alt="" />
				  <span class="heading-text">Finance &amp; Business Support roles</span>
				</h2>
				
				<p class="description">Finance &amp; Business support does everything from reporting on sales to outthinking cyber criminals. It takes super sharp Finance, HR &amp; Resourcing, Security, Governance and plenty more to keep a tech creature like Auto Trader purring.</p>
				<a href="08-Jobs-Landing.html" class="button">Hear from Hayley, Support Manager</a>
			  </div>
			</div>
		  </div>      
		  <div class="graphic">
			<img src="/images/hero-image-business_v_7faa7c.png" alt="">
		  </div>
		</div>
	  </div>
	  <div id="section-4" class="section module m-hero full-height section-4">
		<div class="module-canvas">

		  <div class="title">
			<div class="title-canvas">
			  <div class="title-inner-canvas">
				<h2>
				  <img class="digital-motors" src="/images/hero-title-ads_v_2a6026.png" alt="" />
				  <span class="heading-text">Advertising Sales &amp; Marketing</span>
				</h2>
				<p class="description">Advertisng coipy goes here, ADvertisng coipy goes hereADvertisng coipy goes hereADvertisng coipy goes hereADvertisng coipy goes hereADvertisng coipy goes hereADvertisng coipy goes here</p>

				<a href="08-Jobs-Landing.html" class="button">Find out what we stand for</a>
			  </div>
			</div>
		  </div>      
		  <div class="graphic">
			<img class="test" src="/images/hero-image-ads_v_360d00.png" alt="">
		  </div>
		</div>
	  </div>
	  <!-- #include file = "includes/share.html" -->
	</div>



	<!-- Footer -->
	<!-- #include file = "includes/footer.html" -->

	<!-- page specific scripts -->
	<script src="scripts/blog-masonry.min.js"></script>
	<script src="scripts/blog-imagesloaded.min.js"></script>
	<script src="scripts/blog-layout.js"></script>
  </body>
</html>