<!-- #include file = "includes/head.html" -->
	<body class="profile-page">
		<!-- navigation -->
		<!-- #include file = "includes/skip-links.html" -->
		<!-- #include file = "includes/navigation.html" -->
		<div id="main-content" class="main-content">
			<div class="module m-hero">
				<div class="module-canvas">
					<div class="title">
						<div class="title-canvas">
							<div class="title-inner-canvas">
								<h1>
									<img class="digital-motors" src="/images/hero-title-profile_v_79aa2f.png" alt="" />
									<span class="heading-text">A Wicked Wonderful World Of Digital Plus Motors</span>
								</h1>
								
								<h2>Marketing</h2>
							</div>
						</div>
					</div>			
					<div class="graphic">
						<img src="/images/hero-image-profile_v_13ba90.png" alt="">
					</div>
				</div>
			</div>

			<div class="module m-heading-block">
				<div class="module-canvas">
					<div class="module-header-single stars">
						<h2>Quick Facts</h2>
					</div>
					<h3>Time with Auto Trader</h3>
					<p>5 months</p>
					<h3>Woked before</h3>
					<p>At an estate agent. They&rsquo;re not as bad as you think!</p>
					<h3>Awesome moment</h3>
					<p>Being remembered by the CEO after they met at induction</p>
				</div>
			</div>

			<div class="module m-content">
				<div class="module-canvas">
					<div class="module-header-double rays">
						<h2>Meet Gavin</h2>
					</div>
					<h3>You&rsquo;re a marketing grad. How does your scheme work?</h3>

					<p>I do different rotations across marketing. By the time I&rsquo;m done, I&rsquo;ll have sat with brand, research, product, product marketing, social, performance, dealer education and CRM. Then I&rsquo;ll choose a role. It&rsquo;s a great scheme; I think it&rsquo;s unusual to be able to become so well rounded so quickly.</p>

					<h3>What kind of things do you work on?</h3>

					<p>Day-to-day line managers will get you involved with projects you probably shouldn&rsquo;t be involved in at such a junior stage in your career. I did a lot of work for the TV campaign &ndash; and I wouldn't have thought I&rsquo;d be prepared for that, but they gave me the chance.</p>

					<h3>How did you make it on to the scheme?</h3>

					<p>We had an assessment day. The assessment was really fun, better than a formal interview. It&rsquo;s difficult to show off what you&rsquo;re actually like in an interview situation. Whereas the Auto Trader assessment involves a practical exercise that brings out your knowledge and allows you to interact with lots of people from the business.</p>

					<h3>What&rsquo;s the most awesome thing about Auto Trader?</h3>

					<p>The culture is the best thing about this place. People really do help you succeed. And the offices are a pretty good selling feature too!</p>


					<!-- #include file = "includes/share.html" -->
				</div>
			</div>

			<div class="module m-hot-jobs">
				<div class="module-canvas">
					<div class="module-header-single fire">
						<h2>Hot New Jobs</h2>
					</div>
					<div class="job-list">
						<table class="results">
						<thead>
							<tr>
								<td>Job Role</td>
								<td class="column-location">Location</td>
								<td class="column-salary">Salary</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>PHP Developer</td>
								<td class="column-location">Manchester</td>
								<td class="column-salary">&pound;16,000</td>
								<td class="read-more">
									<a href="10-Job-Description.html">
										<span>Read more</span>
										<span class="icon"></span>
									</a>
								</td>
							</tr>
							<tr>
								<td>Senior PHP Developer</td>
								<td class="column-location">Manchester</td>
								<td class="column-salary">&pound;16,000</td>
								<td class="read-more">
									<a href="10-Job-Description.html">
										<span>Read more</span>
										<span class="icon"></span>
									</a>
								</td>
							</tr>
							<tr>
								<td>Junior PHP Developer</td>
								<td class="column-location">London</td>
								<td class="column-salary">&pound;16,000</td>
								<td class="read-more">
									<a href="10-Job-Description.html">
										<span>Read more</span>
										<span class="icon"></span>
									</a>
								</td>
							</tr>
							<tr>
								<td>Front End Developer</td>
								<td class="column-location">London</td>
								<td class="column-salary">&pound;16,000</td>
								<td class="read-more">
									<a href="10-Job-Description.html">
										<span>Read more</span>
										<span class="icon"></span>
									</a>
								</td>
							</tr>
							<tr>
								<td>PHP Developer</td>
								<td class="column-location">Manchester</td>
								<td class="column-salary">&pound;16,000</td>
								<td class="read-more">
									<a href="10-Job-Description.html">
										<span>Read more</span>
										<span class="icon"></span>
									</a>
								</td>
							</tr>
							<tr>
								<td>PHP Developer</td>
								<td class="column-location">Manchester</td>
								<td class="column-salary">&pound;16,000</td>
								<td class="read-more">
									<a href="10-Job-Description.html">
										<span>Read more</span>
										<span class="icon"></span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
			</div>


			<div class="module m-more-profiles">
				<div class="module-canvas">
					<div class="module-header">
						<h2><span>More Profiles</span></h2>
					</div>
					<div class="profile-list">
						<ul>
							<li>
								<a href="#">
									<img class="photo" src="/images/people-01_v_cbf700.jpg" alt="">
									<p class="name">See Jeremy's Profile</p>
									<p class="role-title">Customer Partnerships</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img class="photo" src="/images/people-01_v_cbf700.jpg" alt="">
									<p class="name">See Jeremy's Profile</p>
									<p class="role-title">Customer Partnerships</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img class="photo" src="/images/people-01_v_cbf700.jpg" alt="">
									<p class="name">See Jeremy's Profile</p>
									<p class="role-title">Customer Partnerships</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>



		<!-- Footer -->
		<!-- #include file = "includes/footer.html" -->

		<!-- page specific scripts -->
		<script src="scripts/blog-masonry.min.js"></script>
		<script src="scripts/blog-imagesloaded.min.js"></script>
		<script src="scripts/blog-layout.js"></script>
	</body>
</html>