<!-- #include file = "includes/head.html" -->
<body class="jobs">
	<!-- navigation -->
	<!-- #include file = "includes/skip-links.html" -->
	<!-- #include file = "includes/navigation.html" -->

	<div id="main-content" class="main-content">
		<div class="module m-hero">
			<div class="module-canvas">
				<div class="title">
					<div class="title-canvas">
						<div class="title-inner-canvas">
							<h1>
								<img src="/images/hero-title-jobs_v_055e62.png" alt="" />
								<span class="heading-text">Our Awesome Vacancies</span>
							</h1>
						</div>
					</div>
				</div>			
				<div class="graphic">
					<img src="/images/hero-image-jobs_v_0c1d2c.png" alt="">
				</div>
			</div>
		</div>

		<div id="job-search" class="section">
			<div class="module m-job-search">
				<div class="module-canvas">
					<div class="module-header-single stars">
						<h2>Jobs</h2>
					</div>
					<div class="jobs-intro">
						<h3>Your dream job is here</h3>
						<p>Are you a technical whizz? A customer champion? Or a support hero? Search our job vacancies by location or division and get started on your very own adventure in awesomeness.</p>
					</div>
					<form class="job-search-form" action="#">
						<p>Keyword (e.g. developer, sales, customer service):</p>
						<div class="text-input">
							<input type="text" name="job-search" placeholder="Search Jobs">
						</div>
						<div class="bottom">
							<div class="filter">
								<div class="filter-canvas">
									<div class="location">
										<select class="dropdown" name="location">
											<option value="location-all">Locations</option>
											<option value="location-manchester">Manchester</option>
											<option value="location-london">London</option>
										</select>
									</div>
									<div class="division">
										<select class="dropdown" name="location">
											<option value="division-all">Divisions</option>
											<option value="division-product">Product &amp; Technology</option>
											<option value="division-customer">Customer Operations</option>
											<option value="division-business">Business Support</option>
										</select>
									</div>									
								</div>
							</div>
							<div class="action">
								<div class="action-canvas">
									<div class="submit">
										<input type="submit" value="Search">
									</div>
									<div class="reset">
										<input type="reset" value="Clear All">
									</div>									
								</div>
							</div>							
						</div>
					</form>
				</div>
			</div>
			<div class="module m-job-search-result">
				<div class="module-canvas">
					<table class="results">
						<thead>
							<tr>
								<td>Job Role</td>
								<td class="column-division">Division</td>
								<td class="column-location">Location</td>
								<td class="column-salary">Salary</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>PHP Developer</td>
								<td class="column-division">Product &amp; developements Product &amp; developements</td>
								<td class="column-location">Manchester</td>
								<td class="column-salary">&pound;16,000</td>
								<td class="read-more">
									<a href="10-Job-Description.html">
										<span>Read more</span>
										<span class="icon"></span>
									</a>
								</td>
							</tr>
							<tr>
								<td>Senior PHP Developer</td>
								<td class="column-division">Product &amp; developements Product &amp; developements</td>
								<td class="column-location">Manchester</td>
								<td class="column-salary">&pound;16,000</td>
								<td class="read-more">
									<a href="10-Job-Description.html">
										<span>Read more</span>
										<span class="icon"></span>
									</a>
								</td>
							</tr>
							<tr>
								<td>Junior PHP Developer</td>
								<td class="column-division">Product &amp; developements</td>
								<td class="column-location">London</td>
								<td class="column-salary">&pound;16,000</td>
								<td class="read-more">
									<a href="10-Job-Description.html">
										<span>Read more</span>
										<span class="icon"></span>
									</a>
								</td>
							</tr>
							<tr>
								<td>Front End Developer</td>
								<td class="column-division">Product &amp; developements</td>
								<td class="column-location">London</td>
								<td class="column-salary">&pound;16,000</td>
								<td class="read-more">
									<a href="10-Job-Description.html">
										<span>Read more</span>
										<span class="icon"></span>
									</a>
								</td>
							</tr>
							<tr>
								<td>PHP Developer</td>
								<td class="column-division">Product &amp; developements</td>
								<td class="column-location">Manchester</td>
								<td class="column-salary">&pound;16,000</td>
								<td class="read-more">
									<a href="10-Job-Description.html">
										<span>Read more</span>
										<span class="icon"></span>
									</a>
								</td>
							</tr>
							<tr>
								<td>PHP Developer</td>
								<td class="column-division">Product &amp; developements</td>
								<td class="column-location">Manchester</td>
								<td class="column-salary">&pound;16,000</td>
								<td class="read-more">
									<a href="10-Job-Description.html">
										<span>Read more</span>
										<span class="icon"></span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- #include file = "includes/share.html" -->
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<!-- #include file = "includes/footer.html" -->

	<!-- page specific scripts -->
	<script src="scripts/jobs-jquery.easydropdown.js"></script>
	
</body>
</html>