<!-- #include file = "includes/head.html" -->
	<body class="blog-landing-page">
		<!-- navigation -->
		<!-- #include file = "includes/skip-links.html" -->
		<!-- #include file = "includes/navigation.html" -->
		<div id="main-content" class="main-content">
			<div class="module m-hero">
				<div class="module-canvas">
					<div class="title">
						<div class="title-canvas">
							<div class="title-inner-canvas">
								<h1>
									<img src="/images/hero-title-events_v_f6dfc4.png" alt="" />
									<span class="heading-text">Blogs &amp; Events</span>
								</h1>
							</div>
						</div>
					</div>			
					<div class="graphic">
						<img src="/images/hero-image-news_v_a70ddb.png" alt="">
					</div>
				</div>
			</div>
			<div class="module m-blog-list">
				<div class="module-canvas">
					<div id="post-filter" class="post-filter">
						<ul>
							<li class="active" data-filter="*">All</li>
							<li data-filter=".category-tech">Technology</li>
							<li data-filter=".category-career">Career Advice</li>
							<li data-filter=".category-grads">Graduate</li>
							<li data-filter=".category-event">Events</li>
							<li data-filter=".category-misc">Miscellaneous</li>
						</ul>
					</div>
					<div id="post-list" class="post-list">
						<div class="post-item category-career">
							<div class="post-item-canvas">
								<div class="meta-data">
									<div class="category-icon"></div>
									<h2 class="category">Career Advice</h2>
									<p class="date">Thu 14 May 2015</p>
								</div>
								<div class="graphics">
									<a href="07-Single-Blog.html">
										<img src="http://lorempixel.com/300/200/transport/3" alt="">
									</a>
								</div>
								<div class="text">
									<h3 class="title">
										<a href="07-Single-Blog.html">
											New Peugeot 208 1.2 PureTech first drive review
										</a>
									</h3>
									<p class="summary">The new Peugeot 208 has been given a subtle reworking and new engines for 2015 - is it enough to take on newer rivals from Mazda, Hyundai, Ford and Vauxhall in this tough class?
										<a href="07-Single-Blog.html" class="read-more">
											<span>Read more</span>
											<span class="icon"></span>
										</a>
									</p>
								</div>
							</div>
						</div>

						<div class="post-item category-event">
							<div class="post-item-canvas">
								<div class="meta-data">
									<div class="category-icon"></div>
									<h2 class="category">Event</h2>
									<p class="date">Monday Jan 2016</p>
								</div>
								<div class="text">
									<h3 class="title">
										<a href="07-Single-Blog.html">Networking Mix<br>18 May 2015/ 17:00</a>
									</h3>
									<h4 class="location">Auto Trader Group plc, 3rd Floor, 2 Pancras Square,London, N1C 4AG</h4>
									<p class="host"><strong>Hosted by</strong>: AutoTrader</p>
									<p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, neque. Inventore laboriosam corporis labore deleniti mollitia ipsam repellat, sint nisi, explicabo quo velit nesciunt tempore aperiam tempora suscipit, nam distinctio quam. Doloremque molestias, debitis, assumenda id perferendis quasi blanditiis ut.</p>
								</div>
							</div>
						</div>

						<div class="post-item category-tech">
							<div class="post-item-canvas">
								<div class="meta-data">
									<div class="category-icon"></div>
									<h2 class="category">Technology</h2>
									<p class="date">Thursday 18 May 2015</p>
								</div>
								<div class="graphics">
									<a href="07-Single-Blog.html">
										<img src="http://lorempixel.com/300/200/transport/5" alt="">
									</a>
								</div>
								<div class="text">
									<h3 class="title">
										<a href="07-Single-Blog.html">
											Lorem ipsum dolor sit amet, consectetur adipisicing.
										</a>
									</h3>
									<p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ut tempora asperiores minima veritatis, totam commodi aperiam, dignissimos optio fugit quibusdam perferendis. Minus nam expedita, veritatis vero perferendis veniam nulla.
										<a href="07-Single-Blog.html" class="read-more">
											<span>Read more</span>
											<span class="icon"></span>
										</a>
									</p>
								</div>
							</div>
						</div>

						<div class="post-item category-grads">
							<div class="post-item-canvas">
								<div class="meta-data">
									<div class="category-icon"></div>
									<h2 class="category">Graduate</h2>
									<p class="date">Wednesday 22 May 2015</p>
								</div>
								<div class="text">
									<p class="tweet">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae aliquam obcaecati modi, odit ex vero nobis, placeat ut recusandae veritatis.</p>
									<div class="interact">
										<a href="#" class="follow">
											<div class="icon"></div>
											<div class="caption">Follow</div>
										</a>
										<a href="#" class="retweet">
											<div class="icon"></div>
											<div class="caption">Retweet</div>
										</a>
										<a href="#" class="favorite">
											<div class="icon"></div>
											<div class="caption">Favourite</div>
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="post-item category-misc">
							<div class="post-item-canvas">
								<div class="meta-data">
									<div class="category-icon"></div>
									<h2 class="category">Miscellaneous</h2>
									<p class="date">Tuesday 22 June 2015</p>
								</div>
								<div class="graphics">
									<a href="07-Single-Blog.html">
										<img src="http://lorempixel.com/300/200/transport/8" alt="">
									</a>
								</div>
								<div class="text">
									<p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae aliquam obcaecati modi, odit ex vero nobis, placeat ut recusandae veritatis.</p>
									<div class="interact">
										<a href="#" class="like">
											<div class="icon"></div>
											<div class="caption">Like</div>
										</a>
										<a href="#" class="share">
											<div class="icon"></div>
											<div class="caption">Share</div>
										</a>
									</div>
								</div>
							</div>
						</div>

						<!-- Duplicates -->

						<div class="post-item category-career">
							<div class="post-item-canvas">
								<div class="meta-data">
									<div class="category-icon"></div>
									<h2 class="category">Career Advice</h2>
									<p class="date">Thu 14 May 2015</p>
								</div>
								<div class="graphics">
									<a href="07-Single-Blog.html">
										<img src="http://lorempixel.com/300/200/transport/4" alt="">
									</a>
								</div>
								<div class="text">
									<h3 class="title">
										<a href="07-Single-Blog.html">
											New Peugeot 208 1.2 PureTech first drive review
										</a>
									</h3>
									<p class="summary">The new Peugeot 208 has been given a subtle reworking and new engines for 2015 - is it enough to take on newer rivals from Mazda, Hyundai, Ford and Vauxhall in this tough class?
										<a href="07-Single-Blog.html" class="read-more">
											<span>Read more</span>
											<span class="icon"></span>
										</a>
									</p>
								</div>
							</div>
						</div>

						<div class="post-item category-tech">
							<div class="post-item-canvas">
								<div class="meta-data">
									<div class="category-icon"></div>
									<h2 class="category">Technology</h2>
									<p class="date">Thursday 18 May 2015</p>
								</div>
								<div class="graphics">
									<a href="07-Single-Blog.html">
										<img src="http://lorempixel.com/300/200/transport/10" alt="">
									</a>
								</div>
								<div class="text">
									<h3 class="title">
										<a href="07-Single-Blog.html">
											Lorem ipsum dolor sit amet, consectetur adipisicing.
										</a>
									</h3>
									<p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ut tempora asperiores minima veritatis, totam commodi aperiam, dignissimos optio fugit quibusdam perferendis. Minus nam expedita, veritatis vero perferendis veniam nulla.
										<a href="07-Single-Blog.html" class="read-more">
											<span>Read more</span>
											<span class="icon"></span>
										</a>
									</p>
								</div>
							</div>
						</div>


						<div class="post-item category-event">
							<div class="post-item-canvas">
								<div class="meta-data">
									<div class="category-icon"></div>
									<h2 class="category">Event</h2>
									<p class="date">Monday Jan 2016</p>
								</div>
								<div class="text">
									<h3 class="title">
										<a href="07-Single-Blog.html">Networking Mix<br>18 May 2015/ 17:00</a>
									</h3>
									<h4 class="location">Auto Trader Group plc, 3rd Floor, 2 Pancras Square,London, N1C 4AG</h4>
									<p class="host"><strong>Hosted by</strong>: AutoTrader</p>
									<p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, neque. Inventore laboriosam corporis labore deleniti mollitia ipsam repellat, sint nisi, explicabo quo velit nesciunt tempore aperiam tempora suscipit, nam distinctio quam. Doloremque molestias, debitis, assumenda id perferendis quasi blanditiis ut.
										<a href="07-Single-Blog.html" class="read-more">
											<span>Read more</span>
											<span class="icon"></span>
										</a>
									</p>
								</div>
							</div>
						</div>


						<div class="post-item category-misc">
							<div class="post-item-canvas">
								<div class="meta-data">
									<div class="category-icon"></div>
									<h2 class="category">Miscellaneous</h2>
									<p class="date">Tuesday 22 June 2015</p>
								</div>
								<div class="graphics">
									<a href="07-Single-Blog.html">
										<img src="http://lorempixel.com/300/200/transport/" alt="">
									</a>
								</div>
								<div class="text">
									<p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae aliquam obcaecati modi, odit ex vero nobis, placeat ut recusandae veritatis.</p>
									<div class="interact">
										<a href="#" class="like">
											<div class="icon"></div>
											<div class="caption">Like</div>
										</a>
										<a href="#" class="share">
											<div class="icon"></div>
											<div class="caption">Share</div>
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="post-item category-grads">
							<div class="post-item-canvas">
								<div class="meta-data">
									<div class="category-icon"></div>
									<h2 class="category">Graduate</h2>
									<p class="date">Wednesday 22 May 2015</p>
								</div>
								<div class="text">
									<p class="tweet">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae aliquam obcaecati modi, odit ex vero nobis, placeat ut recusandae veritatis.</p>
									<div class="interact">
										<a href="#" class="follow">
											<div class="icon"></div>
											<div class="caption">Follow</div>
										</a>
										<a href="#" class="retweet">
											<div class="icon"></div>
											<div class="caption">Retweet</div>
										</a>
										<a href="#" class="favorite">
											<div class="icon"></div>
											<div class="caption">Favourite</div>
										</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>				
				<!-- #include file = "includes/share.html" -->
			</div>
		</div>

		<!-- Footer -->
		<!-- #include file = "includes/footer.html" -->

		<!-- page specific scripts -->
		<script src="scripts/blog-masonry.min.js"></script>
		<script src="scripts/blog-imagesloaded.min.js"></script>
		<script src="scripts/blog-layout.js"></script>
	</body>
</html>