<!-- #include file = "includes/head.html" -->
	<body class="single-post">
		<!-- navigation -->
		<!-- #include file = "includes/skip-links.html" -->
		<!-- #include file = "includes/navigation.html" -->
		<div id="main-content" class="main-content">
			<div class="module m-hero">
				<div class="module-canvas">
					<a href="06-Blogs-Events.html" class="back-button">
						<img src="/images/hero-title-blog-back_v_719949.png" alt="Back to News" />
						<p class="back">Back to News</p>
					</a>
					<div class="title">
						<div class="title-canvas">
							<div class="title-inner-canvas">

								<img class="blog-top" src="/images/hero-title-blog-top_v_aedd63.png" alt="Blog Heading" />
								<h1>Blog heading goes here and a long heading looks like this</h1>
								<img class="blog-bottom" src="/images/hero-title-blog-bottom_v_2589b5.png" alt="Awesome Ideas" />
								<span class="heading-text">Awesome Ideas</span>
								<p class="post-author">Post by Jane Doe</p>
								<p class="post-date">21 January 2015</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="module m-content">
				<div class="module-canvas">
					<h3>In-Page Video Player</h3>
					<p>One of the greatest strengths of the tribe structure is that it gives us the capacity to mix people at all levels with all kinds of different skill sets. Our squads pull together engineers, developers, testers, UX, product and infrastructure so that our solutions are well rounded. We also include people with a range of experience from apprentices and graduates through to senior and principals, so that we are nimble, our thinking stays fresh, and we continue to learn from one another.</p>
					<p>One of the greatest strengths of the tribe structure is that it gives us the capacity to mix people at all levels with all kinds of different skill sets. Our squads pull together engineers, developers, testers, UX, product and infrastructure so that our solutions are well rounded. We also include people with a range of experience from apprentices and graduates through to senior and principals, so that we are nimble, our thinking stays fresh, and we continue to learn from one another.</p>

					<img src="/images/slide-2-office-4_v_4a82c3.jpg" alt="Office with cars on walls.">

					<h3>In-Page Video Player</h3>

					<p>One of the greatest strengths of the tribe structure is that it gives us the capacity to mix people at all levels with all kinds of different skill sets. Our squads pull together engineers, developers, testers, UX, product and infrastructure so that our solutions are well rounded. We also include people with a range of experience from apprentices and graduates through to senior and principals, so that we are nimble, our thinking stays fresh, and we continue to learn from one another.</p>
					<p>One of the greatest strengths of the tribe structure is that it gives us the capacity to mix people at all levels with all kinds of different skill sets. Our squads pull together engineers, developers, testers, UX, product and infrastructure so that our solutions are well rounded. We also include people with a range of experience from apprentices and graduates through to senior and principals, so that we are nimble, our thinking stays fresh, and we continue to learn from one another.</p>

					<!-- #include file = "includes/share.html" -->
				</div>
			</div>
			<div class="module m-leave-reply">
				<div class="module-canvas">
					<h3>Leave a Reply</h3>
					<p>Your email address will not be published. <span class="req-text">*</span>Required fields are marked.</p>
					
					<!-- When a form submit is attempted and any element with class"req-field" is incomplete, remove class "valid" from all elements nested in "m-leave-reply" -->
					
					<form action="comment.php" method="get" id="comments" novalidate>
							<div class="item">
								<label>Name: <span class="req-text">*</span><br />
								<input type="text" name="name" class="req-field valid" required data-validate-length="2"/></label>
							</div>
							<div class="item">
								<label>E-mail: <span class="req-text">*</span><br />
								<input type="email" name="email" class="req-field valid" required/></label>								
							</div>
							<div class="item">
								<label>Comment: <span class="req-text">*</span><br />
								<textarea name"comment" rows="4" class="req-field valid"></textarea></label>		
							</div>							
						 <input type="submit" value="Submit" />
					</form>
					<p class="error-text valid">Please complete the fields outlined above</p>
				</div>
			</div>
			<div class="module m-replies">
				<div class="module-canvas">
					<h3>2 Replies</h3>
					<ul>
						<li class="reply">
							<p class="name">Marta says:</p>
							<p class="comment">Dolore est sit ex irure est Excepteur fugiat minim ea nulla labore est quis laborum sunt nostrud nulla eiusmod. Magna veniam reprehenderit sed minim labore sint proident id dolore minim laboris ut cupidatat.</p>
							<p class="date">22 January 2015 - 12:53 PM</p>
						</li>
						<li class="reply">
							<p class="name">Donny says:</p>
							<p class="comment">Reprehenderit sed minim labore sint proident id dolore minim laboris ut cupidatat.</p>
							<p class="date">22 January 2015 - 12:21 PM</p>
						</li>
					</ul>
				</div>
			</div>
		</div>



		<!-- Footer -->
		<!-- #include file = "includes/footer.html" -->

		<!-- page specific scripts -->
		<script src="scripts/single-blog-validator.js"></script>
	</body>
</html>