<!-- #include file = "includes/head.html" -->
	<body class="jobs-landing">
		<!-- navigation -->
		<!-- #include file = "includes/skip-links.html" -->
		<!-- #include file = "includes/navigation.html" -->
		<div id="main-content" class="main-content">
			<div class="module m-hero">
				<div class="module-canvas">
					<div class="title">
						<div class="title-canvas">
							<div class="title-inner-canvas">
								<h1>
									<img class="digital-motors" src="/images/hero-title-about_v_e867f8.png" alt="" />
									<span class="heading-text">A Wicked Wonderful World Of Digital Plus Motors</span>
								</h1>
								<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis id, dignissimos voluptatem atque excepturi voluptatum eligendi sequi voluptatibus consectetur fugiat eum dolorum, dolores facere magnam magni quis laboriosam eos fuga?</p>
							</div>
						</div>
					</div>			
					<div class="graphic">
						<img src="/images/hero-image-about_v_b5abd0.png" alt="">
					</div>
				</div>
			</div>

			<div class="module m-content">
				<div class="module-canvas">
					<div class="module-header-single culture">
						<h2>Headphones off,<br />Team Ready...game on</h2>
					</div>
					<p>We&rsquo;re the biggest online car portal in the UK. That means we have loads of customers, loads of data, and loads of challenges for a go-getting techie like you.  Our tribes and squads structure gives you development without hierarchy. We&rsquo;ve got big company benefits but we&rsquo;re agile like a startup. So you can be yourself, be a little disruptive &ndash; and be proud of your work.</p>
					<h3>Your daily diet of Awesome</h3>
					<p>The technology team keeps our site ever-optimising for our users, whether on desktop, mobile or app &ndash; with better search experiences, better tools for our dealers and better data and analysis for us (because we have to have our treats too). We act, craft and test, never being afraid to make mistakes on the journey to digital nirvana.</p>

					<!-- #include file = "includes/share.html" -->
				</div>
			</div>

			<div class="module m-hot-jobs">
				<div class="module-canvas">
					<div class="module-header-single fire">
						<h2>Hot New Jobs</h2>
					</div>
					<div class="job-list">
						<table class="results">
						<thead>
							<tr>
								<td>Job Role</td>
								<td class="column-location">Location</td>
								<td class="column-salary">Salary</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>PHP Developer</td>
								<td class="column-location">Manchester</td>
								<td class="column-salary">&pound;16,000</td>
								<td class="read-more">
									<a href="#">
										<span>Read more</span>
										<span class="icon"></span>
									</a>
								</td>
							</tr>
							<tr>
								<td>Senior PHP Developer</td>
								<td class="column-location">Manchester</td>
								<td class="column-salary">&pound;16,000</td>
								<td class="read-more">
									<a href="#">
										<span>Read more</span>
										<span class="icon"></span>
									</a>
								</td>
							</tr>
							<tr>
								<td>Junior PHP Developer</td>
								<td class="column-location">London</td>
								<td class="column-salary">&pound;16,000</td>
								<td class="read-more">
									<a href="#">
										<span>Read more</span>
										<span class="icon"></span>
									</a>
								</td>
							</tr>
							<tr>
								<td>Front End Developer</td>
								<td class="column-location">London</td>
								<td class="column-salary">&pound;16,000</td>
								<td class="read-more">
									<a href="#">
										<span>Read more</span>
										<span class="icon"></span>
									</a>
								</td>
							</tr>
							<tr>
								<td>PHP Developer</td>
								<td class="column-location">Manchester</td>
								<td class="column-salary">&pound;16,000</td>
								<td class="read-more">
									<a href="#">
										<span>Read more</span>
										<span class="icon"></span>
									</a>
								</td>
							</tr>
							<tr>
								<td>PHP Developer</td>
								<td class="column-location">Manchester</td>
								<td class="column-salary">&pound;16,000</td>
								<td class="read-more">
									<a href="#">
										<span>Read more</span>
										<span class="icon"></span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
			</div>

			<div class="module m-more-profiles">
				<div class="module-canvas">
					<div class="module-header">
						<h2><span>More Profiles</span></h2>
					</div>
					<div class="profile-list">
						<ul>
							<li>
								<a href="04-Profile.html">
									<img class="photo" src="/images/people-01_v_cbf700.jpg" alt="">
									<p class="name">See Jeremy's Profile</p>
									<p class="role-title">Customer Partnerships</p>
								</a>
							</li>
							<li>
								<a href="04-Profile.html">
									<img class="photo" src="/images/people-01_v_cbf700.jpg" alt="">
									<p class="name">See Jeremy's Profile</p>
									<p class="role-title">Customer Partnerships</p>
								</a>
							</li>
							<li>
								<a href="04-Profile.html">
									<img class="photo" src="/images/people-01_v_cbf700.jpg" alt="">
									<p class="name">See Jeremy's Profile</p>
									<p class="role-title">Customer Partnerships</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>



		</div>



		<!-- Footer -->
		<!-- #include file = "includes/footer.html" -->

		<!-- page specific scripts -->
		<script src="scripts/blog-masonry.min.js"></script>
		<script src="scripts/blog-imagesloaded.min.js"></script>
		<script src="scripts/blog-layout.js"></script>
	</body>
</html>