<!-- #include file = "includes/head.html" -->
	<body class="standard-page">
		<!-- navigation -->
		<!-- #include file = "includes/skip-links.html" -->
		<!-- #include file = "includes/navigation.html" -->
		<div id="main-content" class="main-content">
			<div class="module m-hero">
				<div class="module-canvas">
					<div class="title">
						<div class="title-canvas">
							<div class="title-inner-canvas">
								<h1>
									<img class="digital-motors" src="/images/hero-title-about_v_e867f8.png" alt="" />
									<span class="heading-text">A Wicked Wonderful World Of Digital Plus Motors</span>
								</h1>
								<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis id, dignissimos voluptatem atque excepturi voluptatum eligendi sequi voluptatibus consectetur fugiat eum dolorum, dolores facere magnam magni quis laboriosam eos fuga?</p>
							</div>
						</div>
					</div>			
					<div class="graphic">
						<img src="/images/hero-image-about_v_b5abd0.png" alt="">
					</div>
				</div>
			</div>

			<div class="module m-heading-block">
				<div class="module-canvas">
					<div class="module-header-single culture">
						<h2>Header 1</h2>
					</div>
					<h3>Header 2</h3>
					<h4>Header 3</h4>
					<h5>Header 4</h5>
					<h6>Header 5</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis id, dignissimos voluptatem atque excepturi voluptatum eligendi sequi voluptatibus consectetur fugiat eum dolorum, dolores facere magnam magni quis laboriosam eos fuga?</p>
				</div>
			</div>

			<div class="module m-content">
				<div class="module-canvas">
					<div class="module-header-double arrows">
						<h2>Values</h2>
					</div>
					<h4>Be Determined.</h4>
					<p>We&rsquo;re determined to take this business to its full potential &ndash; and beyond!</p>

					<h4>Be Curious.</h4>
					<p>To be successful, we need to feel free to ask questions and try things out, even if we make mistakes.</p>

					<h4>Be Humble.</h4>
					<p>We&rsquo;re courageous and inspirational to our people, customers, and the whole industry.</p>

					<h3 class="section-start">What it&rsquo;s like to work with us &ndash; from our people</h3>

					<div class="m-quote">
						<blockquote>
							<p>&ldquo;The hierarchy is flat here. It&rsquo;s very uncorporate. There&rsquo;s no safety net, no layers of people to review your work, which means you&rsquo;ll get exposure without having to faff with politics. You come in knowing you&rsquo;re going to have a great day.&rdquo;</p>
							<footer><cite class="name">Steve Cosgrove</cite> <span class="job-title">Finance Manager (Business Support)</span></footer>
						</blockquote>
					</div>


					<div class="m-quote reverse">
						<blockquote>
							<p>&ldquo;The hierarchy is flat here. It&rsquo;s very uncorporate. There&rsquo;s no safety net, no layers of people to review your work, which means you&rsquo;ll get exposure without having to faff with politics. You come in knowing you&rsquo;re going to have a great day.&rdquo;</p>
							<footer><cite class="name">Steve Cosgrove</cite> <span class="job-title">Finance Manager (Business Support)</span></footer>
						</blockquote>
					</div>


					<h3>In-Page Video Player</h3>

					<div class="video-embed">
						<iframe src='https://player.vimeo.com/video/95218589' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
					</div>
					
					<h4 class="section-start">Multi disciplines and varied experience</h4>
					<p>One of the greatest strengths of the tribe structure is that it gives us the capacity to mix people at all levels with all kinds of different skill sets. Our squads pull together engineers, developers, testers, UX, product and infrastructure so that our solutions are well rounded. We also include people with a range of experience from apprentices and graduates through to senior and principals, so that we are nimble, our thinking stays fresh, and we continue to learn from one another.</p>

					<div class="m-image-list">
						<ul>
							<li>
								<img src="/images/slide-2-office-1_v_88b621.jpg" alt="Office with retro burger van.">
							</li>
							<li>
								<img src="/images/slide-2-office-2_v_b3f4c6.jpg" alt="Office with red sports car.">
							</li>
							<li>
								<img src="/images/slide-2-office-3_v_0c9c29.jpg" alt="Office with cars on walls.">
							</li>
						</ul>
					</div>

					<img src="/images/slide-2-office-4_v_4a82c3.jpg" alt="Office with cars on walls.">

					<p>One of the greatest strengths of the tribe structure is that it gives us the capacity to mix people at all levels with all kinds of different skill sets. Our squads pull together engineers, developers, testers, UX, product and infrastructure so that our solutions are well rounded. We also include people with a range of experience from apprentices and graduates through to senior and principals, so that we are nimble, our thinking stays fresh, and we continue to learn from one another.</p>

					<!-- #include file = "includes/share.html" -->
				</div>
			</div>



		</div>



		<!-- Footer -->
		<!-- #include file = "includes/footer.html" -->

		<!-- page specific scripts -->
		<script src="scripts/blog-masonry.min.js"></script>
		<script src="scripts/blog-imagesloaded.min.js"></script>
		<script src="scripts/blog-layout.js"></script>
	</body>
</html>