<!-- #include file = "includes/head.html" -->
	<body class="job-details">
		<!-- navigation -->
		<!-- #include file = "includes/skip-links.html" -->
		<!-- #include file = "includes/navigation.html" -->
		<div id="main-content" class="main-content">
			<div class="module m-hero">
				<div class="module-canvas">
					<div class="title">
						<div class="title-canvas">
							<div class="title-inner-canvas">
								<h1>
									<img src="/images/hero-title-customer-partnerships_v_774b79.png" alt="" />
									<span class="heading-text">Customer Partnerships. Awesomeness Guaranteed.</span>
								</h1>
							</div>
						</div>
					</div>			
					<div class="graphic">
						<img src="/images/hero-image-customer-partnerships_v_396698.png" alt="">
					</div>
				</div>
			</div>

			<div class="module m-heading-block">
				<div class="module-canvas">
					<div class="module-header-single globe vert-tight">
						<h2>Image Services Co-ordinator</h2>
					</div>
					<h3>Manchester, United Kingdom</h3>

					<h5>Salary: &pound;18,000 - &pound;20,000<br>
					Closing date: 5 June 2015</h5>
					<h6>Published on: 29 May 2015<br>
					Ref: 2569</h6>

				</div>
			</div>

			<div class="module m-content">
				<div class="module-canvas">
					<div class="module-header-single fire">
						<h2>The Job</h2>
					</div>

					<div class="long-content-wrap">
						<p>We&rsquo;re Auto Trader, the UK&rsquo;s leading Digital Automotive Platform and we&rsquo;re looking for an Image Services Co-ordinator who thrives on taking ownership whilst delivering world class service and administrative support. You will need to enjoy delivering tasks through to resolution wthilst ensuring the customer receives not just a satisfactory outcome but also an effortless experience.</p>
						<p>In this role you will coordinate the imagery customer visits with our photographer network, handle and work with the relevant stakeholders to resolve inbound retailer queries relating to Image Services solutions, and provide support to the Image Services Team in project/product/new business opportunities and delivery as well as participating in day-to-day processing and quality control if required.</p>
						
						<ul>
							<li>Ensure all incoming calls are handled efficiently and in a professional manner to provide first contact resolution at every opportunity</li>
							<li>Work in collaboration with all internal departments to deliver a first class service</li>
							<li>Ensure all operational customer enquiries and issues are resolved/escalated appropriately and changes implemented where highlighted to improve customer service</li>
							<li>Assigning all new and existing photographic services to appropriate photographers and updating the Field Management System within agreed timeframes</li>
							<li>Monitoring the service delivered by professional photographers to ensure that all required service activities are completed within service level agreements, and contacting photographers as appropriate</li>
							<li>Supporting the Regional Photography Coordinator with the recruitment of new photographers, administering applicant responses and the set-up of new photographers and resolving monthly photographer invoicing queries</li>
							<li>Coordinating and maintain records for Image Services Team Annual Leave and Sickness with HR</li>
							<li>As required, work within the processes and procedures required for efficient delivery of customer imagery including processing, manipulating and quality control of images using primarily Photoshop</li>
							<li>Pro-actively keep abreast of changes to procedures, processes and product knowledge to drive self-development</li>
						</ul>
						 
						<h3>The Requirements</h3>
						<ul>
							<li>Customer focus coupled with an exceptional telephone manner and great written skills</li>
							<li>Skilled in maintaining a high standard of speed and accuracy to ensure quality is consistently delivered</li>
							<li>Effectively build and develop positive relationships with internal and external customers.</li>
							<li>Able to work in a high performing team as well as alone</li>
							<li>Proficient in using PowerPoint, Excel and Outlook</li>
							<li>Tenacious approach with a positive mind set when faced with tight deadlines and wider business challenges</li>
							<li>Strong organisational, time management and delegation skills are essential as you will have to prioritise your own and the team&rsquo;s workload.</li>
							<li>Has the ability to interpret a customer&rsquo;s needs both immediate and future and identify the correct solution to resolve, educate customer and mitigate follow up contacts</li>
							<li>Strong Planning and organisational skills along with the ability to be proactive</li>
						</ul>
						
						<h4>Preferred</h4>
						<ul>
							<li>Experience in Digital Image Manipulation using Adobe&reg; Photoshop&reg; or any other digital image manipulation software.</li>
							<li>An interest in the automotive industry</li>
						</ul>
						
						<p>This role is primarily based in Manchester but you will also be required to visit the London office and Image Service customers on an adhoc basis.</p>
						
						<h5>The Perks</h5>
						<p>As well as a competitive salary of between &pound;18,000 to &pound;20,000, great learning and career opportunities, you will be provided with a host of amazing benefits including; 25 days holiday, pension, life assurance, season ticket loans, great shopping and leisure discounts. There is also a whole range of optional flexible benefits!</p>
						
						<h6>The Location</h6>
						<p>We are based in a state of the art office in the heart of Manchester, meaning we are within a stone&rsquo;s throw of the energetic Deansgate area and have excellent public transport links (Tram, Train and Bus) within a five minute walk!</p>
						<p>Our award winning new First Street offices are spacious with pool tables, games consoles, free refreshments and other great facilities. We even have cars in the office, which is no mean feat as we're on the fourth and fifth floor.</p>
						<p>Sound interesting? ... Apply now, we&rsquo;d love to tell you more!</p>
					</div>
					<div class="long-content-toggle">
						<button class="long-content-toggle-btn">Read more</button>
					</div>

					<p class="action">
						<a href="#" class="button btn-apply">Apply</a>
					</p>
					<!-- #include file = "includes/share.html" -->
				</div>
			</div>


		</div>



		<!-- Footer -->
		<!-- #include file = "includes/footer.html" -->

		<!-- page specific scripts -->
		<script src="scripts/blog-masonry.min.js"></script>
		<script src="scripts/blog-imagesloaded.min.js"></script>
		<script src="scripts/blog-layout.js"></script>
	</body>
</html>