<!-- #include file = "includes/head.html" -->
<body class="contact-us">
	<!-- navigation -->
	<!-- #include file = "includes/skip-links.html" -->
	<!-- #include file = "includes/navigation.html" -->
	<div id="main-content" class="main-content">
			<div class="module m-hero">
				<div class="module-canvas">
					<div class="title">
						<div class="title-canvas">
							<div class="title-inner-canvas">
								<h1>
									<img src="/images/hero-title-contact_v_b98fc8.png" alt="" />
									<span class="heading-text">Contact Us</span>
								</h1>
							</div>
						</div>
					</div>			
					<div class="graphic">
						<img src="/images/hero-image-contact_v_00ab30.png" alt="">
					</div>
				</div>
			</div>

		<div class="module m-contact">
			<div class="module-canvas">
				<div class="tab-nav">
					<ul>
						<li class="selected">
							<button data-target="tab-1" class="button">London</button>
						</li>
						<li>
							<button data-target="tab-2" class="button">Manchester</button>						
						</li>
					</ul>
				</div>
				<div class="tab-content">
					<div id="tab-1" class="tab-1 tab selected">
						<div class="module-header-single">
							<h2>Auto Trader London</h2>
						</div>
						<address>
							3rd Floor<br>
							1 Pancras Square<br>
							London<br>
							N1C 4AG
						</address>
						<div class="contact-info">
							<a href="tel:00442037477100" class="phone">
								<div class="icon"></div>
								<div class="value">+44 (0) 20 3747 7100</div>
							</a>
							<a href="mailto:london.reception@autotrader.co.uk" class="email"> 
								<div class="icon"></div>
								<div class="value">london.reception<br>@autotrader.co.uk</div>
							</a>
						</div>
						
						<a href="05ii-Vacancies-with-Results.html" class="job-search-link">See Available Roles in London</a>

						<div class="map">
							<div class="canvas">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2481.8949709058547!2d-0.12506600000002419!3d51.533486199999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b3c4908bad5%3A0xf30ba87ba23b3369!2s1+Pancras+Square!5e0!3m2!1sen!2suk!4v1436172423007" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
					<div id="tab-2" class="tab-2 tab">
						<div class="module-header-single">
							<h2>Auto Trader Manchester</h2>
						</div>
						<address>
							First St<br>
							Manchester<br>
							M15 4FN
						</address>
						<div class="contact-info">
							<a href="tel:004401616699888" class="phone">
								<div class="icon"></div>
								<div class="value">+44 (0) 0161 669 9888</div>
							</a>
							<a href="mailto:london.reception@autotrader.co.uk" class="email"> 
								<div class="icon"></div>
								<div class="value">manchester.reception<br>@autotrader.co.uk</div>
							</a>
						</div>

						<a href="05ii-Vacancies-with-Results.html" class="job-search-link">See Available Roles in Manchester</a>
						
						<div class="map">
							<div class="canvas">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2374.7317527427904!2d-2.247226!3d53.473254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb1e930e040ad%3A0xc22dc5024b7347b6!2sAuto+Trader+UK!5e0!3m2!1sen!2suk!4v1436180919693" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
						</div>
					</div>					
				</div>
				<!-- #include file = "includes/share.html" -->
			</div>
		</div>
	</div>

	<!-- Footer -->
	<!-- #include file = "includes/footer.html" -->
</body>
</html>