<!-- #include file = "includes/head.html" -->
<body class="awesome-locations">
	<!-- navigation -->
	<!-- #include file = "includes/skip-links.html" -->
	<!-- #include file = "includes/navigation.html" -->
	<div id="main-content" class="main-content">
		<div class="module m-hero">
			<div class="module-canvas">
				<div class="title">
					<div class="title-canvas">
						<div class="title-inner-canvas">
							<h1>
								<img src="/images/hero-title-awesome-locations_v_7e736b.png" alt="" />
								<span class="heading-text">Contact Us</span>
							</h1>
						</div>
					</div>
				</div>
				<div class="graphic">
					<img src="/images/hero-image-awesome-locations_v_083ceb.png" alt="">
				</div>
			</div>
		</div>
		<div class="module m-awesome-locations">
			<div class="module-canvas">
				<div class="tab-nav">
					<ul>
						<li class="nav-london selected">
							<button data-target="tab-1" class="button">London</button>
						</li>
						<li class="nav-manchester">
							<button data-target="tab-2" class="button">Manchester</button>	
						</li>
					</ul>
				</div>
				<div class="module-header-single">
					<h2>Auto Trader offices: a great place to call home</h2>
				</div>


				<div id="tab-content" class="tab-content">
					<div id="infobox" class="infobox">
						<div class="label">
							<div class="close"></div>
						</div>
						<div class="content">
							
						</div>
					</div>
					<div id="tab-1" class="tab-1 tab selected">
					<div class="text">
						<p>We&rsquo;re in a shiny new development in Kings Cross. With great transport links to two of London&rsquo;s largest and best-connected stations, and plenty of restaurants, pubs and entertainment, this is a great location right at the heart of a growing digital community. Why not <a href="05ii-Vacancies-with-Results.html">click here to see available roles in London</a>.</p>
						<h2>Hit the icons below to explore</h2>
					</div>
						<div id="map-legend-london" class="map-legend london">
							<ul>
								<li data-id="london-01">
									<figure>
										<img src="images/map-legend-autotreader_v_e34426.png" alt="">
										<figcaption>Auto Trader</figcaption>
									</figure>
									<div class="description-trigger">
										<div class="icon"></div>
									</div>
									<div class="info">
										<h3 class="name">Auto Trader London</h3>
										<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, consectetur!</p>
										<a target="_blank" href="https://maps.google.com?q=94+Alexandra+park+Road+N10+2AE">See on Google Maps</a>
									</div>
								</li>
								<li data-id="london-02">
									<figure>
										<img src="images/map-legend-Crown_v_70ed2e.png" alt="">
										<figcaption>History &amp; Fantasy</figcaption>
									</figure>
									<div class="description-trigger">
										<div class="icon"></div>
									</div>
									<div class="info">
										<h3 class="name">Kings Cross St Pancras</h3>
										<p class="description">Kings Cross St Pancras has lots of history as well as shops and restaurants. And don&rsquo;t forget Platform 9 &frac34; to Hogwarts!</p>
										<a target="_blank" href="http://maps.google.com/maps?&z=10&q=51.530663+-0.123170&ll=51.530663+-0.123170">See on Google Maps</a>
									</div>
								</li>
								<li data-id="london-03">
									<figure>
										<img src="images/map-legend-Rooster_v_2650e7.png" alt="">
										<figcaption>Je suis libre!</figcaption>
									</figure>
									<div class="description-trigger">
										<div class="icon"></div>
									</div>
									<div class="info">
										<h3 class="name">Kings Cross St Pancras</h3>
										<p class="description">Get the Eurostar to Paris. (You can buy up to 5 more holidays a year and get up to 28). Weekend break anyone?</p>
										<a target="_blank" href="http://maps.google.com/maps?&z=10&q=51.530663+-0.123170&ll=51.530663+-0.123170">See on Google Maps</a>	
									</div>
								</li>
								<li data-id="london-04">
									<figure>
										<img src="images/map-legend-Train_v_931e5f.png" alt="">
										<figcaption>Commuting</figcaption>
									</figure>
									<div class="description-trigger">
										<div class="icon"></div>
									</div>
									<div class="info">
										<h3 class="name">King's Cross Tube Station</h3>
										<p class="description">The tube station is literally next to our front door. No hiking from the station for you! You&rsquo;ll have to get your exercise elsewhere.</p>
										<a target="_blank" href="http://maps.google.com/maps?&z=10&q=51.530663+-0.123170&ll=51.530663+-0.123170">See on Google Maps</a>
									</div>
								</li>
								<li data-id="london-05">
									<figure>
										<img src="images/map-legend-Record_v_3dfdb3.png" alt="">
										<figcaption>Rock out</figcaption>
									</figure>
									<div class="description-trigger">
										<div class="icon"></div>
									</div>
									<div class="info">
										<h3 class="name">Scala and Big Chill House</h3>
										<p class="description">You want DJs? Gigs? Someplace to cut loose? Both Scala and Big Chill House are within a few minutes walking distance. Air guitar optional.</p>
										<a target="_blank" href="http://maps.google.com/maps?&z=10&q=51.530663+-0.123170&ll=51.530663+-0.123170">See on Google Maps</a>
									</div>
								</li>
								<li data-id="london-06">
									<figure>
										<img src="images/map-legend-Food_v_546d17.png" alt="">
										<figcaption>Eat up</figcaption>
									</figure>
									<div class="description-trigger">
										<div class="icon"></div>
									</div>
									<div class="info">
										<h3 class="name">Caravan</h3>
										<p class="description">If you&rsquo;ve tried all the restaurants in St Pancras station, try Caravan. Seasonal-inspired mini sharing plates and killer coffee.</p>
										<a target="_blank" href="http://maps.google.com/maps?&z=10&q=51.530663+-0.123170&ll=51.530663+-0.123170">See on Google Maps</a>
									</div>
								</li>
								<li data-id="london-07">
									<figure>
										<img src="images/map-legend-Nerd-Out_v_66e839.png" alt="">
										<figcaption>Nerd Out</figcaption>
									</figure>
									<div class="description-trigger">
										<div class="icon"></div>
									</div>
									<div class="info">
										<h3 class="name">The British Library</h3>
										<p class="description">The British Library is a few minutes walk. Not just books &ndash; they have great exhibitions and a caf&eacute; with amazing cake. Don&rsquo;t blame your sugar buzz on us.</p>
										<a target="_blank" href="http://maps.google.com/maps?&z=10&q=51.530663+-0.123170&ll=51.530663+-0.123170">See on Google Maps</a>
									</div>
								</li>
								<li data-id="london-08">
									<figure>
										<img src="images/map-legend-Shopping_v_94d162.png" alt="">
										<figcaption>Retail Therapy</figcaption>
									</figure>
									<div class="description-trigger">
										<div class="icon"></div>
									</div>
									<div class="info">
										<h3 class="name">The Brunswick</h3>
										<p class="description">The Brunswick is a brisk 15-minute walk away. It&rsquo;s got high street shops, restaurants and cafes, and a Curzon cinema.</p>
										<a target="_blank" href="http://maps.google.com/maps?&z=10&q=51.530663+-0.123170&ll=51.530663+-0.123170">See on Google Maps</a>
									</div>
								</li>
							</ul>
						</div>
						<div id="map-london" class="map">
							<div class="canvas">
								<div id="map-london"></div>
							</div>
						</div>
					</div>
					<div id="tab-2" class="tab-2 tab">
					<div class="text">
							<p>We&rsquo;re in a shiny new development in Kings Cross. With great transport links to two of London&rsquo;s largest and best-connected stations, and plenty of restaurants, pubs and entertainment, this is a great location right at the heart of a growing digital community. Why not <a href="05ii-Vacancies-with-Results.html">click here to see available roles in Manchester</a>.</p>
							<h2>Hit the icons below to explore</h2>
						</div>
						<div class="map-legend manchester">
							<ul>
								<li data-id="manchester-01">
									<figure>
										<img src="images/map-legend-autotreader_v_e34426.png" alt="">
										<figcaption>Auto Trader</figcaption>
									</figure>
									<div class="description-trigger">
										<div class="icon"></div>
									</div>
									<div class="info">
										<h3 class="name">Auto Trader Manchester</h3>
										<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, consectetur!</p>
										<a target="_blank" href="http://maps.google.com/maps?&z=10&q=51.530663+-0.123170&ll=51.530663+-0.123170">See on Google Maps</a>
									</div>
								</li>
								<li data-id="manchester-02">
									<figure>
										<img src="images/map-legend-Crown_v_70ed2e.png" alt="">
										<figcaption>History &amp; Fantasy</figcaption>
									</figure>
									<div class="description-trigger">
										<div class="icon"></div>
									</div>
									<div class="info">
										<h3 class="name">Kings Cross St Pancras</h3>
										<p class="description">Kings Cross St Pancras has lots of history as well as shops and restaurants. And don&rsquo;t forget Platform 9 &frac34; to Hogwarts!</p>
										<a target="_blank" href="http://maps.google.com/maps?&z=10&q=51.530663+-0.123170&ll=51.530663+-0.123170">See on Google Maps</a>
									</div>
								</li>
								<li data-id="manchester-03">
									<figure>
										<img src="images/map-legend-Rooster_v_2650e7.png" alt="">
										<figcaption>Je suis libre!</figcaption>
									</figure>
									<div class="description-trigger">
										<div class="icon"></div>
									</div>
									<div class="info">
										<h3 class="name">Kings Cross St Pancras</h3>
										<p class="description">Get the Eurostar to Paris. (You can buy up to 5 more holidays a year and get up to 28). Weekend break anyone?</p>
										<a target="_blank" href="http://maps.google.com/maps?&z=10&q=51.530663+-0.123170&ll=51.530663+-0.123170">See on Google Maps</a>	
									</div>
								</li>
								<li data-id="manchester-04">
									<figure>
										<img src="images/map-legend-Train_v_931e5f.png" alt="">
										<figcaption>Commuting</figcaption>
									</figure>
									<div class="description-trigger">
										<div class="icon"></div>
									</div>
									<div class="info">
										<h3 class="name">King's Cross Tube Station</h3>
										<p class="description">The tube station is literally next to our front door. No hiking from the station for you! You&rsquo;ll have to get your exercise elsewhere.</p>
										<a target="_blank" href="http://maps.google.com/maps?&z=10&q=51.530663+-0.123170&ll=51.530663+-0.123170">See on Google Maps</a>
									</div>
								</li>
								<li data-id="manchester-05">
									<figure>
										<img src="images/map-legend-Record_v_3dfdb3.png" alt="">
										<figcaption>Rock out</figcaption>
									</figure>
									<div class="description-trigger">
										<div class="icon"></div>
									</div>
									<div class="info">
										<h3 class="name">Scala and Big Chill House</h3>
										<p class="description">You want DJs? Gigs? Someplace to cut loose? Both Scala and Big Chill House are within a few minutes walking distance. Air guitar optional.</p>
										<a target="_blank" href="http://maps.google.com/maps?&z=10&q=51.530663+-0.123170&ll=51.530663+-0.123170">See on Google Maps</a>
									</div>
								</li>
								<li data-id="manchester-06">
									<figure>
										<img src="images/map-legend-Food_v_546d17.png" alt="">
										<figcaption>Eat up</figcaption>
									</figure>
									<div class="description-trigger">
										<div class="icon"></div>
									</div>
									<div class="info">
										<h3 class="name">Caravan</h3>
										<p class="description">If you&rsquo;ve tried all the restaurants in St Pancras station, try Caravan. Seasonal-inspired mini sharing plates and killer coffee.</p>
										<a target="_blank" href="http://maps.google.com/maps?&z=10&q=51.530663+-0.123170&ll=51.530663+-0.123170">See on Google Maps</a>
									</div>
								</li>
								<li data-id="manchester-07">
									<figure>
										<img src="images/map-legend-Nerd-Out_v_66e839.png" alt="">
										<figcaption>Nerd Out</figcaption>
									</figure>
									<div class="description-trigger">
										<div class="icon"></div>
									</div>
									<div class="info">
										<h3 class="name">The British Library</h3>
										<p class="description">The British Library is a few minutes walk. Not just books &ndash; they have great exhibitions and a caf&eacute; with amazing cake. Don&rsquo;t blame your sugar buzz on us.</p>
										<a target="_blank" href="http://maps.google.com/maps?&z=10&q=51.530663+-0.123170&ll=51.530663+-0.123170">See on Google Maps</a>
									</div>
								</li>
								<li data-id="manchester-08">
									<figure>
										<img src="images/map-legend-Shopping_v_94d162.png" alt="">
										<figcaption>Retail Therapy</figcaption>
									</figure>
									<div class="description-trigger">
										<div class="icon"></div>
									</div>
									<div class="info">
										<h3 class="name">The Brunswick</h3>
										<p class="description">The Brunswick is a brisk 15-minute walk away. It&rsquo;s got high street shops, restaurants and cafes, and a Curzon cinema.</p>
										<a target="_blank" href="http://maps.google.com/maps?&z=10&q=51.530663+-0.123170&ll=51.530663+-0.123170">See on Google Maps</a>
									</div>
								</li>
							</ul>
						</div>
						<div id="map-manchester" class="map">
							<div class="canvas">
								<div id="map-manchester"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- #include file = "includes/share.html" -->
			</div>
		</div>
	</div>

	<!-- Footer -->
	<!-- #include file = "includes/footer.html" -->
	<script>
		var londonPins,
			manchesterPins;

		londonPins = [
			{
				id: 'london-01',
				lat: 51.53261,
				lng: -0.125744,
				pin: 'images/map-pin-autotreader_v_201be9.png'
			},
			{
				id: 'london-02',
				lat: 51.531427,
				lng: -0.126133,
				pin: 'images/map-pin-Crown_v_1259ed.png'
			},
			{
				id: 'london-03',
				lat: 51.530466,
				lng: -0.125322,
				pin: 'images/map-pin-Rooster_v_af6f19.png'
			},
			{
				id: 'london-04',
				lat: 51.530467,
				lng: -0.123839,
				pin: 'images/map-pin-Train_v_836421.png'
			},
			{
				id: 'london-05',
				lat: 51.530576,
				lng: -0.120704,
				pin: 'images/map-pin-Record_v_3b4576.png'
			},
			{
				id: 'london-06',
				lat: 51.535713,
				lng: -0.124941,
				pin: 'images/map-pin-Food_v_e579f8.png'
			},
			{
				id: 'london-07',
				lat: 51.529972,
				lng: -0.127676,
				pin: 'images/map-pin-Nerd-Out_v_5e09b9.png'
			},
			{
				id: 'london-08',
				lat: 51.535745,
				lng: -0.125074,
				pin: 'images/map-pin-Shopping_v_f1a2b8.png'
			}
		]

		manchesterPins = [
			{
				id: 'manchester-01',
				lat: 65.53261,
				lng: -0.125744,
				pin: 'images/map-pin-autotreader_v_201be9.png'
			},
			{
				id: 'manchester-02',
				lat: 51.531427,
				lng: -0.126133,
				pin: 'images/map-pin-Crown_v_1259ed.png'
			},
			{
				id: 'manchester-03',
				lat: 51.530466,
				lng: -0.125322,
				pin: 'images/map-pin-Rooster_v_af6f19.png'
			},
			{
				id: 'manchester-04',
				lat: 51.530467,
				lng: -0.123839,
				pin: 'images/map-pin-Train_v_836421.png'
			},
			{
				id: 'manchester-05',
				lat: 51.530576,
				lng: -0.120704,
				pin: 'images/map-pin-Record_v_3b4576.png'
			},
			{
				id: 'manchester-06',
				lat: 51.535713,
				lng: -0.124941,
				pin: 'images/map-pin-Food_v_e579f8.png'
			},
			{
				id: 'manchester-07',
				lat: 51.529972,
				lng: -0.127676,
				pin: 'images/map-pin-Nerd-Out_v_5e09b9.png'
			},
			{
				id: 'manchester-08',
				lat: 51.535745,
				lng: -0.125074,
				pin: 'images/map-pin-Shopping_v_f1a2b8.png'
			}
		]
	</script>

	<script type="text/javascript" src="scripts/awesome-locations-google-map.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc2sdTNzRygcaD6Bp_jWxTcJd7teAr3yU"></script>
</body>
</html>