{{#hasMixin}}@mixin {{mixinName}} {
	background: url("{{{sprite}}}") no-repeat;
	.no-svg & {
		background-image: url("/images/bg-sprite.png");
	}
}

{{#hasCommon}}.{{commonName}} {
	@include {{mixinName}};
}

{{/hasCommon}}{{/hasMixin}}{{^hasMixin}}{{#hasCommon}}.{{/hasCommon}}{{^hasCommon}}%{{/hasCommon}}{{commonName}} {
	background: url({{{sprite}}}) no-repeat;
}



{{/hasMixin}}{{#shapes}}

@mixin {{#selector.shape}}{{#classname}}{{expression}}{{/classname}}{{^last}},
{{/last}}{{/selector.shape}} {
	{{^hasCommon}}{{#hasMixin}}@include {{mixinName}};{{/hasMixin}}{{^hasMixin}}@extend %{{commonName}};{{/hasMixin}}
	{{/hasCommon}}background-position: {{position.relative.xy}};{{#dimensions.inline}}
	width: {{width.outer}}px;
	height: {{height.outer}}px;{{/dimensions.inline}}
}{{#dimensions.extra}}

{{#selector.dimensions}}{{expression}}{{^last}},
{{/last}}{{/selector.dimensions}} {
	width: {{width.outer}}px;
	height: {{height.outer}}px;
}{{/dimensions.extra}}

{{/shapes}}